<div class="container">
  <div class="row">
    <div class="col-7 mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-5">Pago Linea de Crédito</h1>
        </div>

        <div class="col-12">

        </div>
    
      </div>
    </div>

    <div class="col-5">
      <div class="h-75 p-5 bg-body-tertiary border rounded-3 mt-5 ms-4">
        <h4 class="d-flex justify-content-between">Seguro Accidentes</h4>
        <p>Contrata Seguro Accidentes, oferta exclusiva para el presente mes.</p>
        <!-- <p>Valor mensual: <strong>{{ datosUsuarioActual.datosUsuario.ofertasProductos.seguroOferta| pesos }}</strong></p> -->
        <button class="btn btn-outline-secondary" type="button">Contratar Seguro</button>
      </div>
    </div>

  </div>
</div>