<div class="col-12 mt-4">

  <div class="d-flex justify-content-md-between flex-column flex-md-row">
    <div class="d-flex align-items-center mb-5">
      <p class="mb-0 me-3">Buscar transferencia</p>
      <form class="d-flex ml-5" role="search" >
        <input class="form-control me-2 buscador" type="search" aria-label="Search" [formControl]="busquedaTransferencias">
      </form>
    </div>
  </div>

  <div>
    <table class="table table-productos" role="table">
      <thead role="columnheader"ead role="rowgroup">
        <tr role="row">
          <th role="columnheader" (click)="ordenarDatos('fecha'); onHeaderClick()">
            <div class="d-flex">
              Fecha
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'fecha'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'fecha'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('destinatario'); onHeaderClick()">
            <div class="d-flex">
              Destinatario
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'destinatario'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'destinatario'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('mensaje'); onHeaderClick()">
            <div class="d-flex">
              Mensaje
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'mensaje'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'mensaje'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('cargo'); onHeaderClick()">
            <div class="d-flex">
              Cargo
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'cargo'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'cargo'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('saldo'); onHeaderClick()">
            <div class="d-flex">
              Saldo
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'saldo'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'saldo'">
                expand_more
              </span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr *ngFor="let transaccion of paginatedTransacciones" role="row">
          <td role="cell">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</td>
          <td role="cell">{{ transaccion.destinatario }}</td>
          <td role="cell">{{ transaccion.mensaje }}</td>
          <td role="cell">{{ transaccion.cargo !== '0' ? (transaccion.cargo | pesos) : '' }}</td>
          <td role="cell">{{ transaccion.saldo !== '0' ? (transaccion.saldo | pesos) : '' }}</td>
        </tr>
      </tbody>
    </table>

    <app-paginador [datosPaginador]="transacciones" [itemsPerPage]="5" [currentPage]="1" (paginatedData)="paginatedTransacciones = $event" [datosOrdenados]="datosOrdenados"></app-paginador>

  </div>
</div>