<div class="col-12 mt-4">

  <div class="p-4 pt-0 px-md-4">
    <div class="d-flex align-items-md-center flex-column flex-md-row">
      <p class="mt-0 mt-md-3 me-0 me-md-3">Buscar transferencia</p>
      <form class="d-flex ml-5" role="search" >
        <input class="form-control me-2 buscador" type="search" aria-label="Search" [formControl]="busquedaTransferencias">
      </form>
    </div>
  </div>

  <div>
    <table class="table table-striped tabla-ultimas-transferencias" role="table">
      <thead role="columnheader"ead role="rowgroup">
        <tr role="row">
          <th role="columnheader" (click)="ordenarDatos('fecha'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Fecha
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'fecha'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'fecha'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('destinatario'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Destinatario
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'destinatario'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'destinatario'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('mensaje'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Mensaje
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'mensaje'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'mensaje'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('cargo'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Cargo
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'cargo'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'cargo'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('saldo'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Saldo
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'saldo'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'saldo'">
                expand_more
              </span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr *ngFor="let transaccion of paginatedTransacciones" role="row">
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ transaccion.destinatario }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ transaccion.mensaje }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ transaccion.cargo !== '0' ? (transaccion.cargo | pesos) : '' }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ transaccion.saldo !== '0' ? (transaccion.saldo | pesos) : '' }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <app-paginador [datosPaginador]="transacciones" [itemsPerPage]="5" [currentPage]="1" (paginatedData)="paginatedTransacciones = $event" [datosOrdenados]="datosOrdenados"></app-paginador>

  </div>
</div>