
<header class="mi-banco-header ps-3 pe-0 px-md-3 py-0">
  <nav class="navbar navbar-expand-lg" #header [@changeDivSize]="currentState">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/mibanco/">
        <div class="logo-mi-banco"></div>
      </a>
      <button #navbarToggler class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown" #navbarNavDropdown>
        <ul class="navbar-nav me-auto d-md-flex">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mibanco" routerLinkActive="active" (click)="ocultaDropdownMobile();">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mibanco/productos/cuenta-corriente/transferencias" routerLinkActive="active" (click)="ocultaDropdownMobile();">Transferencias</a>
          </li>
          <li class="nav-item menu-productos">
            <a class="nav-link d-flex" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
              <span class="material-symbols-outlined icono-dropdown">
                expand_more
              </span>
            </a>
            <ul class="dropdown-menu p-0 animate slideIn">
              <li>
                <a class="dropdown-item" routerLink="/mibanco/productos/resumen" routerLinkActive="active" (click)="ocultaDropdownMobile();">Mis Productos</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/mibanco/productos/cuenta-corriente/ultimos-movimientos" routerLinkActive="active" (click)="ocultaDropdownMobile();">Cuenta Corriente</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/mibanco/productos/linea-credito" routerLinkActive="active" (click)="ocultaDropdownMobile();">Línea de Crédito</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/mibanco/productos/visa" routerLinkActive="active" (click)="ocultaDropdownMobile();">Visa</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mibanco/productos/seguros" routerLinkActive="active" (click)="ocultaDropdownMobile();">Seguros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="ocultaDropdownMobile(); abrirModalConsulta()">Consultas</a>
          </li>
          <li class="nav-item ms-md-2 d-none d-lg-none">
            <div class="d-flex">
              <a class="nav-link" href="javascript:void(0);" (click)="abrirModalEjecutivo()">Mi ejecutivo</a>
            </div>
          </li>
        </ul>
        <div class="d-flex align-items-center menu-usuario border-gradient border-gradient-green">
          <hr class="d-block">
          <span class="me-3 nombre-usuario d-block" id="nombreUsuario">
            {{ primer_nombre }}
            <span class="d-inline-block d-lg-none d-xl-inline-block">{{ segundo_nombre }}</span> 
            {{ apellido_paterno }}
            <span class="d-inline-block d-lg-none d-xl-inline-block">{{ apellido_materno }}</span>
          </span>
          <a class="btn-datos-usuario" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined icono-datos-usuario dorado" style="font-variation-settings: 'FILL' 1">
              settings
            </span>
          </a>
          <hr class="d-block">
          <ul class="dropdown-menu dropdown-menu-end dropdown-usuario p-0 animate slideIn" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item text-uppercase" routerLink="/mibanco/mis-datos" (click)="ocultaDropdownMobile();">Mis datos</a>
            </li>
            <li>
              <a class="dropdown-item text-uppercase" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modalEjecutivo" (click)="ocultaDropdownMobile();">Mi ejecutivo</a>
            </li>
            <li>
              <a class="dropdown-item text-uppercase" routerLink="/mibanco/ayuda/emergencias-bancarias" (click)="ocultaDropdownMobile();">Emergencias</a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center text-uppercase" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modalLogOut" (click)="ocultaDropdownMobile();">
                <span class="ico-cerrar-sesion"></span>
                <span>
                  Cerrar sesión
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Modal consultas -->
<div class="modal posicion fade" id="modalConsultas" tabindex="-2" aria-labelledby="modalConsultas" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <div>
          <span class="titulo-header">Consultas</span>
        </div>
        <button href="javascript:void(0);" class="btn-cerrar-modal d-flex align-items-center justify-content-center" aria-label="Close" data-bs-dismiss="modal">
          <span class="material-symbols-outlined">
            close
          </span>
        </button>
      </div> 
      <mb-modal-consultas *ngIf="modalConsultaAbierto" (consultaCancelada)="modalConsultaAbierto = false"></mb-modal-consultas>
    </div>
  </div>
</div>

<!-- Modal ejecutivo -->
<div class="modal posicion fade" id="modalEjecutivo" tabindex="-1" aria-labelledby="modalEjecutivo" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <div>
          <span class="titulo-header">Tu ejecutivo</span>
        </div>
        <button href="javascript:void(0);" class="btn-cerrar-modal d-flex align-items-center justify-content-center"
          aria-label="Close" data-bs-dismiss="modal">
          <span class="material-symbols-outlined">
            close
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <div class="card card-modal">
                  <p>Datos de tu ejecutivo</p>
                  <span class="titulo-modal">Jose Andres Gonzalez Herrara</span>
                </div>
                <br>
                <div class="d-flex align-items-center mb-3 ms-0 ms-sm-3">
                  <span class="material-symbols-outlined me-3 dorado">
                    mail
                  </span>
                  <p class="m-0">jose&#64;mibanco.cl</p>
                </div>
                <div class="d-flex align-items-center mb-3 ms-0 ms-sm-3">
                  <span class="material-symbols-outlined me-3 dorado">
                    person_pin_circle
                  </span>
                  <p class="m-0">Sucursal Manuel Montt, Temuco</p>
                </div>
                <div class="d-flex align-items-center mb-2 ms-0 ms-sm-3">
                  <span class="material-symbols-outlined me-3 dorado">
                    phone_in_talk
                  </span>
                  <p class="m-0">+56 85 245 6987</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- Botones -->
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primario" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal cerrar sesion -->
<div class="modal posicion fade" id="modalLogOut" tabindex="-1" aria-labelledby="modalLogOut" data-bs-backdrop="static"
  data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="icono material-symbols-outlined d-block me-3 mensaje advertencia">
            warning
          </div>
          <div>
            <strong class="d-block">Estas cerrando tu sesión.</strong>
            <small class="d-block">Para confirmar da click en el botón.</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end flex-md-row">
          <button type="button" class="btn btn-secundario me-3" data-bs-dismiss="modal" (click)="ocultaDropdownMobile()">Cancelar</button>
          <button type="button" class="btn btn-primario" data-bs-dismiss="modal" (click)="logout();">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal timeout -->
<div class="modal posicion fade" id="modalTimeOut" tabindex="-1" aria-labelledby="modalTimeOut" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="icono material-symbols-outlined d-block me-3 mensaje advertencia">
            warning
          </div>
          <div>
            <strong class="d-block">Por el tiempo transcurrido se cerrar tu sesión</strong>
            <small class="d-block">Tu sesión se cerrará en <strong><span id="contador" class="dorado">30</span></strong> segundos.</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end flex-md-row">
          <button type="button" class="btn btn-secundario me-3" data-bs-dismiss="modal" (click)="ocultaDropdownMobile(); mantenerSesion();">Mantener sesión abierta</button>
          <button type="button" class="btn btn-primario" data-bs-dismiss="modal" (click)="logout();">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop-custom-menu-mobile" *ngIf="mostrarBackdropMenuMobile" [@fadeInOut]></div>
<div class="backdrop-custom" *ngIf="mostrarBackdropCustomModal" [@fadeInOut]></div>