<header class="mi-banco-header p-3">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/mibanco/">
        <div class="logo-mb-blanco"></div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" #navbarNavDropdown>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mibanco" (click)="onLinkClick()">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mibanco/productos/cuenta-corriente']"  [queryParams]="{tab: 'transferencias'}" (click)="onLinkClick()">Transferencias</a>
          </li>
          <li class="nav-item menu-transacciones">
            <a class="nav-link d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </a>
            <ul class="dropdown-menu p-0">
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/productos/resumen" (click)="onLinkClick()">Mis Productos</a></li>
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/productos/cuenta-corriente" (click)="onLinkClick()">Cuenta Corriente</a></li>
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/productos/linea-credito" (click)="onLinkClick()">Línea de Crédito</a></li>
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/productos/visa" (click)="onLinkClick()">Visa</a></li>
            </ul>
          </li>
          <li class="nav-item menu-transacciones">
            <a class="nav-link d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Seguros
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </a>
            <ul class="dropdown-menu p-0">
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/productos/seguros/seguros-contratados" (click)="onLinkClick()">Resumen Seguros</a></li>
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/productos/seguros/contratar-seguro" (click)="onLinkClick()">Contratar Seguro</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mibanco/contactanos" (click)="onLinkClick()">Contactanos</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <span class="navbar-text me-3 nombre-usuario" id="nombreUsuario">{{ primerNombre }} {{ segundoNombre }} {{ apellidoPaterno }} {{ apellidoMaterno }}</span>
          <div class="dropdown">
            <a class="btn-header" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="material-symbols-outlined">
                settings
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/mis-datos" (click)="onLinkClick()">Mis datos</a></li>
              <li><a class="dropdown-item px-4 py-3" routerLink="/mibanco/ayuda/emergencias-bancarias" (click)="onLinkClick()">Emergencias</a></li>
              <li>
                <a class="dropdown-item px-4 py-3 d-flex align-items-center" href="#" data-bs-toggle="modal" data-bs-target="#modalLogOut" (click)="onLinkClick()">
                  <span class="material-symbols-outlined">
                    close
                  </span>
                  <span>
                    Cerrar sesión
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="modalLogOut" tabindex="-1" aria-labelledby="modalLogOutLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas cerrando tu sesion</p>
        <p>Para confirmar da click en el boton</p>
        <button type="button" class="btn btn-primary" (click)="logout()" data-bs-dismiss="modal">Cerrar sesion</button>
      </div>
    </div>
  </div>
</div>