
.alert-primary {
  background-color: $aviso;
  color: $blanco ;
  border-color: $aviso-borde;
  font-weight: 600;
  color: $blanco;
  padding: 18px 22px !important;
  margin: 0 !important;
  h5 {
    color: $blanco !important;
  }
}