.backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000 !important;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.backdrop-custom-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500 !important;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  @media (min-width: $md) {
    display: none;
  }
}

.modal-backdrop {
  display: none !important;
}