.banner-principal {
  background-image: url('../../../../assets/images/banner-home-credito-consumo.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}