nav.migas {
    // background-color: $gris-claro-uno;
    ol {
      display: flex;
      li {
        list-style: none;
        margin-right: 10px;
        &::after {
          content: "> ";
          margin-left: 10px;
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
}