
// Botones estandar
.btn {
  border-radius: 2rem;
  padding: 8px 20px;
  font-size: 16px;

  .btn-primario {
    background-color: $rojo;
    color: $blanco;
  }
}

// Botones para card
.btn-card {
  border-radius: 2rem;
  padding: 4px 12px;
  font-size: 14px;
  border: 1px solid;

  &.btn-primario {
    background-color: $rojo;
    color: $blanco;
    border-color: $rojo;
  }

  &.btn-secundario {
    background-color: $blanco;
    color: $gris-40;
    border-color: $gris-40;
  }
}

// Botone banner
.btn-banner {
  border-radius: 2rem;
  padding: 8px 20px;
  font-size: 16px;
  background-color: $dorado;
  color: $blanco;
}