.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.184);
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;

  &.card-transferencia {
    @media (max-width: $sm) {
      box-shadow: none !important;
    }
  }

  // Card de productos home
  &.card-productos {
    padding: 24px;
    @include animacion-card-producto;
    .nombre-producto {
      font-weight: bold;
      font-size: 18px;
      color:  $tinto;
    }
    .numero-producto {
      font-size: 14px;
      font-weight: 600;
      color: $gris-40;
    }
    .texto-montos {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
      color: $gris-60;
      &.monto {
        font-weight: 800;
        color: $dorado;
        @media (min-width: $md) {
          margin-bottom: 20px;
        }
      }
      @media (min-width: $md) {
        margin-bottom: 0;
      }
      @media (min-width: $lg) {
        margin-bottom: 20px;
      }
    }
    &.hover-productos-inicio:hover {
      background-color: $gris-00;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    }
  }

  // Card banner grande
  &.card-banner {
    &:hover {
      box-shadow: 0 2px 8px rgba(84, 84, 84, 0.4);
    }
  }
}
