.carousel {
  padding: 0 4px 4px 4px;
  border-radius: 5px;
  z-index: 0;
  min-height: fit-content !important;
  .carousel-inner {
    margin: 0 auto !important;
    width: 100%;
    border-radius: 5px;
    .imagen-der {
      background-position: left top;
      background-size: cover;
    }
    .imagen-izq {
      background-position: right top;
      background-size: cover;
    }
  }

  .carousel-item {
    height: fit-content;
    padding: 12px;
    .ancho-info {
      margin: 0 auto 32px auto;
      width: 100%;
      max-width: 1272px;
      @media (min-width: $md) {
        margin: 24px auto 32px auto;
      }
    }


    .info-slide-izq {
      background-color: rgb(255, 255, 255, .85);
      z-index: 1;
      width: 100%;
      min-height: fit-content !important;
      border-radius: 9px;
      padding: 18px;
      @media (min-width: $sm) and (max-width: $md) {
        width: 60%;
        padding: 24px;
      }
      @media (min-width: $md) {
        width: 50%;
        //height: 350px;
        padding: 32px;
      }
      @media (min-width: $lg) {
        height: 320px;
      }
      
    }
    .info-slide-der {
      background-color: rgb(255, 255, 255, .85);
      z-index: 1;
      width: 100%;
      min-height: fit-content !important;
      border-radius: 9px;
      padding: 18px;
      @media (min-width: $sm) and (max-width: $md) {
        margin-left: 40%;
        width: 60%;
        padding: 24px;
      }
      @media (min-width: $md) {
        width: 50%;
        margin-left: 50%;
        //height: 350px;
        padding: 32px;
      }
      @media (min-width: $lg) {
        height: 320px;
      }
    }

    .contenido-slide {
      height: fit-content;
      .pre-titulo {
        font-size: 16px;
        line-height: 16px;
        color: $tinto;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        &.dorado {
          color: $dorado;
          font-weight: 700;
        }
        @media (min-width: $md) {
          font-size: 22px;
        }
      }
      .titulo {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 26px;
        font-weight: 900;
        color: $tinto;
        text-transform: uppercase;
        display: block;
        padding: 4px 0 8px 0;
        @media (min-width: $md) {
          font-size: 34px;
          line-height: 36px;
        }
      }
      .bajada {
        font-size: 14px;
        line-height: 18px;
        color: $negro;
        display: block;
        font-weight: 500;
        @media (min-width: $md) {
          font-size: 18px;
          line-height: 18px;
        }
      }
      .monto-slide {
        font-size: 28px;
        font-weight: 800;
        color: $dorado;
        display: block;
        margin-top: 10px;
        @media (min-width: $md) {
          font-size: 30px;
          line-height: 28px;
        }
      }
    }

    .call-to-action {
      margin-top: 24px;
      .texto-legal {
        margin-top: 12px;
        font-size: 10px;
        color: $tinto;
        display: block;
      }
    }
  }
  .carousel-indicators {
    height: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    button {
      border-radius: 5px;
      border: none;
      width: 30px;
      height: 10px;
      background-color: $blanco;
      &.active {
        background-color: $dorado;
      }
    }
    //bottom: -10px;
  }
}