// Colores para tipografia
.tinto {
  color: $tinto;
}

.dorado {
  color: $dorado;
}

.dorado-oscuro {
  color: $dorado-oscuro;
}

// Color de fondo
.fondo-dorado {
  background-color: $dorado-claro;
}
.fondo-gris-01 {
  //background-color: $gris-01;
  background-image: linear-gradient(0.122turn, rgb(237, 237, 237) 1%, rgb(215, 215, 215) 100%);
}