// Colores para tipografia
.rojo {
  color: $tinto;
}

.dorado {
  color: $dorado;
}

.dorado-oscuro {
  color: $dorado-oscuro;
}

// Color de fondo
.fondo-dorado {
  background-color: $dorado-claro;
}
.fondo-gris-01 {
  background-color: $gris-01;
}