

.modal {
  z-index: 4000 !important;
  border: none !important;
  &.posicion{
    position: absolute;
  }

  // Estilos para modal en mobile
  @media (max-width: $sm) {
    &.posicion {
      position: fixed;
      &.fade {
        bottom: -100%;
        transition: opacity 0.3s linear, bottom 0.3s ease-out;
        &.show {
          bottom: 0;
          .modal-dialog {
            bottom: 0;
            left: 0;
            right: 0;
            display: inherit;
            height: auto;
            align-items: inherit;
            min-height: inherit;
            max-height: 100vh;
            overflow-y: auto;
          }
        }
        .modal-dialog {
          bottom: -100%;
          transition: opacity 0.3s linear, bottom 0.3s ease-out;
        }
      }
    }
    .modal-dialog {
      position: fixed;
      margin: 0 !important;
    }
  }
  
  // Estilos para modal en desktop
  .modal-dialog {
    min-height: calc(100% - var(--bs-modal-margin)* 2);
    display: flex;
    align-items: center;
  }
  .modal-body {
    padding: 24px;
  }
  .modal-content {
    border: none !important;
    border-radius: 5px 5px 0 0;
    top: 0;
    @media (min-width: $sm) {
      border-radius: 5px;
      border: none !important;
    }
  }

}

.modal.top {
  top: 0;
  bottom: auto;
}
.modal.bottom {
  bottom: 0;
  top: auto;
}



