.page-link {
  padding: 5px 10px;
  height: 30px;
  display: flex;
  align-items: center;
  color: $rojo;
  margin-top: 10px;
  color: #000;
  &:hover {
    color: $rojo;
  }
  &.active {
    background-color: $rojo;
    color: $blanco;
    border-color: $rojo;
    &:hover {
      color: $blanco;
    }
  }
}