.pagination {
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  margin-top: 10px;
}

.page-link {
  border-radius: 0.375rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $rojo;
  margin-top: 10px;
  color: #000;
  text-align: center;
  margin: 5px;
  border: none;
  &:hover {
    color: $rojo;
  }
  &.active {
    background-color: $rojo;
    color: $blanco;
    border-color: $rojo;
    font-weight: 800;
    &:hover {
      color: $blanco;
    }
  }
}