// Tabs para cuenta corriente
.tabs-cta-cte {
  
  .nav {
    background-color: $gris-01;
    border-radius: 5px 5px 0 0 !important;
    padding: 16px 24px;
  }
  .nav-tabs {
    border-bottom: none;
    .nav-link {
      //padding: 20px 30px;
      &.active {
        font-weight: bold;
      }
    }
  }
  .tab-pane {
    background-color: $blanco;
    border-radius: 0 0 5px 5px;
  
    &.movimientos {
      border-top-right-radius: 0.375rem;
    }
  
    &.transferencias, &.cartola {
      border-top-left-radius: 0.375rem;
      border-top-right-radius: 0.375rem;
    }
  
  }
}

