// Tabs para cuenta corriente
.tabs-cta-cte {
  .nav {
    background-color: $gris-01;
    border-radius: 5px 5px 0 0 !important;
    padding: 16px 24px;
  }
  .nav-tabs {
    border-bottom: none;
    .nav-link {
      &.active {
        font-weight: bold;
      }
    }
  }
}

.tabs-transferencias {
  .nav {
    background-color: $blanco;
    border-radius: 5px 5px 0 0 !important;
    padding: 0;
    @media (max-width: $md) {
      button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

