

// Encabe
h1, h2, h3 {
  color: $tinto;
  margin: 0 0 16px 0;
  font-family: "Noto Serif", serif;
  font-weight: 700;
}

h4, h5, h6 {
  color: $gris-60;
  font-weight: 600;
  margin: 0 0 16px 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 24px;
  padding-left: 42px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 28 32'%3E%3Cpath fill='%23ff9a24' d='m19.38 17.8-1.39-.89-4.1 2.61L0 10.67v1.79l13.89 8.85 5.49-3.51z'/%3E%3Cpath fill='%23ff9a24' d='m8.4 14.2 1.4.89 4.11-2.61 13.88 8.85v-1.79l-13.88-8.85L8.4 14.2zM13.91 0 0 8.86l1.39.89 12.52-7.97 13.88 8.85V8.85L13.91 0z'/%3E%3Cpath fill='%23ff9a24' d='m22.18 19.58-1.39-.89-6.9 4.4v-.01L0 14.23v1.79l13.89 8.85 8.29-5.29zM5.6 12.42l1.4.89 6.91-4.4v.01l13.88 8.85v-1.79L13.91 7.13 5.6 12.42z'/%3E%3Cpath fill='%23ff9a24' d='m2.8 10.64 1.39.9 9.72-6.2v.01l13.88 8.85v-1.79L13.91 3.56 2.8 10.64zm22.19 10.72-1.4-.9-9.7 6.2v-.01L0 17.8v1.79l13.89 8.85 11.1-7.08z'/%3E%3Cpath fill='%23ff9a24' d='M13.89 30.22 0 21.37v1.78L13.89 32l13.9-8.86-1.4-.89-12.5 7.97z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 32px auto;
  @media (min-width: $md) {
    margin: 42px 0 48px 0;
  }
  span {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    color: $gris-40;
  }
  @media (max-width: $md) {
    margin: 24px 0;
    background-size: 24px auto;
    background-position: left 4px;
    span {
      display: none;
    }
  }
}

.monto-transferido {
  margin: 0;
  color: $dorado;
  font-size: 32px;
  @media (min-width: $md) {
    margin: 0 20%;
  }
}

p {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

strong {
  font-weight: 700;
}

.pasos-transferencia {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  text-align: center;
  border: 1px solid $tinto;
  border-radius: 50%;
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;
}

span.caracteres-textarea {
  font-size: 12px;
}

.titulo-ofertas {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: $tinto;
  @media (max-width: $sm) {
    font-size: 24px;
    line-height: 26px;
  }
}

