
strong {
  font-weight: 700;
}

// Encabe
h1, h2, h3 {
  color: $gris-80;
  font-weight: 700;
  margin: 0 0 16px 0;
}

h4, h5, h6 {
  color: $gris-60;
  font-weight: 600;
  margin: 0 0 16px 0;
}

h1 {
  margin: 48px 0;
  padding-left: 42px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' baseProfile='tiny' version='1.2' viewBox='0 0 32 32'%3E%3Cimage width='33' height='33' transform='translate(-.15 -.3)' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGUlEQVRYhe3BAQEAAACAkP6v7ggKAAAAgAYRJQABOn8KjAAAAABJRU5ErkJggg=='/%3E%3Cg fill='%23ff1744'%3E%3Cpath d='m21.49 17.8-1.4-.89-4.1 2.61L2.1 10.67v1.79l13.89 8.85 5.5-3.51z'/%3E%3Cpath d='m10.5 14.2 1.41.89 4.1-2.61 13.89 8.85v-1.79l-13.89-8.85-5.51 3.51zM16.01 0 2.1 8.86l1.4.89 12.51-7.97 13.89 8.85V8.85L16.01 0z'/%3E%3Cpath d='m24.29 19.58-1.4-.89-6.9 4.4v-.01L2.1 14.23v1.79l13.89 8.85 8.3-5.29zM7.7 12.42l1.41.89 6.9-4.41v.02l13.89 8.85v-1.79L16.01 7.13 7.7 12.42z'/%3E%3Cpath d='m4.9 10.64 1.4.9 9.71-6.2v.01L29.9 14.2v-1.79L16.01 3.56 4.9 10.64zM27.1 21.36l-1.41-.9-9.7 6.2v-.01L2.1 17.8v1.79l13.89 8.85 11.11-7.08z'/%3E%3Cpath d='M15.99 30.22 2.1 21.37v1.78L15.99 32l13.91-8.86-1.41-.89-12.5 7.97z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 8px;
  background-size: 32px auto;
  span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    color: $gris-40;
  }
  @media (max-width: $md) {
    margin: 24px 0;
    background-size: 24px auto;
    background-position: left 4px;
  }
}

p {
  font-weight: 400;
}

.pasos-transferencia {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  text-align: center;
  border: 1px solid $rojo;
  border-radius: 50%;
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;
}

span.caracteres-textarea {
  font-size: 12px;
}

.titulo-ofertas {
  font-size: 32px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: $gris-80;
}

