<div class="col-12">
  <div class="d-flex align-items-md-center flex-column flex-md-row justify-content-md-between mb-4 px-4">
    <div class="d-flex flex-column flex-md-row align-items-md-center">
      <p class="mb-3 mb-md-0 me-3">Buscar destinatario</p>
      <form class="d-flex ml-5" role="search" >
        <input class="form-control me-2 buscador" type="search" aria-label="Search" [formControl]="busquedaDestinatarios">
      </form>
    </div>
    <hr class="d-md-none my-4">
    <button class="btn btn-primario" type="button" data-bs-toggle="offcanvas" data-bs-target="#crearDestinatarioCanvas" (click)="abrirOffcanvas()">
      Agregar nuevo destinatario
    </button>
  </div>
  <!-- Tabla -->
  <div *ngIf="tablaConDatos">
    <div class="contenedor-tabla">
      <table class="table table-striped tabla-agenda" role="table">
        <thead role="columnheader" role="rowgroup">
          <tr role="row">
            <th role="columnheader" (click)="ordenarDatos('nombre'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda">
                    Nombre
                  </div>
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'nombre'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'nombre'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('apodo'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda">
                    Apodo
                  </div>
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'apodo'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'apodo'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('rut'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda">
                    Rut
                  </div>
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'rut'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'rut'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('email'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda">
                    Email
                  </div>
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'email'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'email'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('banco'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda">
                    Banco
                  </div>
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'banco'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'banco'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('tipo_cuenta'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda">
                    Tipo de cuenta
                  </div>
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'tipo_cuenta'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'tipo_cuenta'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('numero_cuenta'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda">
                    N° de cuenta
                  </div>
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'numero_cuenta'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'numero_cuenta'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader">
              <div class="d-flex align-items-center">
                <span class="ancho">
                  <div class="contenido-celda ">
                    Acciones
                  </div>
                </span>
                <span>&nbsp;</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr *ngFor="let agenda of paginatedAgenda">
            <td role="cell" class="ancho">
              <span class="contenido-celda">{{ agenda.nombre }}</span>
            </td>
            <td role="cell" class="ancho">
              <span class="contenido-celda">{{ agenda.apodo }}</span>
            </td>
            <td role="cell" class="ancho">
              <span class="contenido-celda">{{ agenda.rut | rut }}</span>
            </td>
            <td role="cell" class="ancho">
              <span class="contenido-celda">{{ agenda.email }}</span>
            </td>
            <td role="cell" class="ancho">
              <span class="contenido-celda">{{ agenda.banco }}</span>
            </td>
            <td role="cell" class="ancho">
              <span class="contenido-celda">{{ agenda.tipo_cuenta }}</span>
            </td>
            <td role="cell" class="ancho">
              <span class="contenido-celda">{{ agenda.numero_cuenta }}</span>
            </td>
            <td role="cell" class="ancho py-0">
              <div class="contenido-celda">
                <div class="contenedor-acciones d-flex align-content-start justify-content-md-between">
                  <!-- Editar datos destinatario -->
                  <button data-bs-toggle="offcanvas" data-bs-target="#editarDestinatarioCanvas" aria-controls="staticBackdrop" (click)="abrirOffcanvasEdicion(agenda.id)">
                    <span class="material-symbols-outlined">
                      edit
                    </span>
                  </button>
                  <!-- Eliminar destinatario -->
                  <button (click)="abrirModalEliminar(agenda.id_agenda)">
                    <span class="material-symbols-outlined">
                      delete
                    </span>  
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
      <mb-paginador [datosPaginador]="agenda" [itemsPerPage]="10" [currentPage]="1" (paginatedData)="paginatedAgenda = $event" [datosOrdenados]="datosOrdenados"></mb-paginador>
  
    </div>
  </div>

  <div *ngIf="mostrarAlerta" class="ps-4 pe-4 pb-4">
    <mb-alertas [icono]="true" [tipoAlerta]="'warning'" [mensajeTitulo]="'No se encontraron resultados.'" [textoBoton]="'Ocultar'" [boton]="false" [tipoBoton]="'btn-secundario'"></mb-alertas>
  </div>
</div>

<!-- Sidenav para crear nuevo destinatario -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="crearDestinatarioCanvas">
  <div class="contenido-offcanvas">
    <!-- <mb-agregar-destinatario (mostrarBackdropCustomChange)="mostrarBackdropCustomOffcanvasEstado = $event" *ngIf="renderizarAgregarDestinatarioEstado" (cancelarEvent)="onCancelar()"></mb-agregar-destinatario> -->
    <mb-agregar-destinatario *ngIf="renderizarAgregarDestinatarioEstado" (cancelarEvent)="onCancelar()"></mb-agregar-destinatario>
  </div>
</div>

<!-- Sidenav para editar destinatario -->
<div class="offcanvas offcanvas-end" tabindex="-2" id="editarDestinatarioCanvas">
  <div class="contenido-offcanvas">
    <!-- <mb-editar-destinatario (mostrarBackdropCustomChange)="mostrarBackdropCustomOffcanvasEstado = $event"></mb-editar-destinatario> -->
    <mb-editar-destinatario (cancelarEvent)="onCancelar()"></mb-editar-destinatario>
  </div>
</div>

<!-- Modal eliminar destinatario -->
<div class="modal posicion fade" id="modalEliminarDestinatario" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalEliminarDestinatario" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <div>
          <span class="titulo-header">Eliminar destinatario</span>
        </div>
      </div>
      <div class="modal-body">
        <div id="usuarioAEliminar" *ngIf="!usuarioEliminado">
          <div class="d-flex align-items-center mb-2">
            <span class="icono material-symbols-outlined d-block me-3 mensajes advertencia">
              warning
            </span>
            <p class="mb-0">
              ¿Estas seguro de que quieres eliminar a <strong>{{ nombre }}</strong> de tu agenda?
            </p>
          </div>
        </div>
        <div id="usuarioEliminado" *ngIf="usuarioEliminado">
          <div class="d-flex align-items-center mb-2" id="eliminado" *ngIf="!errorServer">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <h4 class="d-block">
              El usuario fue eliminado correctamente.
            </h4>
          </div>
          <div id="errorServer" *ngIf="errorServer">
            <div class="d-flex align-items-center mb-2">
              <span class="icono material-symbols-outlined d-block me-3 mensajes error">
                Error
              </span>
              <h4 class="d-block">
                Hubo un error al eliminar el destinatario.
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end flex-row">
          <button type="button" class="btn btn-secundario" data-bs-dismiss="modal" *ngIf="consultaEliminacionDestinatario">Cancelar</button>
          <button type="button" class="btn btn-primario ms-3" (click)="eliminarDestinatario()" *ngIf="consultaEliminacionDestinatario">Eliminar</button>
          <button type="button" class="btn btn-secundario" data-bs-dismiss="modal" *ngIf="destinatarioEliminado" (click)="usuarioEliminadoConfirmado()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal nuevo destinatario -->
<div class="modal posicion fade" id="modalNuevoDestinatario" tabindex="-1" aria-labelledby="modalNuevoDestinatario" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body" *ngIf="enviandoNuevoDestinatario">
        <div class="d-flex">
          <span class="icono material-symbols-outlined mensajes cargando me-3">
            sync
          </span>
          <span class="mb-3 titulo-modal">Se estan guardando los nuevos datos del nuevo destinatario.</span>
        </div>
        <div class="w-100 text-center mt-3 pb-3">
          <span>Espera un momento por favor.</span>
        </div>
      </div>

      <div *ngIf="datosGuardadosNuevoDestinatario">
        <div class="modal-body">
          <div class="d-flex align-items-center">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <span class="titulo-modal">El nuevo destinatario se guardo con éxito.</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-end flex-row">
            <button type="button" class="btn btn-primario" data-bs-dismiss="modal" (click)="ocultaBackDrop()">Cerrar</button>
          </div>
        </div>
      </div>

      <div *ngIf="errorServerNuevoDestinatario">
        <div class="modal-body">
          <div class="d-flex align-items-center">
            <span class="icono material-symbols-outlined d-block me-3 mensajes error">
              Error
            </span>
            <div>
              <span class="titulo-modal mb-3">Hubo un error al intentar guardar el nuevo destinatario.</span>
              <span>Intento mas tarde.</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-end flex-row">
            <button type="button" class="btn btn-primario" data-bs-dismiss="modal" (click)="ocultaBackDrop()">Cerrar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal edición destinatario -->
<div class="modal posicion fade" id="modalEdicionDestinatario" tabindex="-1" aria-labelledby="modalEdicionDestinatario" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body" *ngIf="enviandoDestinatarioEditado">
        <div class="d-flex align-items-center">
          <span class="icono material-symbols-outlined mensajes cargando me-3">
            sync
          </span>
          <span class="mb-3 titulo-modal">Se estan guardando los nuevos datos del destinatario.</span>
        </div>
        <div class="w-100 text-center mt-3 pb-3">
          <span>Espera un momento por favor.</span>
        </div>
      </div>

      <div *ngIf="datosGuardadosDestinatarioEditado">
        <div class="modal-body">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <span class="mb-3 titulo-modal">El destinatario se edito con éxito.</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-end flex-row">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal" (click)="ocultaBackDrop()">Cerrar</button>
          </div>
        </div>
      </div>

      <div *ngIf="errorServerDestinatarioEditado">
        <div class="modal-body">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes error">
              Error
            </span>
            <div>
              <span class="titulo-modal">Hubo un error al intentar actualizar los datos del destinatario.</span>
              <span>Intento mas tarde.</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-end flex-row">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal" (click)="ocultaBackDrop()">Cerrar</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="backdrop-custom" *ngIf="!mostrarBackdropCustomModal" [@fadeInOut]></div>
<div class="backdrop-custom" *ngIf="mostrarBackdropCustomOffcanvasEstado" [@fadeInOut]></div>