<div class="container mb-5">
  <div class="row">

    <div class="col-12" id="centro-de-ayuda" *ngIf="titulos === 'centro-de-ayuda'">
      <h1>
        Centro de Ayuda
        <span>Acá podrás encontrar respuesta a alguna de tus dudas. Si no encuentras lo que necesitas puedes contactarnos dando click en el botón <strong>Consultas</strong> del menu.</span>
      </h1>
      <div class="accordion" id="accordionPreguntasFrecuentes">
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#preguntasCerradoUno" aria-expanded="false" aria-controls="preguntasCerradoUno">
              Beneficios
            </button>
          </h2>
          <div id="preguntasCerradoUno" class="accordion-collapse collapse" data-bs-parent="#accordionPreguntasFrecuentes">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#preguntasCerradoDos" aria-expanded="false" aria-controls="preguntasCerradoDos">
              Claves
            </button>
          </h2>
          <div id="preguntasCerradoDos" class="accordion-collapse collapse" data-bs-parent="#accordionPreguntasFrecuentes">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#preguntasCerradoTres" aria-expanded="false" aria-controls="preguntasCerradoTres">
              Créditos
            </button>
          </h2>
          <div id="preguntasCerradoTres" class="accordion-collapse collapse" data-bs-parent="#accordionPreguntasFrecuentes">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#preguntasCerradoCuatro" aria-expanded="false" aria-controls="preguntasCerradoCuatro">
              Inversiones
            </button>
          </h2>
          <div id="preguntasCerradoCuatro" class="accordion-collapse collapse" data-bs-parent="#accordionPreguntasFrecuentes">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#preguntasCerradoCinco" aria-expanded="false" aria-controls="preguntasCerradoCinco">
              Seguros
            </button>
          </h2>
          <div id="preguntasCerradoCinco" class="accordion-collapse collapse" data-bs-parent="#accordionPreguntasFrecuentes">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12" id="emergencias-bancarias" *ngIf="titulos === 'emergencias-bancarias'">
      <h1>Emergencias Bancarias</h1>
      <div class="accordion" id="accordionEmergencias">
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#emergenciaCerradoUno" aria-expanded="false" aria-controls="emergenciaCerradoUno">
              Bloqueo de Tarjeta de Crédito
            </button>
          </h2>
          <div id="emergenciaCerradoUno" class="accordion-collapse collapse" data-bs-parent="#accordionEmergencias">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#emergenciaCerradoDos" aria-expanded="false" aria-controls="emergenciaCerradoDos">
              Bloqueo de Tarjeta de Débito
            </button>
          </h2>
          <div id="emergenciaCerradoDos" class="accordion-collapse collapse" data-bs-parent="#accordionEmergencias">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#emergenciaCerradoTres" aria-expanded="false" aria-controls="emergenciaCerradoTres">
              Desbloqueo de Tarjetas sin uso en 12 meses
            </button>
          </h2>
          <div id="emergenciaCerradoTres" class="accordion-collapse collapse" data-bs-parent="#accordionEmergencias">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#emergenciaCerradoCuatro" aria-expanded="false" aria-controls="emergenciaCerradoCuatro">
              Necesito una nueva tarjeta
            </button>
          </h2>
          <div id="emergenciaCerradoCuatro" class="accordion-collapse collapse" data-bs-parent="#accordionEmergencias">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header p-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#emergenciaCerradoCinco" aria-expanded="false" aria-controls="emergenciaCerradoCinco">
              Orden de no pago a deposito a plazo
            </button>
          </h2>
          <div id="emergenciaCerradoCinco" class="accordion-collapse collapse" data-bs-parent="#accordionEmergencias">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum. Aenean congue magna massa, a malesuada quam porttitor non. Pellentesque orci quam, aliquam vel sodales et, pellentesque a sapien. Proin vitae libero in odio bibendum ultrices eget a leo. Nullam pellentesque rhoncus tincidunt.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12" id="bloqueo-tarjeta-debito" *ngIf="titulos === 'bloqueo-tarjeta-debito'">
      <h1>Bloqueo de Tarjeta de Débito</h1>
      <h3>Necesito bloquear mi Tarjeta de Débito</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>
      <p>Etiam in accumsan ante, quis viverra nulla. Fusce nec sem libero. Curabitur id dui eu justo egestas hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vel odio pretium, tincidunt ligula et, venenatis dui.</p>
      
      <h4 class="mt-5">Desde la APP</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>
      <h4 class="mt-5">Desde Banco en Línea</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>
      
      <h4 class="mt-5">Desde Banca Teléfonica</h4>
      <p>Puedes bloquearla y solicitar una nueva tarjeta llamando a Banca Telefónica. Si estás fuera del país puedes llamar directamente a Visa:</p>
      <p class="mb-1">+56 2 24680600</p>
      <p>+56 2 26373001</p>
      <p><u>Tarjeta de Débito Visa</u></p>
      <p>USA: 1-800-396-9665</p>
      <p>Otros Países: 1-303-967-1096</p>
      <p><u>Redbanc – 24 horas</u></p>
      <p>800 206 206</p>

      <h4 class="mt-5">Desde Banca Teléfonica</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>

      <!-- <mb-alertas
        [tipoAlerta]="'info'" 
        [mensajeInfo]="'Si bloqueas tu Tarjeta por sospecha de fraude, robo o extravío del plástico, debes realizar una denuncia en Carabineros o Policía de Investigaciones. <br><br> Debes considerar que la reposición de la tarjetas tiene un plazo de 2 a 3 días hábiles, dependiendo de la localidad y hora del bloqueo. En caso que necesites una reposición inmediata, puedes acercarte a alguna de nuestras sucursales con servicio de impresión express.'"
        [textoBoton]="'Ocultar'" >
      </mb-alertas> -->
    </div>

    <div class="col-12" id="bloqueo-tarjeta-credito" *ngIf="titulos === 'bloqueo-tarjeta-credito'">
      <h1>Bloqueo de Tarjeta de Crédito</h1>
      <h3>Necesito bloquear mi Tarjeta de Crédito</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>
      <p>Etiam in accumsan ante, quis viverra nulla. Fusce nec sem libero. Curabitur id dui eu justo egestas hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vel odio pretium, tincidunt ligula et, venenatis dui.</p>
      
      <h4 class="mt-5">Desde la APP</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>
      <h4 class="mt-5">Desde Banco en Línea</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>
      
      <h4 class="mt-5">Desde Banca Teléfonica</h4>
      <p>Puedes bloquearla y solicitar una nueva tarjeta llamando a Banca Telefónica. Si estás fuera del país puedes llamar directamente a Visa:</p>
      <p class="mb-1">+56 2 24680600</p>
      <p>+56 2 26373001</p>
      <p><u>Tarjeta de Débito Visa</u></p>
      <p>USA: 1-800-396-9665</p>
      <p>Otros Países: 1-303-967-1096</p>
      <p><u>Redbanc – 24 horas</u></p>
      <p>800 206 206</p>

      <h4 class="mt-5">Desde Banca Teléfonica</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet pellentesque augue elementum varius. Praesent velit est, fringilla vitae velit vitae, bibendum scelerisque diam. Duis hendrerit erat sit amet mi sodales porttitor. Donec laoreet tincidunt luctus. Integer ultrices at velit quis lobortis. Donec id tristique elit. Nulla aliquet in elit non tincidunt. Nam rhoncus vel augue non fermentum.</p>

      <!-- <mb-alertas
        [tipoAlerta]="'info'" 
        [mensajeInfo]="'Si bloqueas tu Tarjeta por sospecha de fraude, robo o extravío del plástico, debes realizar una denuncia en Carabineros o Policía de Investigaciones. <br><br> Debes considerar que la reposición de la tarjetas tiene un plazo de 2 a 3 días hábiles, dependiendo de la localidad y hora del bloqueo. En caso que necesites una reposición inmediata, puedes acercarte a alguna de nuestras sucursales con servicio de impresión express.'"
        [textoBoton]="'Ocultar'" >
      </mb-alertas> -->
      
    </div>

    <div class="col-12" id="canales-de-atencion" *ngIf="titulos === 'canales-de-atencion'">
      <h1>Canales de Atención</h1>
      <div class="card p-4">
        <div class="row">
          <div class="col-6 col-md-3 mb-5 mb-md-0">
            <h5>Banca Personas</h5>
            <p class="mb-0">Teléfono fijo</p>
            <p class="mb-4">
              <a href="tel:6006373737"><strong>600 637 37 37</strong></a>
            </p>
            <p class="mb-0">Teléfono fijo</p>
            <p class="mb-0">
              <a href="tel:6006373737"><strong>600 637 37 37</strong></a>
            </p>
          </div>

          <div class="col-6 col-md-3 mb-5 mb-md-0">
            <h5>Banca Empresas</h5>
            <p class="mb-0">Teléfono fijo</p>
            <p class="mb-4">
              <a href="tel:6006373737"><strong>600 637 37 37</strong></a>
            </p>
            <p class="mb-0">Teléfono fijo</p>
            <p class="mb-0">
              <a href="tel:6006373737"><strong>600 637 37 37</strong></a>
            </p>
          </div>

          <div class="col-6 col-md-3 mb-5 mb-md-0">
            <h5>Banca Virtual</h5>
            <p class="mb-0">Teléfono fijo</p>
            <p class="mb-4">
              <a href="tel:6006373737"><strong>600 637 37 37</strong></a>
            </p>
          </div>

          <div class="col-6 col-md-3 mb-5 mb-md-0">
            <h5>Redes Sociales</h5>
            <p class="mb-2">
              <a href="javascript:void(0);" class="d-flex align-items-center">
                <span class="me-2 icono rrss facebook"></span>
                Mi Banco
              </a>
            </p>
            <p class="mb-2">
              <a href="javascript:void(0);" class="d-flex align-items-center">
                <span class="me-2 icono rrss x"></span>
                &#64;AyudaMiBanco
              </a>
            </p>
            <p class="mb-0">
              <a href="javascript:void(0);" class="d-flex align-items-center">
                <span class="me-2 icono rrss instagram"></span>
                &#64;mibanco
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
