<div class="tab-pane cartola" id="cartola-tab-pane" role="tabpanel" aria-labelledby="cartola-tab" tabindex="0">
  <!-- Mensaje informativo -->
  <div class="col-12 p-0 p-md-4">
    <div class="alert alert-primary" role="alert">
      <div class="d-flex align-items-center">
        <div class="me-4">
          <span class="material-symbols-outlined">
            warning
          </span>
        </div>
        <div>
          <h6>El rango máximo de consulta es de 12 meses</h6>
          <h6>Cartolas disponibles desde el 01/01/2019.</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulario de busqueda -->
  <div class="col-12 p-0 p-md-4">
    <h4>Buscar cartolas</h4>
    <form>
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="form-floating mb-3">
            <input type="month" id="fechaInicio" class="form-control" />
            <label for="fechaInicio">Mes inicio</label>
            <span id="fechaInicioSelected"></span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-floating mb-3">
            <input type="month" id="fechaTermino" class="form-control" />
            <label for="fechaTermino">Mes fin</label>
            <span id="fechaTerminoSelected"></span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-12 p-0 p-md-4">
    <table class="table" role="table">
      <thead role="columnheader"ead role="rowgroup">
        <tr role="row">
          <th role="columnheader" (click)="ordenarDatos('numeroCartola'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span>
                Número de Cartola
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'numeroCartola'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'numeroCartola'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('fechaEmision'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span>
                Fecha Emisión Cartola
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'fechaEmision'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'fechaEmision'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader">
            <div class="d-flex">
              <span>
                Descargar
              </span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr *ngFor="let cartola of paginatedCartolas" role="row">
          <td role="cell"><span class="contenido-td">{{ cartola.numeroCartola }}</span></td>
          <td role="cell"><span class="contenido-td">{{ cartola.fechaEmision | date:"dd / MM / yyyy" }}</span></td>
          <td role="cell">
            <span class="contenido-td-acciones d-block">
              <div class="d-flex justify-content-start">
                <!-- Editar datos destinatario -->
                <a href="javascript:void(0)" class="me-3">
                  <span class="material-symbols-outlined">
                    picture_as_pdf
                  </span>
                </a>
                <!-- Eliminar destinatario -->
                <a href="javascript:void(0)">
                  <span class="material-symbols-outlined">
                    description
                  </span>  
                </a>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <app-paginador [datosPaginador]="cartolas" [itemsPerPage]="5" [currentPage]="1" (paginatedData)="paginatedCartolas = $event" [datosOrdenados]="datosOrdenados"></app-paginador>
  </div>
</div>