<footer class="mi-banco-header mt-5 py-4">
  <div class="container pt-4">
    <div class="row">
      <div class="col-2">
        <div class="logo-mb-footer"></div>
      </div>
      <div class="col-5">
        <h6 class="mb-4">Servicio al cliente</h6>
        <ul>
          <li class="mb-4">
            <p class="d-flex align-items-center mb-0"><span class="material-symbols-outlined">call</span> Desde red fija: <strong>000 000 00 00</strong></p>
            <small>Lunes a viernes de 8:00 a 19:00 hrs.</small>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center"><span class="material-symbols-outlined">phone_iphone</span> Desde celulares: <strong>+569 0000 0000</strong></p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center mb-0"><span class="material-symbols-outlined">error</span> Emergencias bancarias: <strong>+59 2 0000 0000</strong></p>
            <small>Lunes a viernes de 8:00 a 19:00 hrs.</small>
          </li>
        </ul>
      </div>
      <div class="col-5">
        <h6 class="mb-4">Ayuda 24 hrs</h6>
        <ul>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="#">
                Centro de Ayuda
              </a>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="#">
                Emergencias Bancarias
              </a>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="#">
                Bloqueo de Tarjeta de Débito
              </a>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="#">
                Bloqueo de Tarjeta de Crédito
              </a>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="#">
                Canales de Atención
              </a>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-12 text-center mt-5">
        <p class="mb-0">Mi Banco © 2024</p>
      </div>
    </div>
  </div>
</footer>