<div class="card card-banner banner-mibanco grande d-flex justify-content-end" style="background-image: url('./assets/images/banner-home-credito-consumo.jpg');">
  <div class="info-banner info-grande">
    <span class="titulo-banner text-start">
      Crédito de Consumo
    </span>
    <span class="texto-explicativo text-start">
      Hola <strong>{{ primer_nombre }} {{ apellido_paterno }}</strong>, disfruta de lo que quieras, con tu Crédito de Consumo pre-aprobado por un monto de:
    </span>
    <span class="monto text-start" *ngIf="ofertas.length > 0 && ofertas[0]?.monto_preaprobado">
      {{ ofertas[0].monto_preaprobado | pesos }}
    </span>
    <div class="d-flex align-items-md-end flex-column-reverse flex-md-row mt-3">
      <span class="texto-legal me-3">
        * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend finibus condimentum. Duis
        est tortor, pulvinar vel sem sed, consequat pulvinar dolor. Praesent congue arcu id pellentesque
        imperdiet.
      </span>
      <div>
        <button class="btn-banner mb-3 mb-md-auto" type="button">Solicitar Crédito</button>
      </div>
    </div>
  </div>
</div>