<div class="container">
  <div class="row">
    <div class="mt-5">
      <h1>Saldo y últimos movimientos</h1>
    </div>
    <div class="col-12 mt-5">
      <div class="card p-4">
        <table class="table">
          <thead>
            <tr>
              <th>
                <span>Fecha</span>
              </th>
              <th>
                <span>Movimientos</span>
              </th>
              <th>
                <span>Cargos</span>
              </th>
              <th>
                <span>Abonos</span>
              </th>
              <th>
                <span>Saldo</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaccion of transacciones">
              <td>{{ transaccion.col1 }}</td>
              <td>{{ transaccion.col2 }}</td>
              <td>{{ transaccion.col3 | pesos }}</td>
              <td>{{ transaccion.col4 | pesos }}</td>
              <td>{{ transaccion.col5 | pesos }}</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>