<div class="container">
  <div class="row">
    <div class="mt-5">
      <h1>Saldo y últimos movimientos</h1>
    </div>
    <div class="col-12 mt-5">
      <!-- <div class="card p-4">
        <table class="table">
          <thead>
            <tr>
              <th>
                <span>Fecha</span>
              </th>
              <th>
                <span>Movimientos</span>
              </th>
              <th>
                <span>Cargos</span>
              </th>
              <th>
                <span>Abonos</span>
              </th>
              <th>
                <span>Saldo</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaccion of transaccionesPaginadas">
              <td>{{ transaccion.col1 }}</td>
              <td>{{ transaccion.col2 }}</td>
              <td>{{ transaccion.col3 !== 0 ? (transaccion.col3 | pesos) : '' }}</td>
              <td>{{ transaccion.col4 !== 0 ? (transaccion.col4 | pesos) : '' }}</td>
              <td>{{ transaccion.col5 !== 0 ? (transaccion.col5 | pesos) : '' }}</td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination d-flex justify-content-center mt-4">
            <li class="page-item" [class.disabled]="paginaActual === 1">
              <a class="page-link" (click)="paginaAnterior()">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let i of range(1, (transacciones.length / elementosPorPagina) + 1)">
              <a class="page-link" [class.active]="i === paginaActual" (click)="paginaActual = i">{{ i }}</a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === (transacciones.length / elementosPorPagina)">
              <a class="page-link" (click)="siguientePagina()">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div> -->
    </div>
  </div>
</div>