<div class="container">
  <div class="row">
    <div class="mt-5">
      <h1>Saldo y últimos movimientos</h1>
    </div>
    <div class="col-12 mt-5">
      <div class="card p-4">
        <table class="table">
          <thead>
            <tr>
              <th (click)="sort('col1')">
                <span>Fecha</span>
              </th>
              <th (click)="sort('col2')">
                <span>Movimientos</span>
              </th>
              <th (click)="sort('col3')">
                <span>Cargos</span>
              </th>
              <th (click)="sort('col4')">
                <span>Abonos</span>
              </th>
              <th (click)="sort('col5')">
                <span>Saldo</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data">
              <td>{{ row.col1 }}</td>
              <td>{{ row.col2 }}</td>
              <td>{{ row.col3 }}</td>
              <td>{{ row.col4 }}</td>
              <td>{{ row.col5 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>