<div class="container mb-5 px-4 px-md-auto">
  <div class="row">

    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h1>Mis Datos</h1>
        </div>
        <div>
          <button class="btn btn-primario" (click)="editarDatos()" [disabled]="botonEditar">Editar mis datos</button>
        </div>
      </div>
    </div>

    <div class="col-12 mb-5" *ngIf="mensajeInformativo">
      <div class="alert alert-primary" role="alert">
        <span class="m-0">Todos los campos que ya contiene informacion son obligatorios.</span>
      </div>
    </div>


    <div class="col-12">
      <form [formGroup]="misDatosForm">
        <div class="row">
          <div class="col-12 col-md-6 pe-md-4">
            <h5>Información personal</h5>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="primer_nombre"
                [class.is-invalid]="misDatosForm.get('primer_nombre')?.invalid && misDatosForm.get('primer_nombre')?.dirty"
                [class.is-valid]="misDatosForm.get('primer_nombre')?.valid && misDatosForm.get('primer_nombre')?.dirty"
                (blur)="validaInput('primer_nombre');">
              <label for="primer_nombre">Primera nombre</label>
              <div
                *ngIf="misDatosForm.get('primer_nombre')?.errors?.['required'] && misDatosForm.get('primer_nombre')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="segundo_nombre"
                [class.is-invalid]="misDatosForm.get('segundo_nombre')?.invalid && misDatosForm.get('segundo_nombre')?.dirty"
                [class.is-valid]="misDatosForm.get('segundo_nombre')?.valid && misDatosForm.get('segundo_nombre')?.dirty"
                (blur)="validaInput('segundo_nombre');">
              <label for="segundo_nombre">Segundo nombre</label>
              <div
                *ngIf="misDatosForm.get('segundo_nombre')?.errors?.['required'] && misDatosForm.get('segundo_nombre')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="apellido_paterno"
                [class.is-invalid]="misDatosForm.get('apellido_paterno')?.invalid && misDatosForm.get('apellido_paterno')?.dirty"
                [class.is-valid]="misDatosForm.get('apellido_paterno')?.valid && misDatosForm.get('apellido_paterno')?.dirty"
                (blur)="validaInput('apellido_paterno');">
              <label for="apellido_paterno">Apellido Paterno</label>
              <div
                *ngIf="misDatosForm.get('apellido_paterno')?.errors?.['required'] && misDatosForm.get('apellido_paterno')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="apellido_materno"
                [class.is-invalid]="misDatosForm.get('apellido_materno')?.invalid && misDatosForm.get('apellido_materno')?.dirty"
                [class.is-valid]="misDatosForm.get('apellido_materno')?.valid && misDatosForm.get('apellido_materno')?.dirty"
                (blur)="validaInput('apellido_materno');">
              <label for="apellido_materno">Apellido Materno</label>
              <div
                *ngIf="misDatosForm.get('apellido_materno')?.errors?.['required'] && misDatosForm.get('apellido_materno')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="rut">
              <label for="rut">Rut</label>
            </div>

          </div>

          <hr class="my-4 mt-md-4 mb-md-5 d-md-none">

          <div class="col-12 col-md-6 ps-md-4">
            <h5 class="mt-3 mt-md-auto">Información de Contacto</h5>

            <div class="form-floating mb-4">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email"
                  [class.is-invalid]="misDatosForm.get('email')?.invalid && misDatosForm.get('email')?.dirty"
                  [class.is-valid]="misDatosForm.get('email')?.valid && misDatosForm.get('email')?.dirty"
                  (blur)="validaEmailPersonal('email')">
                <label for="email">Email</label>
                <div *ngIf="misDatosForm.controls['email'].errors?.['required'] && misDatosForm.controls['email'].dirty"
                  class="invalid-feedback">
                  El campo Email no puede quedar vacío.
                </div>
                <div
                  *ngIf="misDatosForm.controls['email'].errors?.['customEmail'] && misDatosForm.controls['email'].dirty"
                  class="invalid-feedback">
                  Debe ser un email válido.
                </div>
                <div *ngIf="inputValidoEmail" class="valid-feedback">
                  El email es valido.
                </div>
              </div>
            </div>

            <div class="form-floating mb-4">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email_comercial"
                  [class.is-invalid]="misDatosForm.get('email_comercial')?.invalid && misDatosForm.get('email_comercial')?.dirty"
                  [class.is-valid]="misDatosForm.get('email_comercial')?.valid && misDatosForm.get('email_comercial')?.dirty"
                  (blur)="validaEmailPersonal('email_comercial')">
                <label for="email_comercial">Email comercial</label>
                <div
                  *ngIf="misDatosForm.controls['email_comercial'].errors?.['required'] && misDatosForm.controls['email_comercial'].dirty"
                  class="invalid-feedback">
                  El campo Email no puede quedar vacío.
                </div>
                <div
                  *ngIf="misDatosForm.controls['email_comercial'].errors?.['customEmail'] && misDatosForm.controls['email_comercial'].dirty"
                  class="invalid-feedback">
                  Debe ser un email válido.
                </div>
                <div *ngIf="inputValidoEmail" class="valid-feedback">
                  El email es valido.
                </div>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control celular" formControlName="celular"
                [class.is-invalid]="inputErrorCelularVacio || (misDatosForm.get('celular')?.invalid && misDatosForm.get('celular')?.touched)"
                [class.is-valid]="misDatosForm.get('celular')?.valid && misDatosForm.get('celular')?.dirty && misDatosForm.get('celular')?.value"
                (blur)="validaCelular()" (keypress)="soloNumeros($event)" maxlength="11">
              <label for="celular">Celular</label>
              <div class="prefijo-chile"></div>
              <div *ngIf="inputErrorCelularVacio && misDatosForm.get('celular')?.dirty" class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
              <div *ngIf="inputErrorCelularInvalido && misDatosForm.get('celular')?.dirty" class="invalid-feedback">
                <span>El número ingresado no es válido.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="telefono"
                [class.is-invalid]="inputErrorTelefonoVacio || (misDatosForm.get('telefono')?.invalid && misDatosForm.get('telefono')?.touched)"
                [class.is-valid]="misDatosForm.get('telefono')?.valid && misDatosForm.get('telefono')?.dirty && misDatosForm.get('telefono')?.value"
                (blur)="validaTelefono()" (keypress)="soloNumeros($event)" maxlength="11">
              <label for="telefono">Teléfono</label>
              <div *ngIf="inputErrorTelefonoVacio && misDatosForm.get('telefono')?.dirty" class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
              <div *ngIf="inputErrorTelefonoInvalido && misDatosForm.get('telefono')?.dirty" class="invalid-feedback">
                <span>El número ingresado no es válido.</span>
              </div>
            </div>

          </div>

          <hr class="my-4 mt-md-4 mb-md-5">

          <div class="col-12 col-md-6 pe-md-4">
            <h5 class="mt-3 mt-md-auto">Dirección personal</h5>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="calle"
                [class.is-invalid]="misDatosForm.get('calle')?.invalid && misDatosForm.get('calle')?.dirty"
                [class.is-valid]="misDatosForm.get('calle')?.valid && misDatosForm.get('calle')?.dirty"
                (blur)="validaInput('calle');">
              <label for="calle">Calle</label>
              <div
                *ngIf="misDatosForm.get('calle')?.errors?.['required'] && misDatosForm.get('calle')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="numero_calle"
                [class.is-invalid]="misDatosForm.get('numero_calle')?.invalid && misDatosForm.get('numero_calle')?.dirty"
                [class.is-valid]="misDatosForm.get('numero_calle')?.valid && misDatosForm.get('numero_calle')?.dirty"
                (blur)="validaInput('numero_calle');" (keypress)="soloNumeros($event)">
              <label for="numero_calle">Número</label>
              <div
                *ngIf="misDatosForm.get('numero_calle')?.errors?.['required'] && misDatosForm.get('numero_calle')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="depto_villa_block"
                [class.is-invalid]="misDatosForm.get('depto_villa_block')?.invalid && misDatosForm.get('depto_villa_block')?.dirty"
                [class.is-valid]="misDatosForm.get('depto_villa_block')?.valid && misDatosForm.get('depto_villa_block')?.dirty"
                (blur)="validaInput('depto_villa_block');">
              <label for="depto_villa_block">Depto / Villa / Block</label>
              <div
                *ngIf="misDatosForm.get('depto_villa_block')?.errors?.['required'] && misDatosForm.get('depto_villa_block')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
                <mb-custom-select [control]="misDatosForm.get('region')" [options]="listaRegiones"
                [selectedValue]="regionSeleccionadaInicial" [zIndex]="600" [submitted]="submitted"
                [labelSelect]="'Región Personal'" [isValid]="customRegionValido"
                [isInvalid]="customRegionInvalido"
                [customDisabled]="customSelectDisabled"></mb-custom-select>
              <div *ngIf="customRegionInvalidoMensaje" class="invalid-feedback d-block">
                Debes seleccionar una región.
              </div>
            </div>

            <div class="form-floating mb-4">
              <mb-custom-select [control]="misDatosForm.get('comuna')" [options]="listaComunas"
                [selectedValue]="comunaSeleccionadaInicial" [zIndex]="400" [submitted]="submitted"
                [labelSelect]="'Comuna Personal'" [isValid]="customComunaValido"
                [isInvalid]="customComunaInvalido"
                [customDisabled]="customSelectDisabled"></mb-custom-select>
              <div *ngIf="customComunaInvalidoMensaje" class="invalid-feedback d-block">
                Debes seleccionar una comuna.
              </div>
            </div>

            <div class="form-floating mb-4">
              <mb-custom-select [control]="misDatosForm.get('ciudad')" [options]="listaCiudades"
                [selectedValue]="ciudadSeleccionadaInicial" [zIndex]="500" [submitted]="submitted"
                [labelSelect]="'Ciudad Personal'" [isValid]="customCiudadValido"
                [isInvalid]="customCiudadInvalido"
                [customDisabled]="customSelectDisabled"></mb-custom-select>
              <div *ngIf="customCiudadInvalidoMensaje" class="invalid-feedback d-block">
                Debes seleccionar una ciudad.
              </div>
            </div>

          </div>

          <hr class="my-4 mt-md-4 mb-md-5 d-md-none">

          <div class="col-12 col-md-6 ps-md-4">
            <h5 class="mt-3 mt-md-auto">Dirección comercial</h5>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="calle_comercial"
                [class.is-invalid]="misDatosForm.get('calle_comercial')?.invalid && misDatosForm.get('calle_comercial')?.dirty"
                [class.is-valid]="misDatosForm.get('calle_comercial')?.valid && misDatosForm.get('calle_comercial')?.dirty"
                (blur)="validaInput('calle_comercial');">
              <label for="calle_comercial">Calle</label>
              <div
                *ngIf="misDatosForm.get('calle_comercial')?.errors?.['required'] && misDatosForm.get('calle_comercial')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="numero_calle_comercial"
                [class.is-invalid]="misDatosForm.get('numero_calle_comercial')?.invalid && misDatosForm.get('numero_calle_comercial')?.dirty"
                [class.is-valid]="misDatosForm.get('numero_calle_comercial')?.valid && misDatosForm.get('numero_calle_comercial')?.dirty"
                (blur)="validaInput('numero_calle_comercial');" (keypress)="soloNumeros($event)">
              <label for="numero_calle_comercial">Número</label>
              <div
                *ngIf="misDatosForm.get('numero_calle_comercial')?.errors?.['required'] && misDatosForm.get('numero_calle_comercial')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <input type="text" class="form-control" formControlName="oficina"
                [class.is-invalid]="misDatosForm.get('oficina')?.invalid && misDatosForm.get('oficina')?.dirty"
                [class.is-valid]="misDatosForm.get('oficina')?.valid && misDatosForm.get('oficina')?.dirty"
                (blur)="validaInput('oficina');">
              <label for="oficina">Oficina</label>
              <div *ngIf="misDatosForm.get('oficina')?.errors?.['required'] && misDatosForm.get('oficina')?.dirty"
                class="invalid-feedback">
                <span>El campo no puede quedar vacio.</span>
              </div>
            </div>

            <div class="form-floating mb-4">
              <mb-custom-select [control]="misDatosForm.get('region_comercial')" [options]="listaRegionesComerciales"
                [selectedValue]="regionSeleccionadaComercialInicial" [zIndex]="300" [submitted]="submitted"
                [labelSelect]="'Región Comercial'" [isValid]="customRegionComercialValido"
                [isInvalid]="customRegionComercialInvalido"
                [customDisabled]="customSelectDisabled"></mb-custom-select>
              <div *ngIf="customRegionComercialInvalidoMensaje" class="invalid-feedback d-block">
                Debes seleccionar una región.
              </div>
            </div>

            <div class="form-floating mb-4">
              <mb-custom-select [control]="misDatosForm.get('comuna_comercial')" [options]="listaComunasComerciales"
                [selectedValue]="comunaSeleccionadaComercialInicial" [zIndex]="100" [submitted]="submitted"
                [labelSelect]="'Comuna Comercial'" [isValid]="customComunaComercialValido"
                [isInvalid]="customComunaComercialInvalido"
                [customDisabled]="customSelectDisabled"></mb-custom-select>
              <div *ngIf="customComunaComercialInvalidoMensaje" class="invalid-feedback d-block">
                Debes seleccionar una comuna.
              </div>
            </div>

            <div class="form-floating mb-4">
              <mb-custom-select [control]="misDatosForm.get('ciudad_comercial')" [options]="listaCiudadesComerciales"
                [selectedValue]="ciudadSeleccionadaComercialInicial" [zIndex]="200" [submitted]="submitted"
                [labelSelect]="'Ciudad Comercial'" [isValid]="customCiudadComercialValido"
                [isInvalid]="customCiudadComercialInvalido"
                [customDisabled]="customSelectDisabled"></mb-custom-select>
              <div *ngIf="customCiudadComercialInvalidoMensaje" class="invalid-feedback d-block">
                Debes seleccionar una ciudad.
              </div>
            </div>

          </div>

          <hr class="mt-4 mb-5">

          <div class="col-12">
            <div class="card p-4">
              <h5>¿Dónde quieres que enviemos tu correspondencia?</h5>
              <p class="mb-0">Deseo que todo aviso, comunicación o correspondencia que el Banco deba enviarme con motivo
                de los productos que he contratado, me sea enviado a:</p>
              <br>
              <div class="form-check form-switch my-1 mt-0">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">Email Personal</label>
              </div>
              <div class="form-check form-switch my-1">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Email Comercial</label>
              </div>
              <div class="form-check form-switch my-1 mb-0">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Domicilio</label>
              </div>
            </div>
          </div>

          <hr class="mt-5 mb-5" *ngIf="separadorBotonGuardar">

          <div class="col-12 d-flex justify-content-end" *ngIf="botonGuardar">
            <button type="button" class="btn btn-secundario me-0 me-md-3" (click)="cancelarEdicion()">Cancelar</button>
            <button type="button" class="btn btn-primario" data-bs-toggle="modal" data-bs-target="#modalConfirmarEdicion" [class.disabled]="!botonGuardarDisabled">Guardar datos</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal posicion fade" id="modalConfirmarEdicion" tabindex="-1" aria-labelledby="modalConfirmarEdicion"
  data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div *ngIf="actualizarDatosUsuario">
          <div class="d-flex align-items-center mb-2">
            <span class="icono material-symbols-outlined d-block me-3 mensajes advertencia">
              warning
            </span>
            <p class="d-block">
              ¿Deseas guardar los cambios hechos?
            </p>
          </div>
        </div>

        <div *ngIf="datosGuardadosUsuarioEditado">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <p>Tus nuevos datos se guardaron con éxito.</p>
          </div>
        </div>

        <div *ngIf="errorServerAlGuardarDatos">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes error">
              Error
            </span>
            <div>
              <h4 class="mb-2 text-starts">Hubo un error al intentar guardar tus nuevos datos.</h4>
              <span>Intento mas tarde.</span>
            </div>
          </div>
          <div class="w-100 mt-3">
            <button type="button" class="btn btn-primario mx-auto" data-bs-dismiss="modal"
              (click)="datosGuardados();">Cerrar</button>
          </div>
        </div>

      </div>

      <div class="modal-footer">

        <div class="d-flex justify-content-end flex-row" *ngIf="actualizarDatosUsuario">
          <button type="submit" class="btn btn-secundario" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primario ms-md-3 mb-3 mb-md-0" (click)="guardarDatosUsuario()">Confirmar cambios</button>
        </div>

        <div class="d-flex justify-content-end" *ngIf="datosGuardadosUsuarioEditado">
          <button type="button" class="btn btn-primario mx-auto" data-bs-dismiss="modal"
            (click)="datosGuardados()">Cerrar</button>
        </div>

        <div class="d-flex justify-content-end" *ngIf="errorServerAlGuardarDatos">
          <button type="button" class="btn btn-primario mx-auto" data-bs-dismiss="modal"
            (click)="datosGuardados()">Cerrar</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="backdrop-custom" *ngIf="mostrarBackdropCustomModal" [@fadeInOut]></div>