<div class="offcanvas-header d-flex align-items-center px-4">
  <h5 class="offcanvas-title ps-2" id="staticBackdropLabel">Crear nuevo destinatario.</h5>
  <a href="javascript:void(0);" data-bs-dismiss="offcanvas" aria-label="Close" (click)="resetFormulario()">
    <span class="material-symbols-outlined">
      close
    </span>
  </a>
</div>
<div class="offcanvas-body">
  <div class="col-12 px-3">

    <small class="mb-4 d-block">* Campos son obligatorios</small>
  
    <form [formGroup]="crearDestinatarioForm">
      <!-- Nombre -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" id="nombreDestinatario" formControlName="nombreDestinatario" [ngClass]="{'is-invalid': crearDestinatarioForm.get('nombreDestinatario')?.touched && crearDestinatarioForm.get('nombreDestinatario')?.invalid, 'is-valid': crearDestinatarioForm.get('nombreDestinatario')?.touched && crearDestinatarioForm.get('nombreDestinatario')?.valid}">
        <label for="nombreDestinatario">Nombre *</label>
        <div class="invalid-feedback" *ngIf="crearDestinatarioForm.get('nombreDestinatario')?.invalid">
          <span>El campo no puede quedar vacio.</span>
        </div>
        <div class="valid-feedback" *ngIf="crearDestinatarioForm.get('nombreDestinatario')?.valid">
          <span>El nombre es valido</span>
        </div>
      </div>
  
      <!-- Apodo -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="apodoDestinatario">
        <label for="apodoDestinatario">Apodo</label>
      </div>
  
      <!-- rut -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="rutDestinatario" [ngClass]="{'is-invalid': crearDestinatarioForm.get('rutDestinatario')?.touched && crearDestinatarioForm.get('rutDestinatario')?.invalid, 'is-valid': crearDestinatarioForm.get('rutDestinatario')?.touched && crearDestinatarioForm.get('rutDestinatario')?.valid}">
        <label for="rutDestinatario">Rut *</label>
        <div class="invalid-feedback">
          <span>El campo no puede quedar vacio.</span>
        </div>
        <div class="valid-feedback">
          <span>El apodo es valido</span>
        </div>
      </div>
  
      <!-- banco -->
      <div class="form-floating mb-4">
        <custom-select [options]="listaBancos" [control]="crearDestinatarioForm.get('listaBancosDestinatario')" [zIndex]="3000" [submitted]="submitted" [labelSelect]="'Banco *'" [ngClass]="{'is-invalid': crearDestinatarioForm.get('listaBancosDestinatario')?.touched && crearDestinatarioForm.get('listaBancosDestinatario')?.invalid, 'is-valid': crearDestinatarioForm.get('listaBancosDestinatario')?.touched && crearDestinatarioForm.get('listaBancosDestinatario')?.valid}"></custom-select>
        <div class="invalid-feedback">
          <span>El campo no puede quedar vacio.</span>
        </div>
        <div class="valid-feedback">
          <span>El apodo es valido</span>
        </div>
      </div>
  
      <!-- Tipo cuenta -->
      <div class="form-floating mb-4">
        <custom-select [options]="tiposCuenta" [control]="crearDestinatarioForm.get('tipoCuentaDestinatario')" [zIndex]="2000" [submitted]="submitted" [labelSelect]="'Tipo de cuenta *'" [ngClass]="{'is-invalid': crearDestinatarioForm.get('tipoCuentaDestinatario')?.touched && crearDestinatarioForm.get('tipoCuentaDestinatario')?.invalid, 'is-valid': crearDestinatarioForm.get('tipoCuentaDestinatario')?.touched && crearDestinatarioForm.get('tipoCuentaDestinatario')?.valid}"></custom-select>
        <div class="invalid-feedback">
          <span>El campo no puede quedar vacio.</span>
        </div>
        <div class="valid-feedback">
          <span>El apodo es valido</span>
        </div>
      </div>
      
  
      <!-- Numero cuenta -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="numeroCuentaDestinatario" [ngClass]="{'is-invalid': crearDestinatarioForm.get('numeroCuentaDestinatario')?.touched && crearDestinatarioForm.get('numeroCuentaDestinatario')?.invalid, 'is-valid': crearDestinatarioForm.get('numeroCuentaDestinatario')?.touched && crearDestinatarioForm.get('numeroCuentaDestinatario')?.valid}">
        <label for="numeroCuentaDestinatario">Número de cuenta *</label>
        <div class="invalid-feedback">
          <span>El campo no puede quedar vacio.</span>
        </div>
        <div class="valid-feedback">
          <span>El apodo es valido</span>
        </div>
      </div>
  
      <!-- Email -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="emailDestinatario" [ngClass]="{'is-invalid': crearDestinatarioForm.get('emailDestinatario')?.touched && crearDestinatarioForm.get('emailDestinatario')?.invalid, 'is-valid': crearDestinatarioForm.get('emailDestinatario')?.touched && crearDestinatarioForm.get('emailDestinatario')?.valid}">
        <label for="emailDestinatario">Email *</label>
        <div class="invalid-feedback">
          <span>El campo no puede quedar vacio.</span>
        </div>
        <div class="valid-feedback">
          <span>El apodo es valido</span>
        </div>
      </div>
  
      <!-- Celular -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="celularDestinatario">
        <label for="celularDestinatario">Celular</label>
      </div>
  
      <!-- Telefono -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="telefonoDestinatario">
        <label for="telefonoDestinatario">Télefono fijo</label>
      </div>
  
      <hr>
  
      <!-- Botones -->
      <div class="d-flex flex-md-column mt-4">
        <button type="submit" class="btn btn-primary mb-3" (click)="guardarDestinatario()">Guardar destinatario</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close" (click)="resetFormulario()">Cancelar</button>
      </div>
  
    </form>
  </div>
  
</div>








