<div class="offcanvas-header d-flex align-items-center px-4">
  <h5 class="offcanvas-title ps-2" id="staticBackdropLabel">Crear nuevo destinatario.</h5>
  <a href="javascript:void(0);" data-bs-dismiss="offcanvas" aria-label="Close" (click)="resetFormulario()">
    <span class="material-symbols-outlined">
      close
    </span>
  </a>
</div>
<div class="offcanvas-body">
  <div class="col-12 px-3">

    <small class="mb-4 d-block">* Campos son obligatorios</small>
  
    <form [formGroup]="crearDestinatarioForm">
      <!-- Nombre -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="nombreDestinatario" [class.is-invalid]="inputErrorVacioNombre || inputErrorApellido" [class.is-valid]="inputValidoNombre" (blur)="validaFormulario();">
        <label for="nombreDestinatario">Nombre y Apellido <span class="obligatorio">*</span></label>
        <div *ngIf="crearDestinatarioForm.get('nombreDestinatario')?.errors?.['inputErrorVacioNombre'] && submitted" class="invalid-feedback">
          <span>El campo no puede quedar vacío.</span>
        </div>
        <div *ngIf="crearDestinatarioForm.get('nombreDestinatario')?.errors?.['inputErrorApellido'] && submitted" class="invalid-feedback">
          <span>Debes agregar un apellido.</span>
        </div>
        <div *ngIf="crearDestinatarioForm.get('nombreDestinatario')?.valid && submitted" class="valid-feedback">
          <span>El nombre es válido.</span>
        </div>
      </div>
  
      <!-- Apodo -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="apodoDestinatario">
        <label for="apodoDestinatario">Apodo</label>
      </div>
  
      <!-- rut -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="rutDestinatario" [class.is-invalid]="crearDestinatarioForm.get('rutDestinatario')?.invalid && submitted" [class.is-valid]="crearDestinatarioForm.get('rutDestinatario')?.valid && submitted" (blur)="validaFormulario();">
        <label for="rutDestinatario">Rut <span class="obligatorio">*</span></label>
        <div *ngIf="crearDestinatarioForm.get('rutDestinatario')?.errors?.['inputErrorVacioRut'] && submitted" class="invalid-feedback">
          <span>El campo RUT no puede quedar vacío.</span>
        </div>
        <div *ngIf="crearDestinatarioForm.get('rutDestinatario')?.valid && submitted" class="valid-feedback">
          <span>El RUT es válido.</span>
        </div>
      </div>
  
      <!-- banco -->
      <div class="form-floating mb-4">
        <custom-select [control]="crearDestinatarioForm.get('bancoDestinatario')" [options]="listaBancos" [zIndex]="3000" [submitted]="submitted" [labelSelect]="'Banco *'" [errorKey]="'bancoInvalido'"></custom-select>
        <div *ngIf="submitted && crearDestinatarioForm.get('bancoDestinatario')?.errors?.['bancoInvalido']" class="invalid-feedback d-block">
          Debes seleccionar un banco.
        </div>
      </div>
  
      <!-- Tipo cuenta -->
      <div class="form-floating mb-4">
        <custom-select [control]="crearDestinatarioForm.get('cuentaDestinatario')" [options]="tiposCuenta" [zIndex]="2000" [submitted]="submitted" [labelSelect]="'Tipo de cuenta *'" [errorKey]="'cuentaInvalida'"></custom-select>
        <div *ngIf="submitted && crearDestinatarioForm.get('cuentaDestinatario')?.errors?.['cuentaInvalida']" class="invalid-feedback d-block">
          Debes seleccionar un tipo de cuenta.
        </div>
      </div>
      
  
      <!-- Numero cuenta -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="numeroCuentaDestinatario" [class.is-invalid]="crearDestinatarioForm.get('numeroCuentaDestinatario')?.invalid && submitted" [class.is-valid]="crearDestinatarioForm.get('numeroCuentaDestinatario')?.valid && submitted" (blur)="validaFormulario();" (keypress)="soloNumeros($event)">
        <label for="numeroCuentaDestinatario">Número de cuenta <span class="obligatorio">*</span></label>
        <div *ngIf="crearDestinatarioForm.get('numeroCuentaDestinatario')?.errors?.['inputErrorVacioNumeroCuenta'] && submitted" class="invalid-feedback">
          <span>El campo Número de Cuenta no puede quedar vacío.</span>
        </div>
        <div *ngIf="crearDestinatarioForm.get('numeroCuentaDestinatario')?.valid && submitted" class="valid-feedback">
          <span>El número de cuenta es válido.</span>
        </div>
      </div>
  
      <!-- Email -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="emailDestinatario" [ngClass]="{ 'is-invalid': crearDestinatarioForm.controls['emailDestinatario'].invalid && (crearDestinatarioForm.controls['emailDestinatario'].dirty || submitted), 'is-valid': crearDestinatarioForm.controls['emailDestinatario'].valid }" (input)="emailValido('emailDestinatario')">
        <label for="emailDestinatario">Email</label>
        
        <!-- Mensaje valido -->
        <div *ngIf="crearDestinatarioForm.controls['emailDestinatario'].valid" class="valid-feedback">
          El email es valido.
        </div>
        <!-- Mensajes de error -->
        <div *ngIf="crearDestinatarioForm.controls['emailDestinatario'].errors?.['required'] && (crearDestinatarioForm.controls['emailDestinatario'].dirty || submitted)" class="invalid-feedback">
          El campo Email no puede quedar vacío.
        </div>
        <div *ngIf="crearDestinatarioForm.controls['emailDestinatario'].errors?.['customEmail'] && (crearDestinatarioForm.controls['emailDestinatario'].dirty || submitted) && crearDestinatarioForm.controls['emailDestinatario'].value" class="invalid-feedback">
          Debe ser un email válido.
        </div>
      </div>
  
      <!-- Celular -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="celularDestinatario" (keypress)="soloNumeros($event)">
        <label for="celularDestinatario">Celular</label>
      </div>
  
      <!-- Telefono -->
      <div class="form-floating mb-4">
        <input type="text" class="form-control" formControlName="telefonoDestinatario" (keypress)="soloNumeros($event)">
        <label for="telefonoDestinatario">Télefono fijo</label>
      </div>
  
      <hr>
  
      <!-- Botones -->
      <div class="d-flex flex-md-column mt-4">
        <button type="submit" class="btn btn-primary mb-3" (click)="guardarDestinatario()">Guardar destinatario</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close" (click)="resetFormulario()">Cancelar</button>
      </div>
  
    </form>
  </div>
  
</div>








