// Colores básicos
$blanco: #ffffff;
$negro: #000000;
$rojo: #ff1744;
$dorado: #daa64e;
$dorado-hover-header: #ffa200;
$dorado-seleccionado: rgb(218, 166, 78, 0.5);
$dorado-hover: #F1AA2E;
$verde: #4caf50;


// Escala de grises
$gris: #9e9e9e;
$gris-header: #d6d6d6;
$gris-claro-uno: #f5f5f5;
$gris-claro-dos: #b0b0b0;
$gris-oscuro: #424242;

// Escala de rojos
$rojo-claro: #ff8a80;
$rojo-oscuro: #d50000;
$rojo-opacidad: rgba(255, 23, 68, .9);

// Colores para select custom
$color-label-select: rgba(var(--bs-body-color-rgb), .65);;

// Sombras
$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-card: 0px 0px 24px -4px rgba(0,0,0,0.4);
$shadow-btn-hover: 0px 3px 6px rgba(0, 0, 0, 0.2);

// Media breakpoints
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;
