// Basicos
$blanco: #ffffff;
$negro: #0D0E0F;

// Escala de tinto
$tinto: #742d48;
$tinto-claro: #A05D6E;
$tinto-oscuro: #5F2E3A;

// Escala rojo
$rojo: #dc1b1b;

// Escala dorado
$dorado: #FF9A24;
$dorado-claro: #FFB662;
$dorado-oscuro-50: #E57E06;
$dorado-oscuro-100: #b16207;

// Escala de grises
$gris-80: #373839;
$gris-60: #626264;
$gris-40: #8E8E8F;
$gris-20: #b3b3b8;
$gris-10: #c8c9cf;
$gris-05: #d1d0d9;
$gris-02: #e5e4ef;
$gris-01: #f1f1f6;
$gris-00: #f9f9fb;

// Menjajes
$aviso: #83ace1;
$aviso-borde: #3A7BED;
$advertencia:#ffc508;
$valido: #4AD574;
$error: #FF0300;

// Sombras
$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-card: 0px 0px 24px -4px rgba(0,0,0,0.4);
//$shadow-btn-hover: 0 0 6px $dorado-claro;
$shadow-btn-banner-hover: 0 0 6px $advertencia;
$shadow-focus-input: 0 0 12px rgba(167, 113, 17, 0.2);

// Media breakpoints
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;
