// Basicos
$blanco: #ffffff;
$negro: #0D0E0F;

// Escala de tinto
$tinto: #742d48;
$tinto-claro: #A05D6E;
$tinto-oscuro: #5F2E3A;

// Escala rojo
$rojo: #dc1b1b;

// Escala dorado
$dorado: #FF9A24;
$dorado-claro: #FFB662;
$dorado-oscuro-50: #E57E06;
$dorado-oscuro-100: #b16207;

// Escala de grises
$gris-80: #373839;
$gris-60: #626264;
$gris-40: #8E8E8F;
$gris-20: #b3b3b8;
$gris-10: #c8c9cf;
$gris-05: #d1d0d9;
$gris-02: #e5e4ef;
$gris-01: #f1f1f6;
$gris-00: #f9f9fb;

// Visa
$azul-visa: #1A1F71;

// Menjajes
$aviso: #83ace1;
$aviso-borde: #3A7BED;
$advertencia:#ffc508;
$valido: #1fc14f;
$error: #FF0300;

// Sombras
$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-card: 0px 0px 24px -4px rgba(0,0,0,0.4);
//$shadow-btn-hover: 0 0 6px $dorado-claro;
$shadow-btn-banner-hover: 0 0 6px $advertencia;
$shadow-focus-input: 0 0 12px rgba(167, 113, 17, 0.2);

// Media breakpoints
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;

// iconos RRSS
$instagram: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M18.05 8.67c-5.11 0-9.23 4.12-9.23 9.23s4.12 9.23 9.23 9.23 9.23-4.12 9.23-9.23-4.12-9.23-9.23-9.23Zm0 15.23c-3.3 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.7 6-6 6ZM29.81 8.29c0 1.2-.96 2.15-2.15 2.15s-2.15-.96-2.15-2.15.96-2.15 2.15-2.15 2.15.96 2.15 2.15Zm6.11 2.19c-.14-2.88-.8-5.44-2.91-7.54C30.91.83 28.36.18 25.47.03 22.5-.14 13.6-.14 10.63.03c-2.88.14-5.43.8-7.54 2.9S.32 7.59.18 10.47C0 13.44 0 22.35.18 25.32c.14 2.88.8 5.44 2.91 7.54 2.11 2.1 4.66 2.76 7.54 2.91 2.97.17 11.88.17 14.85 0 2.88-.14 5.44-.8 7.54-2.91 2.1-2.1 2.76-4.66 2.91-7.54.17-2.97.17-11.87 0-14.84Zm-3.84 18.03a6.085 6.085 0 0 1-3.42 3.42c-2.37.94-7.99.72-10.61.72s-8.25.21-10.61-.72a6.085 6.085 0 0 1-3.42-3.42c-.94-2.37-.72-7.99-.72-10.61s-.21-8.25.72-10.61a6.085 6.085 0 0 1 3.42-3.42c2.37-.94 7.99-.72 10.61-.72s8.25-.21 10.61.72c1.57.63 2.79 1.84 3.42 3.42.94 2.37.72 7.99.72 10.61s.22 8.25-.72 10.61Z' fill='%23742d48'/%3E%3C/svg%3E");
$x: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M29.25 1.73h5.52L22.71 15.51 36.9 34.27H25.79L17.08 22.9 7.13 34.27H1.6l12.9-14.75L.9 1.73h11.39l7.86 10.4 9.1-10.4Zm-1.94 29.24h3.06L10.62 4.86H7.33L27.3 30.97Z' fill='%23742d48'/%3E%3C/svg%3E");
$facebook: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M36 18.07c0-9.95-8.06-18-18-18s-18 8.05-18 18c0 8.44 5.81 15.52 13.65 17.47V23.57H9.94v-5.5h3.71V15.7c0-6.12 2.77-8.96 8.79-8.96 1.14 0 3.11.22 3.92.45v4.98c-.42-.04-1.16-.07-2.08-.07-2.95 0-4.09 1.12-4.09 4.02v1.95h5.88l-1.01 5.5h-4.87v12.37c8.92-1.08 15.82-8.66 15.82-17.87Z' fill='%23742d48'/%3E%3C/svg%3E");
$tiktok: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M33.75 14.73c-3.1 0-6.12-.96-8.64-2.76v12.57c0 6.31-5.12 11.43-11.44 11.43-6.31 0-11.43-5.12-11.43-11.44 0-6.31 5.12-11.43 11.44-11.43.53 0 1.05.04 1.57.11v6.32c-2.76-.87-5.71.67-6.58 3.43-.87 2.76.67 5.71 3.43 6.58 2.76.87 5.71-.67 6.58-3.43.16-.51.24-1.04.24-1.57V-.03h6.19c0 .52.04 1.05.13 1.56a8.596 8.596 0 0 0 3.79 5.64c1.4.92 3.04 1.41 4.71 1.41v6.15Z' fill='%23742d48'/%3E%3C/svg%3E");
$instagram-hover: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M18.05 8.67c-5.11 0-9.23 4.12-9.23 9.23s4.12 9.23 9.23 9.23 9.23-4.12 9.23-9.23-4.12-9.23-9.23-9.23Zm0 15.23c-3.3 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.7 6-6 6ZM29.81 8.29c0 1.2-.96 2.15-2.15 2.15s-2.15-.96-2.15-2.15.96-2.15 2.15-2.15 2.15.96 2.15 2.15Zm6.11 2.19c-.14-2.88-.8-5.44-2.91-7.54C30.91.83 28.36.18 25.47.03 22.5-.14 13.6-.14 10.63.03c-2.88.14-5.43.8-7.54 2.9S.32 7.59.18 10.47C0 13.44 0 22.35.18 25.32c.14 2.88.8 5.44 2.91 7.54 2.11 2.1 4.66 2.76 7.54 2.91 2.97.17 11.88.17 14.85 0 2.88-.14 5.44-.8 7.54-2.91 2.1-2.1 2.76-4.66 2.91-7.54.17-2.97.17-11.87 0-14.84Zm-3.84 18.03a6.085 6.085 0 0 1-3.42 3.42c-2.37.94-7.99.72-10.61.72s-8.25.21-10.61-.72a6.085 6.085 0 0 1-3.42-3.42c-.94-2.37-.72-7.99-.72-10.61s-.21-8.25.72-10.61a6.085 6.085 0 0 1 3.42-3.42c2.37-.94 7.99-.72 10.61-.72s8.25-.21 10.61.72c1.57.63 2.79 1.84 3.42 3.42.94 2.37.72 7.99.72 10.61s.22 8.25-.72 10.61Z' fill='%23ff9a24'/%3E%3C/svg%3E");
$x-hover: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M29.25 1.73h5.52L22.71 15.51 36.9 34.27H25.79L17.08 22.9 7.13 34.27H1.6l12.9-14.75L.9 1.73h11.39l7.86 10.4 9.1-10.4Zm-1.94 29.24h3.06L10.62 4.86H7.33L27.3 30.97Z' fill='%23ff9a24'/%3E%3C/svg%3E");
$facebook-hover: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M36 18.07c0-9.95-8.06-18-18-18s-18 8.05-18 18c0 8.44 5.81 15.52 13.65 17.47V23.57H9.94v-5.5h3.71V15.7c0-6.12 2.77-8.96 8.79-8.96 1.14 0 3.11.22 3.92.45v4.98c-.42-.04-1.16-.07-2.08-.07-2.95 0-4.09 1.12-4.09 4.02v1.95h5.88l-1.01 5.5h-4.87v12.37c8.92-1.08 15.82-8.66 15.82-17.87Z' fill='%23ff9a24'/%3E%3C/svg%3E");
$tiktok-hover: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 36 36'%3E%3Cpath d='M33.75 14.73c-3.1 0-6.12-.96-8.64-2.76v12.57c0 6.31-5.12 11.43-11.44 11.43-6.31 0-11.43-5.12-11.43-11.44 0-6.31 5.12-11.43 11.44-11.43.53 0 1.05.04 1.57.11v6.32c-2.76-.87-5.71.67-6.58 3.43-.87 2.76.67 5.71 3.43 6.58 2.76.87 5.71-.67 6.58-3.43.16-.51.24-1.04.24-1.57V-.03h6.19c0 .52.04 1.05.13 1.56a8.596 8.596 0 0 0 3.79 5.64c1.4.92 3.04 1.41 4.71 1.41v6.15Z' fill='%23ff9a24'/%3E%3C/svg%3E");
