<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1>Movimientos Cuenta Corriente</h1>
      <div class="card p-4 mt-4">
        <div class="row">
          <div class="col-6">
            <div class="mb-5 d-flex align-items-center">
              <p class="mb-0 me-3">Buscar transacción</p>
              <form class="d-flex ml-5" role="search">
                <input class="form-control me-2" type="search" [formControl]="campoBusqueda" aria-label="Search">
              </form>
            </div>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th (click)="ordenarDatos('fecha')">
                <div class="d-flex">
                  Fecha
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th (click)="ordenarDatos('detalle')">
                <div class="d-flex">
                  Detalle
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th (click)="ordenarDatos('cargo')">
                <div class="d-flex">
                  Cargo
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th (click)="ordenarDatos('abono')">
                <div class="d-flex">
                  Abono
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th (click)="ordenarDatos('saldo')">
                <div class="d-flex">
                  Saldo
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaccion of paginatedData">
              <td>{{ transaccion.fecha | date:"dd / MM / yyyy" }}</td>
              <td>{{ transaccion.detalle }}</td>
              <td>{{ transaccion.cargo | pesos }}</td>
              <td>{{ transaccion.abono | pesos }}</td>
              <td>{{ transaccion.saldo | pesos }}</td>
            </tr>
          </tbody>
        </table>
        <nav class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="prevPage()">
                <span class="material-symbols-outlined">
                  chevron_left
                </span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
              <a class="page-link" href="javascript:void(0);" (click)="setPage(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="nextPage()">
                <span class="material-symbols-outlined">
                  chevron_right
                </span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- <table class="table">
          <thead>
            <tr>
              <th [class.rotated]="isColumnRotated('fecha')" (click)="sortTableFecha()">
                <div class="d-flex">
                  Fecha
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th [class.rotated]="isColumnRotated('detalle')" (click)="sortTableDetalle()">
                <div class="d-flex">
                  Detalle
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div></th>
              <th [class.rotated]="isColumnRotated('cargo')" (click)="sortTableNumero('cargo')">
                <div class="d-flex">
                  Cargo
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th [class.rotated]="isColumnRotated('abono')" (click)="sortTableNumero('abono')">
                <div class="d-flex">
                  Abono
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th [class.rotated]="isColumnRotated('saldoFinal')" (click)="sortTableNumero('saldoFinal')">
                <div class="d-flex">
                  Saldo
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trans of getPaginatedData()">
              <td>{{ trans.fecha | date:"dd / MM / yyyy" }}</td>
              <td>{{ trans.detalle }}</td>
              <td>{{ trans.cargo ? (trans.cargo | pesos) : '' }}</td>
              <td>{{ trans.abono ? (trans.abono | pesos) : '' }}</td>
              <td>{{ trans.saldo | pesos }}</td>
            </tr>
          </tbody>
        </table> -->
        
        <!-- <nav class="d-flex justify-content-center mt-3" *ngIf="datosActuales.length > 5">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" href="javascript:void(0);" (click)="prevPage()">
                <span class="material-symbols-outlined">
                  chevron_left
                </span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of paginas; let i = index" [class.active]="currentPage === i + 1">
              <a class="page-link" href="javascript:void(0);" (click)="setPage(i)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === paginas.length">
              <a class="page-link" href="javascript:void(0);" (click)="nextPage()">
                <span class="material-symbols-outlined">
                  chevron_right
                </span>
              </a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>
</div>