<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1>Movimientos Cuenta Corriente</h1>
      <div class="card p-4 mt-4">
        <div class="row">
          <div class="col-6">
            <div class="mb-5 d-flex align-items-center">
              <p class="mb-0 me-3">Buscar transacción</p>
              <form class="d-flex ml-5" role="search">
                <input class="form-control me-2" type="search" [formControl]="campoBusqueda" aria-label="Search">
              </form>
            </div>
          </div>
        </div>
        <!-- Importacion de componente tables -->
        <app-tables [id]="transaccionesCuentaCorriente"></app-tables>
      </div>
    </div>
  </div>
</div>