<!-- <app-carousel></app-carousel> -->

<div class="container pb-5">
  <div class="row">
    <div class="col-12 px-4 px-md-auto">
      <h1>
        Tus productos
        <span class="d-none d-md-block d-lg-none mb-4">
          <small>
            Si quieres ver las últimas transacciones de tus productos haz click sobre ellos.
          </small>
        </span>
      </h1>

      <div class="row align-items-md-stretch">
        <!-- Cuenta corriente
        <div class="col-12 col-md-4 mb-3 mb-md-0" (mouseover)="mostrarTransaccionesCtaCte()" *ngIf="getProductoById(0) as producto">
          <div class="card card-productos cuenta-corriente hover-productos-inicio mb-md-4" [ngClass]="{'active': isActiveCtaCte}">
            <span class="nombre-producto dorado">Cuenta Corriente</span>
            <small class="numero-producto">N° {{ producto.NumeroProducto }}</small>
            <hr>
            <div class="d-flex justify-content-between flex-row flex-md-column flex-lg-row">
              <span class="texto-montos">Disponible:</span>
              <span class="texto-montos monto">{{ producto.Cupo | pesos }}</span>
            </div>
            <div class="d-flex justify-content-end justify-content-md-center justify-content-lg-end flex-row flex-md-column flex-lg-row">
              <button class="btn-small btn-secundario" type="button" routerLink="/mibanco/productos/cuenta-corriente/ultimos-movimientos">Ver movimientos</button>
            </div>
          </div>
        </div> -->

        <!-- Linea de credito
        <div class="col-12 col-md-4 mb-3 mb-md-0" (mouseover)="mostrarTransaccionesLineaCredito()" *ngIf="getProductoById(1) as producto">
          <div class="card card-productos linea-de-credito hover-productos-inicio mb-md-4" [ngClass]="{'active': isActiveLineaCredito}">
            <span class="nombre-producto tinto">Línea de Crédito</span>
            <small class="numero-producto">N° {{ producto.NumeroProducto }}</small>
            <hr>
            <div class="d-flex justify-content-between flex-row flex-md-column flex-lg-row">
              <span class="texto-montos">Disponible:</span>
              <span class="texto-montos monto">{{ producto.Cupo | pesos }}</span>
            </div>
            <div class="d-flex justify-content-end justify-content-md-center justify-content-lg-end flex-row flex-md-column flex-lg-row">
              <button class="btn-small btn-secundario me-3 me-md-0 me-lg-3 mb-md-3 mb-lg-0" type="button" routerLink="/mibanco/productos/linea-credito">Ver movimientos</button>
              <button class="btn-small btn-primario" type="button" routerLink="/mibanco/productos/linea-credito/pago">Pagar</button>
            </div>
          </div>
        </div> -->

        <!-- Visa
        <div class="col-12 col-md-4 mb-3 mb-md-0" (mouseover)="mostrarTransaccionesVisa()" *ngIf="getProductoById(2) as producto">
          <div class="card card-productos visa hover-productos-inicio mb-md-4" [ngClass]="{'active': isActiveVisa}">
            <span class="nombre-producto azul-visa">Visa</span>
            <small class="numero-producto">N° {{ producto.NumeroProducto | numeroTarjeta }}</small>
            <hr>
            <div class="d-flex justify-content-between flex-row flex-md-column flex-lg-row">
              <span class="texto-montos">Disponible:</span>
              <span class="texto-montos monto">{{ producto.Cupo | pesos }}</span>
            </div>
            <div class="d-flex justify-content-end justify-content-md-center justify-content-lg-end flex-row flex-md-column flex-lg-row">
              <button class="btn-small btn-secundario me-3 me-md-0 me-lg-3 mb-md-3 mb-lg-0" type="button" routerLink="/mibanco/productos/visa">Ver movimientos</button>
              <button class="btn-small btn-primario" type="button" routerLink="/mibanco/productos/visa/pago">Pagar</button>
            </div>
          </div>
        </div> -->

        <div class="col-12 contenedor-ultimas-transacciones d-none d-md-block">
          <!-- Ultimas transacciones cta cte
          <div class="ultimas-transacciones" *ngIf="ultimasTransaccionesCtaCte" [@fadeInOut]>
            <p class="mb-1 cuenta-corriente">
              Últimos movimientos Cuenta Corriente
            </p>
            <table class="tabla-movimientos-home">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Texto detalle</th>
                  <th>Cargo</th>
                  <th>Abono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaccion of transaccionesCuentaCorriente">
                  <td>
                    <span class="contenido-celda">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.detalle }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.cargo !== '0' ? (transaccion.cargo | pesos) : ''
                      }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.abono !== '0' ? (transaccion.abono | pesos) : ''
                      }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->

          <!-- Ultimas transacciones linea crédito
          <div class="ultimas-transacciones" [@fadeInOut]>
            <p class="mb-1 linea-de-credito">
              Últimos movimientos Línea de Crédito
            </p>
            <table class="tabla-movimientos-home">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Texto detalle</th>
                  <th>Cargo</th>
                  <th>Abono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaccion of transaccionesLineaDeCredito">
                  <td>
                    <span class="contenido-celda">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.detalle }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.cargo !== '0' ? (transaccion.cargo | pesos) : ''
                      }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.abono !== '0' ? (transaccion.abono | pesos) : ''
                      }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->

          <!-- Ultimas transacciones visa
          <div class="ultimas-transacciones" *ngIf="ultimasTransaccionesVisa" [@fadeInOut]>
            <p class="mb-1 visa">
              Últimos movimientos Visa
            </p>
            <table class="tabla-movimientos-home">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Texto detalle</th>
                  <th>Cargo</th>
                  <th>Abono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaccion of transaccionesVisa">
                  <td>
                    <span class="contenido-celda">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.detalle }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.cargo !== '0' ? (transaccion.cargo | pesos) : ''
                      }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.abono !== '0' ? (transaccion.abono | pesos) : ''
                      }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 fondo-banner-grande">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5 m-2">
            <span class="titulo-ofertas">Aprovechas<br class="d-md-none"> las ofertas especiales<br> que tenemos para ti</span>
          </div>

          <!-- Banner credito consumo -->
          <div class="col-12">
            <div class="card card-banner banner-mibanco grande d-flex justify-content-end"
              style="background-image: url('./assets/images/banner-home-credito-consumo.jpg');">
              <div class="info-banner info-grande">
                <span class="titulo-banner text-start">
                  Crédito de Consumo
                </span>
                <!-- <span class="texto-explicativo text-start">
                  Hola <strong>{{ datosUsuarioActual?.PrimerNombre }} {{ datosUsuarioActual?.ApellidoPaterno
                    }}</strong>, disfruta de lo que quieras, con tu Crédito de Consumo pre-aprobado por un monto de:
                </span>
                <span class="monto text-start" *ngIf="getOfertaById(0) as oferta">
                  {{ oferta.MontoPreAprobado | pesos }}
                </span> -->
                <div class="d-flex align-items-md-end flex-column-reverse flex-md-row mt-3">
                  <span class="texto-legal me-3">
                    * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend finibus condimentum. Duis
                    est tortor, pulvinar vel sem sed, consequat pulvinar dolor. Praesent congue arcu id pellentesque
                    imperdiet.
                  </span>
                  <div>
                    <button class="btn-banner mb-3 mb-md-auto" type="button">Solicitar Crédito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container my-5">
        <div class="row d-flex align-content-around justify-content-between">

          <!-- Banner seguro -->
          <div class="col-12 col-lg-6 mt-4 mb-md-5 d-flex">
            <div class="card card-banner banner-mibanco medio"
              style="background-image: url('./assets/images/banner-seguro-auto.jpg');">
              <div class="info-banner d-flex justify-content-around align-content-stretch">
                <div class="info-medio">
                  <div class="d-flex flex-column ">
                    <span class="titulo-banner text-start">
                      Contrata tu Seguro Auto
                    </span>
                    <span class="texto-secundario">
                      Por un valor mensual por el primer año.
                    </span>
                    <span class="texto-explicativo">
                      oferta exclusiva para solo por este mes
                    </span>
                    <!-- <span class="monto-cuota text-start rojo" *ngIf="getOfertaById(0) as oferta">
                      UF {{ oferta.MontoPreAprobado}}
                    </span> -->
                    <img src="./assets/images/aseguradora.jpg" alt="Aseguradora" class="logos-empresas">
                  </div>
                  <div class="d-flex align-items-md-end flex-column-reverse flex-md-row mt-3">
                    <span class="texto-legal me-3">
                      * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend finibus condimentum.
                      Duis est tortor, pulvinar vel sem sed, consequat pulvinar dolor. Praesent congue arcu id
                      pellentesque imperdiet.
                    </span>
                    <div>
                      <a class="btn-link d-flex align-items-center justify-content-md-end mb-3 mb-md-auto"
                        type="button">
                        <div>
                          Más información
                        </div>
                        <span class="material-symbols-outlined icono-link">
                          chevron_right
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Banner visa -->
          <div class="col-12 col-lg-6 mt-4 mb-md-5 d-flex">
            <div class="card card-banner banner-mibanco medio"
              style="background-image: url('./assets/images/banner-visa.jpg');">
              <div class="info-banner d-flex justify-content-around align-content-stretch">
                <div class="info-medio">
                  <div class="d-flex flex-column">
                    <span class="titulo-banner text-start">
                      Paga con tu Tarjeta de Crédito Visa este mes y
                    </span>
                    <span class="texto-secundario">
                      Disfruta un descuento de
                    </span>
                    <span class="monto text-start rojo">
                      50%
                    </span>
                  </div>
                  <div class="d-flex align-items-md-end flex-column-reverse flex-md-row mt-1 mt-md-auto">
                    <span class="texto-legal me-3">
                      * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend finibus condimentum.
                      Duis est tortor, pulvinar vel sem sed, consequat pulvinar dolor. Praesent congue arcu id
                      pellentesque imperdiet.
                    </span>
                    <div>
                      <a class="btn-link d-flex align-items-center justify-content-md-end mb-3 mb-md-auto"
                        type="button">
                        <div>
                          Más información
                        </div>
                        <span class="material-symbols-outlined icono-link">
                          chevron_right
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>