<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1>Movimientos Cuenta Corriente</h1>
      <p>Elije uno de tus productos para todos los movimientos que haz realizado.</p>

      <div class="card p-4">
        <table class="table">
          <thead>
            <tr>
              <th [class.rotated]="isColumnRotated('fecha')" (click)="sortTableFecha()">
                <div class="d-flex">
                  Fecha
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th [class.rotated]="isColumnRotated('detalle')" (click)="sortTableDetalle()">
                <div class="d-flex">
                  Detalle
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div></th>
              <th [class.rotated]="isColumnRotated('cargo')" (click)="sortTableNumero('cargo')">
                <div class="d-flex">
                  Cargo
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th [class.rotated]="isColumnRotated('abono')" (click)="sortTableNumero('abono')">
                <div class="d-flex">
                  Abono
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
              <th [class.rotated]="isColumnRotated('saldoFinal')" (click)="sortTableNumero('saldoFinal')">
                <div class="d-flex">
                  Saldo
                  <span class="material-symbols-outlined">
                    expand_more
                  </span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trans of datosUsuarioActual?.datosUsuario?.montosUsuario?.ctaCte?.ctaCteTrans">
              <td>{{ trans.fecha | date:"dd / MM / yyyy" }}</td>
              <td>{{ trans.detalle }}</td>
              <td>{{ trans.cargo ? (trans.cargo | pesos) : '' }}</td>
              <td>{{ trans.abono ? (trans.abono | pesos) : '' }}</td>
              <td>{{ trans.saldoFinal | pesos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>