<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1>Movimientos Cuenta Corriente</h1>
      <p>Elije uno de tus productos para todos los movimientos que haz realizado.</p>

      <div class="card p-4">
        <table class="table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Detalle</th>
              <th>Cargo</th>
              <th>Abono</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trans of datosUsuarioActual?.datosUsuario?.montosUsuario?.ctaCte?.ctaCteTrans">
              <td>{{ trans.fecha }}</td>
              <td>{{ trans.detalle }}</td>
              <td>{{ trans.cargo }}</td>
              <td>{{ trans.abono }}</td>
              <td>{{ trans.saldo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>