<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1>Movimientos Cuenta Corriente</h1>
      <p>Elije uno de tus productos para todos los movimientos que haz realizado.</p>

      <div class="card p-4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Detalle</th>
              <th scope="col">Cargo</th>
              <th scope="col">Abono</th>
              <th scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>