<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <h1>Mis Datos</h1>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Nombre:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.nombreUserCompleto }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>RUT:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.rut }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Email:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.email }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Teléfono Celular:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.fonoCelular }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Teléfono Paticular:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.fonoParticular }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Dirección:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.direccion }}</p>
    </div>
  </div>
</div>