<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <h1>Mis Datos</h1>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Nombre:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.primerNombre }} {{ datosUsuarioActual?.datosUsuario?.segundoNombre }} {{ datosUsuarioActual?.datosUsuario?.apellidoPaterno }} {{ datosUsuarioActual?.datosUsuario?.apellidoMaterno }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>RUT:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.rut | rut }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Email:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.email }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Teléfono Celular:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.fonoCelular }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Teléfono Paticular:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.fonoParticular }}</p>
    </div>
    <div class="col-3 mb-4">
      <p><strong>Dirección:</strong></p>
    </div>
    <div class="col-9 mb-4">
      <p>{{ datosUsuarioActual?.datosUsuario?.direccionCalle }}, {{ datosUsuarioActual?.datosUsuario?.direccionCiudad }}, {{ datosUsuarioActual?.datosUsuario?.direccionPais }}.</p>
    </div>
  </div>
</div>