<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <div id="carouselHome" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active imagen-izq"
            style="background-image: url(./assets/images/banner-carousel-1.jpg);">
            <div class="ancho-info">
              <div class="info-slide-izq d-flex flex-column justify-content-between align-content-stretch">
                <div class="contenido-slide">
                  <span class="pre-titulo mt-0 mb-lg-2">Este mes disfruta de</span>
                  <span class="titulo">Los mejores restaurantes</span>
                  <hr class="separador-slide izq">
                  <span class="bajada">Utilizando tu tarjeta Visa, <br class="d-none d-sm-block">aprovenchando el
                    descuentos de:</span>
                  <span class="monto-slide">50%</span>
                  <button class="btn btn-primario mt-3 mt-lg-2" type="button">Más información</button>
                </div>
              </div>
              <div class="texto-legal d-none d-sm-block">
                * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend finibus condimentum.
              </div>
            </div>
          </div>
          <div class="carousel-item imagen-der" style="background-image: url(./assets/images/banner-carousel-2.jpg);">
            <div class="ancho-info">
              <div class="info-slide-der d-flex flex-column justify-content-between align-content-stretch">
                <div class="contenido-slide text-end">
                  <span class="pre-titulo">Este año</span>
                  <span class="titulo">Viaja donde y cuando quieras</span>
                  <hr class="separador-slide der">
                  <span class="bajada">Con tu Crédito de Consumo pre-aprobado de</span>
                  <span class="monto-slide">$ 10.000.000</span>
                  <button class="btn btn-primario mt-3 mt-lg-2" type="button">Solicitar</button>
                </div>
              </div>
              <div class="texto-legal d-none d-sm-block text-end">
                * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend finibus condimentum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>