<div class="col-12 mt-4">

  <div class="d-flex justify-content-md-between flex-column flex-md-row">
    <div class="d-flex align-items-center mb-5">
      <p class="mb-0 me-3">Buscar destinatario</p>
      <form class="d-flex ml-5" role="search" >
        <input class="form-control me-2 buscador" type="search" aria-label="Search" [formControl]="busquedaDestinatarios">
      </form>
    </div>
  
    <div>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#crearDestinatarioCanvas" (click)="abrirOffcanvas()">
        Agregar nuevo destinatario
      </button>
    </div>
  </div>

  <!-- Tabla -->
  <div>
    <table class="table table-striped tabla-agenda" role="table">
      <thead role="columnheader" role="rowgroup">
        <tr role="row">
          <th role="columnheader" (click)="ordenarDatos('nombre'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Nombre
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'nombre'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'nombre'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('apodo'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Apodo
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'apodo'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'apodo'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('rut'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Rut
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'rut'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'rut'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('banco'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Banco
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'banco'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'banco'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('tipoCuenta'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  Tipo de cuenta
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'tipoCuenta'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'tipoCuenta'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader" (click)="ordenarDatos('numeroCuenta'); onHeaderClick()">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda">
                  N° de cuenta
                </div>
              </span>
              <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'numeroCuenta'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'numeroCuenta'">
                expand_more
              </span>
            </div>
          </th>
          <th role="columnheader">
            <div class="d-flex align-items-center">
              <span class="ancho">
                <div class="contenido-celda ">
                  Acciones
                </div>
              </span>
              <span>&nbsp;</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr *ngFor="let destinatario of paginatedDestinatarios" role="row">
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ destinatario.nombre }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ destinatario.apodo }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ destinatario.rut| rut }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ destinatario.banco }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ destinatario.tipoCuenta }}</span>
          </td>
          <td role="cell" class="ancho">
            <span class="contenido-celda">{{ destinatario.numeroCuenta }}</span>
          </td>
          <td role="cell" class="ancho px-3 py-1">
            <span class="contenido-celda">
              <div class="d-flex justify-content-between">
                <!-- Editar datos destinatario -->
                <a href="javascript:void(0)" class="pt-1" data-bs-toggle="offcanvas" data-bs-target="#editarDestinatarioCanvas" aria-controls="staticBackdrop" (click)="datosDestinarioId(destinatario.id); abrirOffcanvas()">
                  <span class="material-symbols-outlined">
                    edit
                  </span>
                </a>
                <!-- Eliminar destinatario -->
                <a href="javascript:void(0)" class="pt-1" (click)="abrirModalEliminar(destinatario)">
                  <span class="material-symbols-outlined">
                    delete
                  </span>  
                </a>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <app-paginador [datosPaginador]="destinatarios" [itemsPerPage]="5" [currentPage]="1" (paginatedData)="paginatedDestinatarios = $event" [datosOrdenados]="datosOrdenados"></app-paginador>

  </div>
</div>

<!-- Sidenav para crear nuevo destinatario -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="crearDestinatarioCanvas">
  <app-agregar-destinatario (mostrarBackdropCustomChange)="mostrarBackdropCustomOffcanvasEstado = $event"></app-agregar-destinatario>
</div>

<!-- Sidenav para editar destinatario -->
<div class="offcanvas offcanvas-end" tabindex="-2" id="editarDestinatarioCanvas">
  <app-editar-destinatario (mostrarBackdropCustomChange)="mostrarBackdropCustomOffcanvasEstado = $event"></app-editar-destinatario>
</div>

<!-- Modal eliminar destinatario -->
<div class="modal fade" id="modalEliminarDestinatario" tabindex="-1" aria-labelledby="modalEliminarDestinatario" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body px-4 py-5">
        <div id="usuarioAEliminar" *ngIf="!usuarioEliminado">
          <div class="d-flex align-items-center mb-2">
            <span class="icono material-symbols-outlined d-block me-3 mensajes aviso">
              warning
            </span>
            <h4 class="d-block">
              <!-- Estas seguro de que quieres eliminar al destinatario <strong>{{ destinatarioSeleccionado?.nombre }}</strong>. -->
              Estas seguro de que quieres eliminar al destinatario.
            </h4>
          </div>
          <div class="d-flex justify-content-md-end flex-column-reverse flex-md-row mt-4">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary ms-md-3 mb-3 mb-md-0" (click)="eliminarDestinatario();">Eliminar</button>
          </div>
        </div>
        <div id="usuarioEliminado" *ngIf="usuarioEliminado">
          <!-- Usuario eliminado correctamente -->
          <div class="d-flex align-items-center mb-2" id="eliminado" *ngIf="!errorServer">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <h4 class="d-block">
              El usuario fue eliminado correctamente.
            </h4>
          </div>
          <!-- Error en server -->
          <div id="errorServer" id="errorServer" *ngIf="errorServer">
            <div class="d-flex align-items-center mb-2">
              <span class="icono material-symbols-outlined d-block me-3 mensajes error">
                Error
              </span>
              <h4 class="d-block">
                Hubo un error al eliminar el destinatario.
              </h4>
            </div>
          </div>
          <div class="d-flex justify-content-md-end flex-column-reverse flex-md-row mt-4">
            <button type="button" class="btn btn-primary ms-md-3 mb-3 mb-md-0" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal nuevo destinatario -->
<div class="modal fade" id="modalNuevoDestinatario" tabindex="-1" aria-labelledby="modalNuevoDestinatario" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body px-4 py-5">

        <div *ngIf="enviandoNuevoDestinatario">
          <div class="d-flex">
            <span class="icono material-symbols-outlined mensajes cargando ms-2">
              sync
            </span>
            <h4 class="mb-3 ms-3 text-starts">Se estan guardando los nuevos datos del nuevo destinatario.</h4>
          </div>
          <div class="w-100 text-center">
            <span>Espera un momento por favor.</span>
          </div>
        </div>

        <div *ngIf="datosGuardadosNuevoDestinatario">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <h4 class="mb-3 text-starts">El nuevo destinatario se guardo con éxito.</h4>
          </div>
          <div class="w-100">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>

        <div *ngIf="errorServerNuevoDestinatario">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes error">
              Error
            </span>
            <div>
              <h4 class="mb-2 text-starts">Hubo un error al intentar guardar el nuevo destinatario.</h4>
              <span>Intento mas tarde.</span>
            </div>
          </div>
          <div class="w-100 mt-3">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal edición destinatario -->
<div class="modal fade" id="modalEdicionDestinatario" tabindex="-1" aria-labelledby="modalEdicionDestinatario" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body px-4 py-5">

        <div *ngIf="enviandoDestinatarioEditado">
          <div class="d-flex">
            <span class="icono material-symbols-outlined mensajes cargando ms-2">
              sync
            </span>
            <h4 class="mb-3 ms-3 text-starts">Se estan guardando los nuevos datos del destinatario.</h4>
          </div>
          <div class="w-100 text-center">
            <span>Espera un momento por favor.</span>
          </div>
        </div>

        <div *ngIf="datosGuardadosDestinatarioEditado">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <h4 class="mb-3 text-starts">El destinatario se edito con éxito.</h4>
          </div>
          <div class="w-100">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>

        <div *ngIf="errorServerDestinatarioEditado">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes error">
              Error
            </span>
            <div>
              <h4 class="mb-2 text-starts">Hubo un error al intentar actualizar los datos del destinatario.</h4>
              <span>Intento mas tarde.</span>
            </div>
          </div>
          <div class="w-100 mt-3">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop-custom" *ngIf="mostrarBackdropCustomModal" [@fadeInOut]></div>
<div class="backdrop-custom" *ngIf="mostrarBackdropCustomOffcanvasEstado" [@fadeInOut]></div>