<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-3 mt-md-5">
        <h1 class="mb-5">Cuenta Corriente</h1>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#movimientos">Movimientos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#transferencias">Realizar Transferencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#cartola">Cartola historica</a>
          </li>
        </ul>
        <div class="tab-content">

          <!-- Movimientos -->
          <div class="tab-pane container active" id="movimientos">
            <app-movimientos></app-movimientos>
          </div>

          <!-- Transferencias -->
          <div class="tab-pane container fade" id="transferencias">
            <app-transferencias></app-transferencias>
          </div>

          <!-- Cartola -->
          <div class="tab-pane container fade" id="cartola">
            <app-cartola-historica></app-cartola-historica>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>