<app-carousel></app-carousel>

<div class="container pb-5">
  <div class="row">
    <div class="col-12 px-4 px-md-auto">
      <h1>
        Tus productos
        <span class="d-none d-md-block d-lg-none mb-4">
          <small>
            Si quieres ver las últimas transacciones de tus productos haz click sobre ellos.
          </small>
        </span>
      </h1>

      <div class="row align-items-md-stretch"  *ngIf="productos.length && transacciones.length">
        <!-- Cuenta corriente -->
        <!-- <div class="col-12 col-md-4 mb-3 mb-md-0" (mouseover)="mostrarTransaccionesCtaCte()" *ngIf="productos[0] && transacciones[0]"> -->
        <div class="col-12 col-md-4 mb-3 mb-md-0" (mouseover)="mostrarTransaccionesCtaCte()" *ngIf="productos[0] && getTransaccionesCtaCte()">
          <div class="card card-productos cuenta-corriente hover-productos-inicio mb-md-4" [ngClass]="{'active': isActiveCtaCte}">
            <span class="nombre-producto dorado">{{ productos[0].nombre_producto }}</span>
            <small class="numero-producto">N° {{ productos[0].numero_producto }}</small>
            <hr>
            <div class="d-flex justify-content-between flex-row flex-md-column flex-lg-row">
              <span class="texto-montos">Disponible:</span>
              <span class="texto-montos monto">{{ transacciones[0].saldo | pesos }}</span>
            </div>
            <div class="d-flex justify-content-end justify-content-md-center justify-content-lg-end flex-row flex-md-column flex-lg-row">
              <button class="btn-small btn-secundario" type="button" routerLink="/mibanco/productos/cuenta-corriente/ultimos-movimientos">Ver movimientos</button>
            </div>
          </div>
        </div>

        <!-- Linea de credito -->
        <div class="col-12 col-md-4 mb-3 mb-md-0" (mouseover)="mostrarTransaccionesLineaCredito()" *ngIf="productos[1] && getTransaccionesLineaCredito()">
          <div class="card card-productos linea-de-credito hover-productos-inicio mb-md-4" [ngClass]="{'active': isActiveLineaCredito}">
            <span class="nombre-producto tinto">{{ productos[1].nombre_producto }}</span>
            <small class="numero-producto">N° {{ productos[1].numero_producto }}</small>
            <hr>
            <div class="d-flex justify-content-between flex-row flex-md-column flex-lg-row">
              <span class="texto-montos">Disponible:</span>
              <span class="texto-montos monto tinto">{{ transacciones[1].saldo | pesos }}</span>
            </div>
            <div class="d-flex justify-content-end justify-content-md-center justify-content-lg-end flex-row flex-md-column flex-lg-row">
              <button class="btn-small btn-secundario" type="button" routerLink="/mibanco/productos/cuenta-corriente/ultimos-movimientos">Ver movimientos</button>
            </div>
          </div>
        </div>

        <!-- Visa -->
        <div class="col-12 col-md-4 mb-3 mb-md-0" (mouseover)="mostrarTransaccionesVisa()" *ngIf="productos[2] && getTransaccionesVisa()">
          <div class="card card-productos visa hover-productos-inicio mb-md-4" [ngClass]="{'active': isActiveVisa}">
            <span class="nombre-producto azul-visa">{{ productos[2].nombre_producto }}</span>
            <small class="numero-producto">N° {{ productos[2].numero_producto | numeroTarjeta }}</small>
            <hr>
            <div class="d-flex justify-content-between flex-row flex-md-column flex-lg-row">
              <span class="texto-montos">Disponible:</span>
              <span class="texto-montos monto azul-visa">{{ transacciones[2].saldo | pesos }}</span>
            </div>
            <div class="d-flex justify-content-end justify-content-md-center justify-content-lg-end flex-row flex-md-column flex-lg-row">
              <button class="btn-small btn-secundario" type="button" routerLink="/mibanco/productos/cuenta-corriente/ultimos-movimientos">Ver movimientos</button>
            </div>
          </div>
        </div>

        <div class="col-12 contenedor-ultimas-transacciones d-none d-md-block">
          <!-- Ultimas transacciones cta cte -->
          <div class="ultimas-transacciones" *ngIf="ultimasTransaccionesCtaCte" [@fadeInOut]>
            <p class="mb-1 cuenta-corriente">
              Últimos movimientos Cuenta Corriente
            </p>
            <table class="tabla-movimientos-home">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Texto detalle</th>
                  <th>Cargo</th>
                  <th>Abono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaccion of getTransaccionesCtaCte()">
                  <td>
                    <span class="contenido-celda">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.detalle }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.cargo !== '0' ? (transaccion.cargo | pesos) : ''
                      }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.abono !== '0' ? (transaccion.abono | pesos) : ''
                      }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Ultimas transacciones linea crédito -->
          <div class="ultimas-transacciones" *ngIf="ultimasTransaccionesLineaCredito" [@fadeInOut]>
            <p class="mb-1 linea-de-credito">
              Últimos movimientos Línea de Crédito
            </p>
            <table class="tabla-movimientos-home">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Texto detalle</th>
                  <th>Cargo</th>
                  <th>Abono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaccion of getTransaccionesLineaCredito()">
                  <td>
                    <span class="contenido-celda">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.detalle }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.cargo !== '1' ? (transaccion.cargo | pesos) : ''
                      }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.abono !== '1' ? (transaccion.abono | pesos) : ''
                      }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Ultimas transacciones visa -->
          <div class="ultimas-transacciones" *ngIf="ultimasTransaccionesVisa" [@fadeInOut]>
            <p class="mb-1 visa">
              Últimos movimientos Visa
            </p>
            <table class="tabla-movimientos-home">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Texto detalle</th>
                  <th>Cargo</th>
                  <th>Abono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaccion of getTransaccionesVisa()">
                  <td>
                    <span class="contenido-celda">{{ transaccion.fecha | date:"dd / MM / yyyy" }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.detalle }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.cargo !== '2' ? (transaccion.cargo | pesos) : ''
                      }}</span>
                  </td>
                  <td>
                    <span class="contenido-celda">{{ transaccion.abono !== '2' ? (transaccion.abono | pesos) : ''
                      }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 fondo-banner-grande">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5 m-2">
            <span class="titulo-ofertas">Aprovechas<br class="d-md-none"> las ofertas especiales<br> que tenemos para ti</span>
          </div>

          <!-- Banner credito consumo -->
          <div class="col-12">
            <app-banner-credito-consumo></app-banner-credito-consumo>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container my-5">
        <div class="row d-flex align-content-around justify-content-between">

          <!-- Banner seguro -->
          <div class="col-12 col-lg-6 mt-4 mb-md-5 d-flex">
            <app-banner-seguro-auto></app-banner-seguro-auto>
          </div>

          <!-- Banner visa -->
          <div class="col-12 col-lg-6 mt-4 mb-md-5 d-flex">
            <app-banner-visa-descuento></app-banner-visa-descuento>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>