// Hoja de estilos par header

header.mi-banco-header {
  background-color: $rojo;

  
  
  

  .navbar {
    .logo-mb-blanco {
      width: 106px;
      height: 44px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 197.41 76.24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff;stroke-width:0}%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M33.14 29.74v-4.26l-13.13 8.36 3.35 2.12 9.78-6.21m0-29.75v4.23l33.08 21.08v-4.23L33.14 0Zm-.06 46.51v4.26l13.1-8.36-3.32-2.12-9.78 6.22Zm0 29.73v-4.23L0 50.93v4.23l33.08 21.08ZM33.14 16.98 13.34 29.6l3.35 2.12 16.45-10.5v-4.23m0-8.5v4.26l33.08 21.08v-4.26L33.14 8.49Zm-.06 50.77 19.77-12.62-3.32-2.12-16.45 10.5v4.23Zm0 8.49v-4.26L0 42.41v4.26l33.08 21.08Z'/%3E%3Cpath class='cls-1' d='M33.14 8.49 6.67 25.34l3.32 2.14 23.15-14.76V8.49m0 8.49v4.26l33.08 21.08v-4.26L33.14 16.98Zm-.06 50.77L59.55 50.9l-3.35-2.14-23.12 14.76v4.23Zm0-8.49V55L0 33.92v4.26l33.08 21.08ZM33.14 0 0 21.11l3.32 2.12 29.82-19V0m0 25.48v4.26l33.08 21.08v-4.26L33.14 25.48Zm-.06 50.76 33.14-21.11-3.35-2.12L33.08 72v4.23Zm0-25.47v-4.26L0 25.42v4.26l33.08 21.08ZM97.19 36.17l-.06-9.84-4.69 7.9h-3.21l-4.69-7.56v9.5h-6.63V14.58h5.98l7.03 11.51 6.85-11.51h5.98l.06 21.59h-6.63ZM107.34 14.58h7.28v21.59h-7.28V14.58ZM98.15 51.95c.7.91 1.05 2 1.05 3.27 0 1.89-.78 3.36-2.34 4.4s-3.83 1.56-6.79 1.56H77.92V39.59h11.54c2.88 0 5.05.51 6.52 1.54 1.47 1.03 2.21 2.4 2.21 4.1 0 1.01-.25 1.91-.76 2.71-.5.8-1.25 1.45-2.24 1.94 1.27.47 2.26 1.16 2.96 2.07Zm-13.08-7.28v3.21h3.39c1.58 0 2.38-.54 2.38-1.6s-.79-1.6-2.38-1.6h-3.39Zm6.78 9.71c0-1.13-.8-1.7-2.41-1.7h-4.38v3.39h4.38c1.6 0 2.41-.57 2.41-1.7ZM116.47 57.41h-8.21l-1.45 3.76h-7.4l9.44-21.59h7.16l9.44 21.59h-7.53l-1.45-3.76Zm-2.01-5.25-2.1-5.43-2.1 5.43h4.2ZM147.9 39.58v21.59h-5.98l-8.2-9.81v9.81h-7.1V39.58h5.98l8.21 9.81v-9.81h7.09ZM156.42 60.23c-1.83-.96-3.27-2.29-4.3-4.01-1.04-1.72-1.56-3.67-1.56-5.85s.52-4.13 1.56-5.85c1.04-1.72 2.47-3.05 4.3-4.01 1.83-.96 3.89-1.43 6.17-1.43 2.1 0 3.97.37 5.61 1.11s3 1.81 4.07 3.21l-4.6 4.1c-1.34-1.69-2.91-2.53-4.72-2.53-1.52 0-2.75.49-3.67 1.47-.93.98-1.39 2.29-1.39 3.93s.46 2.96 1.39 3.93c.92.98 2.15 1.46 3.67 1.46 1.81 0 3.38-.84 4.72-2.53l4.6 4.1c-1.07 1.4-2.43 2.47-4.07 3.21s-3.52 1.11-5.61 1.11c-2.28 0-4.34-.48-6.17-1.43ZM178.97 60.21c-1.85-.97-3.3-2.31-4.35-4.03-1.05-1.72-1.57-3.66-1.57-5.82s.52-4.1 1.57-5.81 2.5-3.06 4.35-4.03 3.94-1.45 6.26-1.45 4.41.48 6.26 1.45c1.85.97 3.3 2.31 4.35 4.03s1.57 3.66 1.57 5.81-.52 4.1-1.57 5.82c-1.05 1.72-2.5 3.06-4.35 4.03-1.85.97-3.94 1.45-6.26 1.45s-4.41-.48-6.26-1.45Zm8.71-5.1c.73-.44 1.31-1.07 1.74-1.88.43-.81.65-1.76.65-2.85s-.22-2.04-.65-2.85c-.43-.81-1.01-1.44-1.74-1.88-.73-.44-1.55-.66-2.45-.66s-1.72.22-2.45.66c-.73.44-1.31 1.07-1.74 1.88-.43.81-.65 1.76-.65 2.85s.22 2.04.65 2.85c.43.81 1.01 1.44 1.74 1.88.73.44 1.55.66 2.45.66s1.72-.22 2.45-.66Z'/%3E%3C/svg%3E");
      background-size: 106px 44px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
    li a {
      color: $blanco;
    }
    .btn-header {
      color: $blanco;
    }
  }
  .nombre-usuario {
    color: $blanco;
  }

  // Menu usuario
  .dropdown-menu {
    background-color: $rojo-claro;
    li {
      border-bottom: 1px solid $blanco ;
      &:last-child {
        border-bottom: none;
      }
    } 
  }
}