<footer class="mi-banco-header pb-4 pt-4 pt-md-5">
  <div class="container pt-1">
    <div class="row">
      <div class="col-12 col-sm-2">
        <div class="logo-mb-footer mx-3 mx-md-0 mb-4"></div>
      </div>
      <div class="col-12 col-md-5">
        <h6 class="mb-4 mx-3 mx-md-0 tinto">Servicio al cliente</h6>
        <ul class="mx-3 mx-md-0 mb-5 mb-md-0">
          <li class="mb-4">
            <p class="d-flex align-items-center mb-0">
              <span class="material-symbols-outlined dorado">call</span>
              <span>Desde red fija: <strong class="ms-2">000 000 00 00</strong></span>
            </p>
            <small>Lunes a viernes de 8:00 a 19:00 hrs.</small>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <span class="material-symbols-outlined dorado">phone_iphone</span>
              <span>Desde celulares: <strong class="ms-2">+569 0000 0000</strong></span>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center mb-0">
              <span class="material-symbols-outlined dorado">error</span> Emergencias<span class="d-none d-lg-block"> bancarias</span>: <strong class="ms-2">+59 2 0000 0000</strong>
            </p>
            <small>Lunes a viernes de 8:00 a 19:00 hrs.</small>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-5">
        <h6 class="mb-4 mx-3 mx-md-0 tinto">Ayuda 24 hrs</h6>
        <ul class="mx-3 mx-md-0">
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="javascript:void(0);" routerLink="/mibanco/ayuda" routerLinkActive="active" (click)="onLinkClick('centro-de-ayuda')">
                Centro de Ayuda
              </a>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="javascript:void(0);" routerLink="/mibanco/ayuda" routerLinkActive="active" (click)="onLinkClick('emergencias-bancarias')">
                Emergencias Bancarias
              </a>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="javascript:void(0);" routerLink="/mibanco/ayuda" routerLinkActive="active" (click)="onLinkClick('bloqueo-tarjeta-debito')">
                Bloqueo de Tarjeta de Débito
              </a>
            </p>
          </li>
          <li class="mb-4">
            <p class="d-flex align-items-center">
              <a href="javascript:void(0);" routerLink="/mibanco/ayuda" routerLinkActive="active" (click)="onLinkClick('bloqueo-tarjeta-credito')">
                Bloqueo de Tarjeta de Crédito
              </a>
            </p>
          </li>
          <li>
            <p class="d-flex align-items-center">
              <a href="javascript:void(0);" routerLink="/mibanco/ayuda" routerLinkActive="active" (click)="onLinkClick('canales-de-atencion')">
                Canales de Atención
              </a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="my-3 my-md-4">
      <div class="col-12 text-center">
        <ul class="m-0">
          <li class="d-inline-block mx-2">
            <a href="javascript:void(0);" class="btn-rrss instagram"></a>
          </li>
          <li class="d-inline-block mx-2">
            <a href="javascript:void(0);" class="btn-rrss x"></a>
          </li>
          <li class="d-inline-block mx-2">
            <a href="javascript:void(0);" class="btn-rrss facebook"></a>
          </li>
          <li class="d-inline-block mx-2">
            <a href="javascript:void(0);" class="btn-rrss tiktok"></a>
          </li>
        </ul>
      </div>
      <hr class="mt-2 mb-4">
      <div class="col-12 text-center pb-4">
        <small class="mb-0">Mi Banco © 2024 V.2 | Términos de uso | Privacidad | Sitio desarrollado por <a href="https://www.claudiosalazar.cl" target="new" class="btn-link">Claudio Salazar</a>.</small>
      </div>
    </div>
  </div>
</footer>