<div class="container">
  <div class="row">
    <div class="col-7 mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-5">Pago Linea de Crédito</h1>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-12 mb-5" *ngIf="datosUsuarioActual">
              <h3>Datos Pago</h3>
              <p class="mb-0">Cupo Utilizado: <strong>{{cupoUtilizado ?? 0 | pesos}}</strong></p>
              <p class="mb-0">Cupo Total: <strong>{{ datosUsuarioActual.datosUsuario.montosUsuario.lineaCredito.lineaCreSaldo | pesos }}</strong></p>
              <p class="mb-4">Cupo Disponible: <strong>{{saldoLineaCredito ?? 0 | pesos}}</strong></p>
              <hr class="mb-4">
              <div class="form-floating">
                <select class="form-select" id="productoParaPago" (change)="onProductoSeleccionado($event)">
                  <option selected>-</option>
                  <option value="0">Cuenta Corriente N° {{ datosUsuarioActual.datosUsuario.montosUsuario.ctaCte.ctaCteN }}</option>
                  <option value="1">Visa N° {{ datosUsuarioActual.datosUsuario.montosUsuario.visa.visaN }}</option>
                </select>
                <label for="productoParaPago">Seleccione producto para el pago</label>
              </div>
              <small class="pt-2 d-block" *ngIf="productoSeleccionado === '0'">Saldo: <strong>{{ saldoCtaCte ?? 0 | pesos }}</strong></small>
              <small class="pt-2 d-block" *ngIf="productoSeleccionado === '1'">Saldo: <strong>{{ saldoVisa ?? 0 | pesos }}</strong></small>
            </div>
    
            <div class="col-12 mb-5" id="montoApagar">
              <h3>Monto a Pagar</h3>
              <div class="d-flex mb-4">
                <div class="form-check me-3">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="pagoTotalCheck" (change)="onMontoApagarOptionChange('pagoTotal')">
                  <label class="form-check-label" for="pagoTotalCheck">
                    Pago Total
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="otroMontoCheck" checked (change)="onMontoApagarOptionChange('otroMontoPago')">
                  <label class="form-check-label" for="otroMontoCheck">
                    Otro Monto
                  </label>
                </div>
              </div>
              <div class="input-group" *ngIf="montoApagarOption === 'pagoTotal'">
                <input type="text" class="form-control" id="pagoTotal" for="pagoTotal" [value]="cupoUtilizado | pesos" disabled>
              </div>
              <div class="input-group" *ngIf="montoApagarOption === 'otroMontoPago'" for="otroMonto">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" id="otroMontoPago" placeholder="Ingresar monto a pagar" [(ngModel)]="otroMontoPago" (ngModelChange)="onOtroMontoPagoChange($event)">
              </div>
            </div>
    
            <div class="col-12">
              <h3>Enviar comprobante a:</h3>
              <div class="form-floating">
                <input type="text" class="form-control" id="emailComprobante" >
                <label for="emailComprobante">Email</label>
              </div>
            </div>
    
          </div>
        </div>
    
        <div class="col-12 mt-5">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary me-3">Cancelar</button>
            <button type="button" class="btn btn-primary">Pagar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="h-75 p-5 bg-body-tertiary border rounded-3 mt-5 ms-4">
        <h4 class="d-flex justify-content-between">Seguro Accidentes</h4>
        <p>Contrata Seguro Accidentes, oferta exclusiva para el presente mes.</p>
        <!-- <p>Valor mensual: <strong>{{ datosUsuarioActual.datosUsuario.ofertasProductos.seguroOferta| pesos }}</strong></p> -->
        <button class="btn btn-outline-secondary" type="button">Contratar Seguro</button>
      </div>
    </div>

  </div>
</div>