<div class="container">
  <div class="row">
    <div class="col-7 mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-5">Pago Linea de Crédito</h1>
        </div>

        <div class="col-12">
          <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="col-12 mb-5" *ngIf="datosUsuarioActual">
              <h3>Datos Pago</h3>
              <p class="mb-0">Cupo Utilizado: <strong>{{cupoUtilizado ?? 0 | pesos}}</strong></p>
              <p class="mb-0">Cupo Total: <strong>{{ datosUsuarioActual.datosUsuario.montosUsuario.lineaCredito.lineaCreSaldo | pesos }}</strong></p>
              <p class="mb-4">Cupo Disponible: <strong>{{saldoLineaCredito ?? 0 | pesos}}</strong></p>
              <hr class="mb-4">
              <div class="form-floating">
                <select class="form-select" id="productoParaPago" (change)="onProductoSeleccionado($event)" formControlName="productoParaPago" [ngClass]="{'is-invalid': form.get('productoParaPago')?.invalid && form.get('productoParaPago')?.touched}">
                  <option selected>-</option>
                  <option value="0">Cuenta Corriente N° {{ datosUsuarioActual.datosUsuario.montosUsuario.ctaCte.ctaCteN }}</option>
                  <option value="1">Visa N° {{ datosUsuarioActual.datosUsuario.montosUsuario.visa.visaN }}</option>
                </select>
                <label for="productoParaPago">Seleccione producto para el pago</label>
                <div *ngIf="form.get('productoParaPago')?.invalid && form.get('productoParaPago')?.touched" class="invalid-feedback d-block">
                  Debe seleccionar un producto para el pago.
                </div>
              </div>
              <small class="pt-2 d-block" *ngIf="productoSeleccionado === '0'">Saldo: <strong>{{ saldoCtaCte ?? 0 | pesos }}</strong></small>
              <small class="pt-2 d-block" *ngIf="productoSeleccionado === '1'">Saldo: <strong>{{ saldoVisa ?? 0 | pesos }}</strong></small>
            </div>
    
            <div class="col-12 mb-5" id="montoApagar">
              <h3>Monto a Pagar</h3>

              <div class="d-flex mb-4">
              

                <div class="form-check me-3">
                  <input class="form-check-input" type="radio" formControlName="monto" value="pagoTotalCheck" id="pagoTotalCheck" (change)="onMontoApagarOptionChange('pagoTotal')">
                  <label class="form-check-label" for="pagoTotalCheck">
                    Pago Total
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" formControlName="monto" value="otroMontoCheck" id="otroMontoCheck" (change)="onMontoApagarOptionChange('otroMontoPago')">
                  <label class="form-check-label" for="otroMontoCheck">
                    Otro Monto
                  </label>
                </div>





              </div>



              <div class="input-group" *ngIf="montoApagarOption === 'pagoTotal'">
                <input type="text" class="form-control" id="pagoTotal" for="pagoTotal" [value]="cupoUtilizado | pesos" disabled>
              </div>
              <div class="input-group" *ngIf="montoApagarOption === 'otroMontoPago'" for="otroMonto">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" id="otroMontoPago" formControlName="otroMontoPago" placeholder="Ingresar monto a pagar" (input)="onOtroMontoPagoChange($event)" [ngClass]="{'is-invalid': form.get('otroMontoPago')?.invalid && form.get('otroMontoPago')?.touched}">
                <div *ngIf="form.get('otroMontoPago')?.invalid && form.get('otroMontoPago')?.touched" class="invalid-feedback d-block">
                  Debe ingresar un monto mayor a 0.
                </div>
              </div>




            </div>
    
            <div class="col-12">
              <h3>Enviar comprobante a:</h3>
              <div class="form-floating">
                <input type="email" class="form-control" id="emailComprobante" [value]="datosUsuarioActual?.datosUsuario?.email" formControlName="emailComprobante" (change)="onEmailChange()" [ngClass]="{'is-invalid': form.get('emailComprobante')?.invalid && form.get('emailComprobante')?.dirty}" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
                <label for="emailComprobante">Email</label>
                <div *ngIf="form.get('emailComprobante')?.errors?.['required'] && form.get('emailComprobante')?.dirty" class="invalid-feedback d-block">
                  Debe ingresar un email.
                </div>
                <div *ngIf="(form.get('emailComprobante')?.errors?.['email'] || form.get('emailComprobante')?.errors?.['pattern']) && form.get('emailComprobante')?.dirty" class="invalid-feedback d-block">
                  Debe ingresar un email válido.
                </div>
              </div>
            </div>

            <div class="col-12 mt-5">
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary me-3">Cancelar</button>
                <button type="submit" class="btn btn-primary">Pagar</button>
              </div>
            </div>
    
          </form>
        </div>
    
      </div>
    </div>

    <div class="col-5">
      <div class="h-75 p-5 bg-body-tertiary border rounded-3 mt-5 ms-4">
        <h4 class="d-flex justify-content-between">Seguro Accidentes</h4>
        <p>Contrata Seguro Accidentes, oferta exclusiva para el presente mes.</p>
        <!-- <p>Valor mensual: <strong>{{ datosUsuarioActual.datosUsuario.ofertasProductos.seguroOferta| pesos }}</strong></p> -->
        <button class="btn btn-outline-secondary" type="button">Contratar Seguro</button>
      </div>
    </div>

  </div>
</div>