<!-- <ng-container *ngIf="movimientosVisa"> -->
<ng-container>
  <div class="container pb-5">
    <div class="row" *ngIf="productos.length > 0">
      <div class="col-12 px-4 px-md-auto">

        <h1>
          {{ productos[2].nombre_producto }}
          <span>N° {{ productos[2].numero_producto | numeroTarjeta}}</span>
        </h1>

        <!-- <div class="card p-4 mt-4">
          <div class="d-flex justify-content-between flex-column align-items-center flex-md-row">
            <div class="d-flex flex-column" *ngIf="transaccionMasReciente">
              <div>
                <h5>Monto Facturado del mes: <strong class="dorado">$ 50.000</strong></h5>
              </div>
              <div>
                <small class="mb-0">
                  Último pago realizado el <br class="d-md-none">
                  <strong class="tinto">{{ transaccionMasReciente.fecha | date:"dd / MM / yyyy" }}</strong>,
                  <br class="d-md-none"> por un valor de 
                  <strong class="tinto">{{ transaccionMasReciente.abono | pesos }}</strong>.
                </small>
              </div>
            </div>
            <div>
              <button class="btn btn-primario mt-3 mt-md-0" (click)="mostrarPagoVisa()">Pagar</button>
            </div>
          </div>
        </div> -->

        <div class="card mt-4">
          <div class="p-4">
            <mb-buscador-tabla [tituloBuscador]="'Buscar transaccion'" (datosFiltradosEvent)="handleDatosFiltrados($event)"></mb-buscador-tabla>
          </div>
          <mb-tabla-movimientos [id]="transaccionesVisa" [mostrarPaginador]="mostrarPaginador" [claseTabla]="'tabla-movimientos'" [idProducto]="2"></mb-tabla-movimientos>
        </div>
        
      </div>
    </div>
  </div>
</ng-container>

<!-- Muestra formulario pago -->
<ng-container *ngIf="formularioPagoVisa">
  <mb-visa-pago></mb-visa-pago>
</ng-container>

<!-- Muestra comprobante de pago -->
<ng-container *ngIf="comprobantePagoVisa">
  <mb-visa-comprobante></mb-visa-comprobante>
</ng-container>