<!-- <ng-container *ngIf="movimientosVisa"> -->
<ng-container>
  <div class="container pb-5">
    <div class="row" *ngIf="productos.length && transacciones.length">
      <div class="col-12 px-4 px-md-auto">

        <h1>
          {{ productos[2].nombre_producto }}
          <span>N° {{ productos[2].numero_producto | numeroTarjeta}}</span>
        </h1>

        <div class="card p-4 mt-4">
          <div class="d-flex justify-content-between flex-column  align-items-center flex-md-row">
            <div class="d-flex align-items-center">
              <div>
                <h5>Monto Facturado del mes: <strong class="dorado">$ 50.000</strong></h5>
                <small class="mb-0">
                  <!-- Último pago realizado el <br class="d-md-none"><strong class="tinto">{{ fechaUltimoAbono | date:"dd / MM / yyyy" }}</strong>,<br class="d-md-none"> por un valor de  <strong class="tinto">{{ ultimoMontoAbono | pesos }}</strong>. -->
                  Último pago realizado el <br class="d-md-none"><strong class="tinto">00/00/0000</strong>,<br class="d-md-none"> por un valor de  <strong class="tinto">000000</strong>.
                </small>
              </div>
            </div>
            <div>
              <button class="btn btn-primario mt-3 mt-md-0" (click)="mostrarPagoVisa()">Pagar</button>
            </div>
          </div>
        </div>

        <div class="card mt-4">
          <div class="p-4">
            <app-buscador-tabla [tituloBuscador]="'Buscar transacción'"></app-buscador-tabla>
          </div>
          <!-- Importacion de componente tables -->
          <!-- <app-tables [id]="transaccionesVisa" [mostrarPaginador]="mostrarPaginador" [nuevaClase]="'table-productos'" (datosFiltradosEvent)="handleDatosFiltrados([$event])"></app-tables> -->
          <app-tabla-movimientos [id]="transaccionesVisa" [mostrarPaginador]="mostrarPaginador" [nuevaClase]="'table-productos'" [idProducto]="2" (datosFiltradosEvent)="handleDatosFiltrados([$event])"></app-tabla-movimientos>
        </div>


      </div>
    </div>
  </div>
</ng-container>

<!-- Muestra formulario pago -->
<ng-container *ngIf="formularioPagoVisa">
  <app-visa-pago></app-visa-pago>
</ng-container>

<!-- Muestra comprobante de pago -->
<ng-container *ngIf="comprobantePagoVisa">
  <app-visa-comprobante></app-visa-comprobante>
</ng-container>