.fondo-login {
  background-image: url('../../../../assets/images/bg-login.jpg');
  background-size: cover;
  background-position: center center;
  //
  height: 100vh;
}

h1 {
  &.titulo-login {
    color: $blanco !important;
    background: none;
    padding-left: 0;
  }
}

.formulario-login {
  background-color: $tinto;
  color: $blanco;
  height: 100vh;
  .logo-login {
    width: 200px;
    height: 83px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' baseProfile='tiny' version='1.2' viewBox='0 0 105 40'%3E%3Cg fill='%23ff9a24'%3E%3Cpath d='m24.23 22.25-1.74-1.11-5.13 3.26L0 13.34v2.23l17.36 11.06 6.87-4.38z'/%3E%3Cpath d='m10.5 17.75 1.76 1.11 5.13-3.26 17.35 11.06v-2.23L17.39 13.37l-6.89 4.38zM17.39 0 0 11.08l1.74 1.11 15.65-9.97 17.35 11.06v-2.22L17.39 0z'/%3E%3Cpath d='m27.73 24.47-1.74-1.11-8.63 5.51v-.02L0 17.79v2.24l17.36 11.06 10.37-6.62zM7 15.53l1.76 1.11 8.63-5.51v.02l17.35 11.06v-2.24L17.39 8.91 7 15.53z'/%3E%3Cpath d='m3.5 13.3 1.74 1.12 12.15-7.74v.01l17.35 11.06v-2.23L17.39 4.46 3.5 13.3zm27.74 13.4-1.75-1.12-12.13 7.74v-.01L0 22.25v2.23l17.36 11.06 13.88-8.84z'/%3E%3Cpath d='M17.36 37.78 0 26.72v2.22L17.36 40l17.38-11.08-1.75-1.11-15.63 9.97z'/%3E%3C/g%3E%3Cpath d='m51.33 18.92-.03-5.43-2.51 4.36h-1.72l-2.51-4.17v5.25h-3.55V7h3.2l3.77 6.35L51.65 7h3.2l.03 11.92h-3.55ZM56.76 7h3.9v11.92h-3.9V7Zm-4.92 20.63c.37.5.56 1.1.56 1.81 0 1.05-.42 1.85-1.26 2.43s-2.05.86-3.63.86H41V20.81h6.18c1.54 0 2.71.28 3.49.85.79.57 1.18 1.32 1.18 2.27 0 .56-.13 1.06-.4 1.5-.27.44-.67.8-1.2 1.07.68.26 1.21.64 1.59 1.14Zm-7.01-4.02v1.77h1.82c.85 0 1.27-.3 1.27-.89s-.42-.89-1.27-.89h-1.82Zm3.64 5.37c0-.62-.43-.94-1.29-.94h-2.35v1.87h2.35c.86 0 1.29-.31 1.29-.94Zm13.18 1.67h-4.39l-.78 2.08h-3.96l5.06-11.92h3.83l5.06 11.92h-4.03l-.78-2.08Zm-1.07-2.9-1.12-3-1.12 3h2.25Zm17.9-6.95v11.92h-3.21l-4.39-5.42v5.42h-3.8V20.8h3.2l4.39 5.42V20.8h3.8Zm4.56 11.41a5.825 5.825 0 0 1-2.3-2.21c-.56-.95-.83-2.02-.83-3.23s.28-2.28.83-3.23c.56-.95 1.32-1.69 2.3-2.21.98-.53 2.08-.79 3.3-.79 1.12 0 2.13.2 3.01.61s1.61 1 2.18 1.77l-2.46 2.27c-.72-.93-1.56-1.4-2.53-1.4-.81 0-1.47.27-1.97.81s-.74 1.26-.74 2.17.25 1.63.74 2.17c.5.54 1.15.81 1.97.81.97 0 1.81-.47 2.53-1.4l2.46 2.27c-.57.77-1.3 1.36-2.18 1.77s-1.88.61-3.01.61c-1.22 0-2.32-.26-3.3-.79Zm12.08-.01a5.86 5.86 0 0 1-2.33-2.22c-.56-.95-.84-2.02-.84-3.21s.28-2.26.84-3.21 1.34-1.69 2.33-2.22 2.11-.8 3.35-.8 2.36.27 3.35.8c.99.53 1.77 1.27 2.33 2.22s.84 2.02.84 3.21-.28 2.26-.84 3.21a5.86 5.86 0 0 1-2.33 2.22c-.99.53-2.11.8-3.35.8s-2.36-.27-3.35-.8Zm4.67-2.82c.39-.24.7-.59.93-1.04.23-.45.35-.97.35-1.58s-.12-1.13-.35-1.58c-.23-.45-.54-.79-.93-1.04-.39-.24-.83-.37-1.31-.37s-.92.12-1.31.37c-.39.24-.7.59-.93 1.04-.23.45-.35.97-.35 1.58s.12 1.13.35 1.58c.23.45.54.79.93 1.04.39.24.83.37 1.31.37s.92-.12 1.31-.37Z' fill='%23ff9a24'/%3E%3C/svg%3E");
    background-size: 200px 83px;
    background-position: 0 0;
    background-repeat: no-repeat;
    @media (min-width: $md)  {
      width: 300px;
      height: 124px;
      background-size: 300px 124px;
    }
  }

  .btn {
    padding: 16px 20px;
    &.btn-login {
      background-color: $dorado !important;
      color: $blanco;
      border-color: none;
      border: none;
      text-transform: uppercase;
      &:hover {
        color: $blanco;
        background-color: $dorado;
        border-color: $dorado;
      }
    }
  }
  
  .invalid-feedback {
    color: $advertencia !important;
    font-weight: 400 !important;
    font-size: 14px !important;
  }

  .form-control {
    &.is-valid {
      border-color: $valido !important;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 13.8 0 8.2 1.2 7l4.4 4.4 9.2-9.3L16 3.3 5.5 13.8Z' fill='%234ad574'/%3E%3C/svg%3E") !important;
      background-size: 16px 16px !important;
      background-position: right calc(.8em + .1875rem) center !important;
      &:focus {
        border-color: $dorado !important;
      }
    }
    &.is-invalid {
      animation: none !important;
      border: 2px solid $advertencia !important;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 16c-.4 0-.8-.2-1.2-.5-.3-.3-.5-.7-.5-1.2s.2-.8.5-1.2c.3-.3.7-.5 1.2-.5s.8.2 1.2.5c.3.3.5.7.5 1.2s-.2.8-.5 1.2c-.3.3-.7.5-1.2.5Zm-1.6-5.3V0h3.3v10.7H6.4Z' fill='%23ff1744'/%3E%3C/svg%3E") !important;
      background-position: right calc(.8em + .1875rem) center !important;
      box-shadow: 0px 0px 24px -4px rgba(255, 200, 0, .5);
    }
  }
  
}