.contenido-general {
  display: flex;
  justify-content: flex-start; 
  align-items: stretch; 
  flex-direction: column;  
  height: 100%;

  #informacion {
    position: relative;
    padding-top: 68px;
    flex-grow:1;
    align-self:auto;
    background-image: none;
    @media (min-width: $md) {
      padding-top: 98px;
      background-image: url('/assets/images/fondo-home.jpg');
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: 50% auto;
      //padding-top: 90px;
    }
  }

}

