.contenido-general {
  display: flex;
  justify-content: flex-start; 
  align-items: stretch; 
  flex-direction: column;  
  height: 100%;

  #informacion {
    position: relative;
    z-index: 0;
    padding-top: 102px;
    flex-grow:1;
    align-self:auto;
  }

}

