
.info-cta-cte {
  background-color: $dorado-claro;
  border-radius: 0 0 6px 6px;
}

.info-destinatario-transferencia {
  border: 1px solid $dorado;
  border-radius: 5px;
  background-color: $dorado-claro;

  small {
    font-size: 15px;
  }
}

.monto-a-transferir {
  color: $blanco !important;
}
