<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Mis Seguros</h1>

      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="row" *ngIf="seguros.length > 0">
            
            <!-- Seguro hogar -->
            <div class="col-12" *ngIf="seguros[0]">
              <div class="card mb-3 mb-md-4 p-4 p-md-4">
                <div class="row">
                  <div class="col-12 d-flex align-items-center mb-4">
                    <div class="pe-4">
                      <span class="material-symbols-outlined fs-2 dorado">home</span>
                    </div>
                    <h4 class="mb-0">Seguro Hogar</h4>
                  </div>
                  <div class="col-12 col-md-4">
                    <p class="mb-3">Plan: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[0].plan }}</strong></p>
                    <p class="mb-3">Cuota Mensual: <br class="d-none d-md-block"><strong class="tinto">UF {{ seguros[0].cuota_mensual }}</strong></p>
                    <p class="mb-3">Cuotas: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[0].cuotas }}</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <p class="mb-3">Compañia: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[0].compania }}</strong></p>
                    <p class="mb-3">N° Seguro: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[0].numero_seguro }}</strong></p>
                    <p class="mb-3">Vigencia: <br class="d-none d-md-block"></p>
                    <p class="mb-3">Inicio: <br class="d-none d-md-block"> <strong class="tinto">{{ seguros[0].fecha_inicio }}</strong></p>
                    <p class="mb-3">Termino: <br class="d-none d-md-block"> <strong class="tinto">{{ seguros[0].fecha_termino }}</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <p class="mb-3">Póliza: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[0].poliza }}</strong></p>
                    <p class="mb-3">Forma de pago: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[0].forma_pago }}</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Seguro vida -->
            <div class="col-12" *ngIf="seguros[1]">
              <div class="card mb-3 mb-md-4 p-4 p-md-4">
                <div class="row">
                  <div class="col-12 d-flex align-items-center mb-4">
                    <div class="pe-4">
                      <span class="material-symbols-outlined fs-2 dorado">favorite</span>
                    </div>
                    <h4 class="mb-0">Seguro Vida</h4>
                  </div>
                  <div class="col-12 col-md-4">
                    <p class="mb-3">Plan: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[1].plan }}</strong></p>
                    <p class="mb-3">Cuota Mensual: <br class="d-none d-md-block"><strong class="tinto">UF {{ seguros[1].cuota_mensual }}</strong></p>
                    <p class="mb-3">Cuotas: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[1].cuotas }}</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <p class="mb-3">Compañia: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[1].compania }}</strong></p>
                    <p class="mb-3">N° Seguro: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[1].numero_seguro }}</strong></p>
                    <p class="mb-3">Vigencia: <br class="d-none d-md-block"></p>
                    <p class="mb-3">Inicio: <br class="d-none d-md-block"> <strong class="tinto">{{ seguros[1].fecha_inicio }}</strong></p>
                    <p class="mb-3">Termino: <br class="d-none d-md-block"> <strong class="tinto">{{ seguros[1].fecha_termino }}</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <p class="mb-3">Póliza: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[1].poliza }}</strong></p>
                    <p class="mb-3">Forma de pago: <br class="d-none d-md-block"><strong class="tinto">{{ seguros[1].forma_pago }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Banner -->
        <div class="d-none d-lg-block col-md-4">
          <mb-banner-visa-descuento></mb-banner-visa-descuento>
        </div>
      </div>
    </div>


  </div>
</div>