<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Mis Seguros</h1>

      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12">
              <!-- Seguro hogar -->
              <div class="card mb-3 mb-md-4 p-4 p-md-4">
                <div class="row">
                  <div class="col-12 d-flex align-items-center mb-4">
                    <div class="pe-4">
                      <span class="material-symbols-outlined fs-2 dorado">home</span>
                    </div>
                    <h4 class="mb-0">Seguro Hogar</h4>
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- <p class="mb-3">Plan: <br class="d-none d-md-block"><strong class="tinto">{{ seguro.Plan}}</strong></p>
                    <p class="mb-3">Cuota Mensual: <br class="d-none d-md-block"><strong class="tinto">UF {{seguro.CuotaMensual }}</strong></p>
                    <p class="mb-3">Cuotas: <br class="d-none d-md-block"><strong class="tinto">{{ seguro.Cuotas}}</strong></p> -->
                    <p class="mb-3">Plan: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Cuota Mensual: <br class="d-none d-md-block"><strong class="tinto">UF qweqweq</strong></p>
                    <p class="mb-3">Cuotas: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- <p class="mb-3">Compañia: <br class="d-none d-md-block"><strong class="tinto">{{seguro.Compania }}</strong></p>
                    <p class="mb-3">N° Seguro: <br class="d-none d-md-block"><strong class="tinto">{{seguro.NumeroSeguro }}</strong></p>
                    <p class="mb-3">Vigencia: <br class="d-none d-md-block"></p>
                    <p class="mb-3">Inicio: <br class="d-none d-md-block"> <strong class="tinto">{{seguro.FechaInicio }}</strong></p>
                    <p class="mb-3">Termino: <br class="d-none d-md-block"> <strong class="tinto">{{seguro.FechaTermino }}</strong></p> -->
                    <p class="mb-3">Compañia: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">N° Seguro: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Vigencia: <br class="d-none d-md-block"></p>
                    <p class="mb-3">Inicio: <br class="d-none d-md-block"> <strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Termino: <br class="d-none d-md-block"> <strong class="tinto">qweqweq</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <p class="mb-3">Póliza: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Forma de pago: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Seguro vida -->
            <div class="col-12">
              <div class="card mb-3 mb-md-4 p-4 p-md-4">
                <div class="row">
                  <div class="col-12 d-flex align-items-center mb-4">
                    <div class="pe-4">
                      <span class="material-symbols-outlined fs-2 dorado">favorite</span>
                    </div>
                    <h4 class="mb-0">Seguro Vida</h4>
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- <p class="mb-3">Plan: <br class="d-none d-md-block"><strong class="tinto">{{ seguro.Plan}}</strong></p>
                    <p class="mb-3">Cuota Mensual: <br class="d-none d-md-block"><strong class="tinto">UF {{seguro.CuotaMensual }}</strong></p>
                    <p class="mb-3">Cuotas: <br class="d-none d-md-block"><strong class="tinto">{{ seguro.Cuotas}}</strong></p> -->
                    <p class="mb-3">Plan: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Cuota Mensual: <br class="d-none d-md-block"><strong class="tinto">UF qweqweq</strong></p>
                    <p class="mb-3">Cuotas: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- <p class="mb-3">Compañia: <br class="d-none d-md-block"><strong class="tinto">{{seguro.Compania }}</strong></p>
                    <p class="mb-3">N° Seguro: <br class="d-none d-md-block"><strong class="tinto">{{seguro.NumeroSeguro }}</strong></p>
                    <p class="mb-3">Vigencia: <br class="d-none d-md-block"></p>
                    <p class="mb-3">Inicio: <br class="d-none d-md-block"> <strong class="tinto">{{seguro.FechaInicio }}</strong></p>
                    <p class="mb-3">Termino: <br class="d-none d-md-block"> <strong class="tinto">{{seguro.FechaTermino }}</strong></p> -->
                    <p class="mb-3">Compañia: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">N° Seguro: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Vigencia: <br class="d-none d-md-block"></p>
                    <p class="mb-3">Inicio: <br class="d-none d-md-block"> <strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Termino: <br class="d-none d-md-block"> <strong class="tinto">qweqweq</strong></p>
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- <p class="mb-3">Póliza: <br class="d-none d-md-block"><strong class="tinto">{{ seguro.Poliza }}</strong></p>
                    <p class="mb-3">Forma de pago: <br class="d-none d-md-block"><strong class="tinto">{{ seguro.NumeroSeguro }}</strong></p> -->
                    <p class="mb-3">Póliza: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                    <p class="mb-3">Forma de pago: <br class="d-none d-md-block"><strong class="tinto">qweqweq</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Banner -->
        <div class="d-none d-lg-block col-md-4">
          <div class="card card-banner banner-mibanco medio ms-2"
            style="background-image: url('./assets/images/banner-visa.jpg');">
            <div class="info-banner d-flex justify-content-around align-content-stretch">
              <div class="info-medio">
                <div class="d-flex flex-column">
                  <span class="titulo-banner text-start">
                    Paga con tu Tarjeta de Crédito Visa este mes y
                  </span>
                  <span class="texto-secundario">
                    Disfruta un descuento de
                  </span>
                  <span class="monto text-start rojo">
                    50%
                  </span>
                </div>
                <div class="d-flex flex-column justify-content-start mt-4">
                  <div>
                    <a class="btn-link d-flex align-items-center mb-3" type="button">
                      <div>
                        Más información
                      </div>
                      <span class="material-symbols-outlined icono-link">
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <span class="texto-legal me-3">
                    * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend finibus condimentum. Duis
                    est tortor, pulvinar vel sem sed, consequat pulvinar dolor. Praesent congue arcu id pellentesque
                    imperdiet.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>