<div class="col-12 mt-4">

  <div class="d-flex justify-content-md-between flex-column flex-md-row" *ngIf="buscadorDestinatarios">
    <div class="d-flex align-items-center mb-5">
      <p class="mb-0 me-3">Buscar destinatario</p>
      <form class="d-flex ml-5" role="search" >
        <input class="form-control me-2 buscador" type="search" aria-label="Search" [formControl]="busquedaDestinatarios">
      </form>
    </div>
  
    <div>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#crearDestinatarioCanvas" (click)="abrirOffcanvas()">
        Agregar nuevo destinatario
      </button>
    </div>
  </div>

  

  <!-- Tabla -->
  <form [formGroup]="transferenciaATercerosForm">
    <div>
      <table class="table tabla-agenda-transferencias" role="table" *ngIf="tablaDestinatarios">
        <thead role="columnheader"ead role="rowgroup">
          <tr role="row">
            <th role="columnheader" (click)="ordenarDatos('nombre'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span>
                  Destinatario
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'nombre'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'nombre'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('banco'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span>
                  Banco
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'banco'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'banco'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('rut'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span>
                  Rut
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'rut'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'rut'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('tipoCuenta'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span>
                  Tipo de cuenta
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'tipoCuenta'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'tipoCuenta'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('numeroCuenta'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span>
                  N° de cuenta
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'numeroCuenta'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'numeroCuenta'">
                  expand_more
                </span>
              </div>
            </th>
            <th role="columnheader" (click)="ordenarDatos('email'); onHeaderClick()">
              <div class="d-flex align-items-center">
                <span>
                  Email
                </span>
                <span class="material-symbols-outlined animar-icono" [class.rotated-in]="isRotatedIn && columnaSeleccionada === 'email'" [class.rotated-out]="!isRotatedIn && columnaSeleccionada === 'email'">
                  expand_more
                </span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <!-- <tr role="row" *ngFor="let destinatario of paginatedDestinatarios" [class]="getClassForDestinatario(destinatario.id)"> -->
          <tr role="row" *ngFor="let destinatario of paginatedDestinatarios">
            <td role="cell" class="ps-1">
              <span class="contenido-td ps-1">
                <div class="form-check me-3">
                  <!-- Cuando haces clic en este elemento de entrada de radio, se llama a seleccionarDestinatario(destinatario.id), que establece destinatarioId en el id del destinatario seleccionado -->
                  <input class="form-check-input" type="radio" id="destinatarioATransferir" (change)="seleccionarDestinatario(destinatario.id)" [disabled]="pasosTransferencia && destinatario.id === selectedId">
                  <label for="destinatarioATransferir">{{ destinatario.nombre }}</label>
                </div>
              </span>
            </td>
            <td role="cell">
              <span class="contenido-td">{{ destinatario.banco }}</span>
            </td>
            <td role="cell">
              <span class="contenido-td">{{ destinatario.rut| rut }}</span>
            </td>
            <td role="cell">
              <span class="contenido-td">{{ destinatario.tipoCuenta }}</span>
            </td>
            <td role="cell">
              <span class="contenido-td">{{ destinatario.numeroCuenta }}</span>
            </td>
            <td role="cell">
              <span class="contenido-td">{{ destinatario.email }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    
      <app-paginador *ngIf="!pasosTransferencia" [datosPaginador]="destinatarios" [itemsPerPage]="5" [currentPage]="1" (paginatedData)="paginatedDestinatarios = $event" [datosOrdenados]="datosOrdenados"></app-paginador>

      <div class="card p-4 mt-3" *ngIf="pasosTransferencia">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="m-0" *ngIf="destinatarioATransferirSeleccionado?.apodo">La transferencia se realizara a: <strong>{{ destinatarioATransferirSeleccionado?.apodo }}</strong> <small> ({{destinatarioATransferirSeleccionado?.nombre}})</small></p>
            <p class="m-0" *ngIf="!destinatarioATransferirSeleccionado?.apodo">La transferencia se realizara a: <strong>{{ destinatarioATransferirSeleccionado?.nombre }}</strong></p>
            <p class="m-0">Rut: <strong>{{ destinatarioATransferirSeleccionado?.rut }}</strong></p>
            <p class="m-0">Banco: <strong>{{ destinatarioATransferirSeleccionado?.banco }}</strong></p>
            <p class="m-0">{{ destinatarioATransferirSeleccionado?.tipoCuenta }}: <strong>{{ destinatarioATransferirSeleccionado?.numeroCuenta }}</strong></p>
          </div>
          <button class="btn btn-secondary" type="button" (click)="abrirModalCambioDestinatario(); ordenarDatos('nombre');">
            Cambiar destinatario
          </button>
        </div>

        <hr class="my-4">

        <!-- Datos a transferir -->
        <div class="row" *ngIf="ingresarDatos">
          <div class="col-6">

            <!-- Monto -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="montoATransferir" formControlName="montoATransferir" [class.is-invalid]="error1 || error2" [class.is-valid]="montoValido && !error1 && !error2" (focus)="vaciarMontoATransferir()" (keypress)="soloNumeros($event)" (blur)="validaMontoATransferir()">
              <label for="montoATransferir" class="form-label">Monto <span class="obligatorio">*</span></label>
              <div *ngIf="error1" class="invalid-feedback">
                <span>Debes ingresar un monto superior a 0.</span>
              </div>
              <div *ngIf="error2" class="invalid-feedback">
                <span>El monto ingresado para el pago es superior al saldo.</span>
              </div>
              <div *ngIf="montoValido" class="valid-feedback">
                <span>El monto es correcto.</span>
              </div>
            </div>

            <!-- Mensaje -->
            <div class="form-floating mb-3">
              <textarea type="text" class="form-control" id="mensaje" formControlName="mensaje"></textarea>
              <label for="mensaje" class="form-label">Mensaje</label>
            </div>

            <!-- Email -->
            <div class="input-group form-floating mb-3">
              <input type="email" class="form-control" formControlName="emailDestinatario" 
              [class.is-invalid]="transferenciaATercerosForm.get('emailDestinatario')?.invalid && transferenciaATercerosForm.get('emailDestinatario')?.touched" 
              [class.is-valid]="transferenciaATercerosForm.get('emailDestinatario')?.valid && transferenciaATercerosForm.get('emailDestinatario')?.touched" 
              (blur)="validaEmail('emailDestinatario')"
              (input)="continuarTransferencia = false"> <!-- Establece continuarTransferencia en false cada vez que el usuario ingresa un carácter -->
              <label for="emailDestinatario" class="form-label emailTransferencia">Email <span class="obligatorio">*</span></label>
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="vaciarEmailDestinatario()">
                <span class="material-symbols-outlined">
                  close
                </span>
              </button>
              <div *ngIf="transferenciaATercerosForm.controls['emailDestinatario'].errors?.['required'] && transferenciaATercerosForm.controls['emailDestinatario'].touched" class="invalid-feedback">
                El campo Email no puede quedar vacío.
              </div>
              <div *ngIf="transferenciaATercerosForm.controls['emailDestinatario'].errors?.['customEmail'] && transferenciaATercerosForm.controls['emailDestinatario'].touched" class="invalid-feedback">
                Debe ser un email válido.
              </div>
              <div *ngIf="inputValidoEmail" class="valid-feedback">
                El email es valido.
              </div>
            </div>


            <button class="btn btn-primary" type="button" id="botonContinarTransferencia" (click)="botonContinuar()" [class.disabled]="!continuarTransferencia">
              Continuar
            </button>
          </div>
          <div class="col-6">
            <div class="alert alert-primary" role="alert">
              <h5>Ingresa el monto a transferir</h5>
              <p>
                Los campos monto e email son obligatorios.
              </p>
            </div>
          </div>
        </div>

        <!-- Confirmar datos -->
        <div class="row mt-4" *ngIf="confirmarDatos">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="montoATransferirOk" formControlName="montoATransferirOk">
              <label for="montoATransferir" class="form-label">Monto</label>
            </div>
            <div class="form-floating mb-3">
              <textarea type="text" class="form-control" id="mensajeOk" formControlName="mensajeOk"></textarea>
              <label for="mensaje" class="form-label">Mensaje</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="emailDestinatarioOk" formControlName="emailDestinatarioOk">
              <label for="emailDestinatario" class="form-label">Email</label>
            </div>
            <button class="btn btn-secondary" type="button">
              Modificar datos
            </button>
          </div>
          <div class="col-6">
            <div class="alert alert-primary" role="alert">
              <h5>
                Confirmar los datos de la transferencia.
              </h5>
            </div>
          </div>
        </div>

        <!-- Confirmar datos -->
        <div class="row mt-4" *ngIf="realizarTransferencia">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="montoATransferirOk" formControlName="montoATransferirOk">
              <label for="montoATransferir" class="form-label">Monto</label>
            </div>
            <div class="form-floating mb-3">
              <textarea type="text" class="form-control" id="mensajeOk" formControlName="mensajeOk"></textarea>
              <label for="mensaje" class="form-label">Mensaje</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="emailDestinatarioOk" formControlName="emailDestinatarioOk">
              <label for="emailDestinatario" class="form-label">Email</label>
            </div>
          </div>
          <div class="col-6">
            <div class="alert alert-primary" role="alert">
              <h5>Datos confirmados</h5>
              <p>
                Se transferira el monto de <strong>$100.000</strong> a <strong>NOMBRE</strong> con el mensaje <strong>"Mensaje"</strong> al email <strong>Email</strong>
              </p>
            </div>
          </div>

          <div class="col-12 mt-4">
            <button class="btn btn-primary mx-auto" type="button">
              Realizar transferencia
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>


<!-- Sidenav para crear nuevo destinatario -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="crearDestinatarioCanvas">
  <app-agregar-destinatario (mostrarBackdropCustomChange)="mostrarBackdropCustomOffcanvasEstado = $event"></app-agregar-destinatario>
</div>

<!-- Modal cambios destinatario -->
<div class="modal fade" id="modalCambiosDestinatario" tabindex="-1" aria-labelledby="modalCambiosDestinatario" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body px-4 py-5">

        <div>
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes aviso">
              warning
            </span>
            <h4 class="mb-3 text-starts">¿Estás seguro de que quieres cambiar el actual destinatario?</h4>
          </div>
          <div class="w-100">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal" (click)="cambiarDestinatario()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal nuevo destinatario -->
<div class="modal fade" id="modalNuevoDestinatario" tabindex="-1" aria-labelledby="modalNuevoDestinatario" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body px-4 py-5">

        <div *ngIf="enviandoNuevoDestinatario">
          <div class="d-flex">
            <span class="icono material-symbols-outlined mensajes cargando ms-2">
              sync
            </span>
            <h4 class="mb-3 ms-3 text-starts">Se estan guardando los nuevos datos del nuevo destinatario.</h4>
          </div>
          <div class="w-100 text-center">
            <span>Espera un momento por favor.</span>
          </div>
        </div>

        <div *ngIf="datosGuardadosNuevoDestinatario">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes valido">
              done
            </span>
            <h4 class="mb-3 text-starts">El nuevo destinatario se guardo con éxito.</h4>
          </div>
          <div class="w-100">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal" (click)="cambiarANuevoDestinatarios()">Cerrar</button>
          </div>
        </div>

        <div *ngIf="errorServerNuevoDestinatario">
          <div class="d-flex">
            <span class="icono material-symbols-outlined d-block me-3 mensajes error">
              Error
            </span>
            <div>
              <h4 class="mb-2 text-starts">Hubo un error al intentar guardar el nuevo destinatario.</h4>
              <span>Intento mas tarde.</span>
            </div>
          </div>
          <div class="w-100 mt-3">
            <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop-custom" *ngIf="mostrarBackdropCustomModal" [@fadeInOut]></div>
<div class="backdrop-custom" *ngIf="mostrarBackdropCustomOffcanvasEstado" [@fadeInOut]></div>