<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5">
        <h1>Mis Seguros</h1>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card p-4 mb-4">
        <div class="row">
          <div class="col-12 d-flex align-items-center mb-4">
            <div class="pe-4">
              <span class="material-symbols-outlined fs-2">home</span>
            </div>
            <h4>Seguro Hogar</h4>
          </div>
          <div class="col-5">
            <div class="d-flex">
              <div>
                <p class="mb-0">Plan</p>
                <p><strong>{{ segurosUsuario?.seguros?.[0]?.plan }}</strong></p>
                <p class="mb-0">Cuota Mensual</p>
                <p><strong>UF {{ segurosUsuario?.seguros?.[0]?.cuotaMensual }}</strong></p>
                <p class="mb-0">Cuotas</p>
                <p><strong>{{ segurosUsuario?.seguros?.[0]?.cuotas }}</strong></p>
              </div>
            </div>
          </div>
          <div class="col">
            <p class="mb-0">Compañia</p>
            <p><strong>{{ segurosUsuario?.seguros?.[0]?.compania }}</strong></p>
            <p class="mb-0">N° Seguro</p>
            <p><strong>{{ segurosUsuario?.seguros?.[0]?.nSeguro }}</strong></p>
            <p class="mb-0">Vigencia</p>
            <p class="mb-0">Inicio <strong>{{ segurosUsuario?.seguros?.[0]?.fechaInicio }}</strong></p>
            <p>Termino <strong>{{ segurosUsuario?.seguros?.[0]?.fechaTermino }}</strong></p>
          </div>
          <div class="col">
            <p class="mb-0">Póliza</p>
            <p><strong>{{ segurosUsuario?.seguros?.[0]?.poliza }}</strong></p>
            <p class="mb-0">Forma de pago</p>
            <p><strong>{{ segurosUsuario?.seguros?.[0]?.nSeguro }}</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card p-4 mb-4">
        <div class="row">
          <div class="col-12 d-flex align-items-center mb-4">
            <div class="pe-4">
              <span class="material-symbols-outlined fs-2">favorite</span>
            </div>
            <h4>Seguro Vida</h4>
          </div>
          <div class="col-5">
            <div class="d-flex">
              <div>
                <p class="mb-0">Plan</p>
                <p><strong>{{ segurosUsuario?.seguros?.[1]?.plan }}</strong></p>
                <p class="mb-0">Cuota Mensual</p>
                <p><strong>UF {{ segurosUsuario?.seguros?.[1]?.cuotaMensual }}</strong></p>
                <p class="mb-0">Cuotas</p>
                <p><strong>{{ segurosUsuario?.seguros?.[1]?.cuotas }}</strong></p>
              </div>
            </div>
          </div>
          <div class="col">
            <p class="mb-0">Compañia</p>
            <p><strong>{{ segurosUsuario?.seguros?.[1]?.compania }}</strong></p>
            <p class="mb-0">N° Seguro</p>
            <p><strong>{{ segurosUsuario?.seguros?.[1]?.nSeguro }}</strong></p>
            <p class="mb-0">Vigencia</p>
            <p class="mb-0">Inicio <strong>{{ segurosUsuario?.seguros?.[1]?.fechaInicio }}</strong></p>
            <p>Termino <strong>{{ segurosUsuario?.seguros?.[1]?.fechaTermino }}</strong></p>
          </div>
          <div class="col">
            <p class="mb-0">Póliza</p>
            <p><strong>{{ segurosUsuario?.seguros?.[1]?.poliza }}</strong></p>
            <p class="mb-0">Forma de pago</p>
            <p><strong>{{ segurosUsuario?.seguros?.[1]?.nSeguro }}</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card p-5">
        <h4 class="d-flex justify-content-between mt-3">Seguro Accidentes</h4>
        <p>Contrata Seguro Accidentes, oferta exclusiva para el presente mes.</p>
        <p>Valor mensual: <strong>{{ ofertasProductos?.ofertas?.[1]?.montoPreAprobado }}</strong></p>
        <button class="btn btn-outline-secondary" type="button">Contratar Seguro</button>
      </div>
    </div>
  </div>
</div>