<div class="tab-pane movimientos active" id="movimientos-tab-pane" role="tabpanel" aria-labelledby="movimientos-tab" tabindex="0">
  
  <div class="col-12 p-4 pb-0">
    <h4>Últimos Movimientos</h4>
  </div>

  <hr class="my-4">

  <div class="px-4 pt-0">
    <mb-buscador-tabla [tituloBuscador]="'Buscar transaccion'" (datosFiltradosEvent)="handleDatosFiltrados($event)"></mb-buscador-tabla>
  </div>
  
  <div [ngClass]="{'oculto': !tablaConDatos}">
    <mb-tabla-movimientos 
    [claseTabla]="'tabla-movimientos'"
    [id]="transaccionesCuentaCorriente" 
    [mostrarColumnaDestinatario]="false"
    [mostrarColumnaRut]="false"
    [mostrarColumnaNombreProducto]="false"
    [mostrarColumnaMensaje]="false" 
    [mostrarColumnaDetalle]="true" 
    [mostrarColumnaAbono]="true" 
    [mostrarColumnaSaldo]="true" 
    [mostrarPaginador]="mostrarPaginador"
    [transProducto]="'ctaCte'">
  </mb-tabla-movimientos>
  </div>
  

  <div *ngIf="mostrarAlerta" class="p-4">
    <mb-alertas [icono]="true" [tipoAlerta]="'warning'" [mensajeTitulo]="'No se encontraron resultados.'" 
    [textoBoton]="'Ocultar'" [boton]="false" [tipoBoton]="'btn-secundario'"></mb-alertas>
  </div>
</div>