<div class="tab-pane movimientos active" id="movimientos-tab-pane" role="tabpanel" aria-labelledby="movimientos-tab" tabindex="0">
  
  <div class="col-12 p-4 pb-0">
    <h4>Últimos Movimientos</h4>
  </div>

  <hr class="my-4">

  <div class="px-4 pt-0">
    <!-- <app-buscador-tabla [tituloBuscador]="'Buscar movimiento'"></app-buscador-tabla> -->
    <app-buscador-tabla [tituloBuscador]="'Buscar movimiento'"></app-buscador-tabla>
  </div>
  <!-- <div class="p-0 p-md-4 pt-md-0"> -->
  <!-- <app-tabla-movimientos [id]="transaccionesCuentaCorriente" [mostrarPaginador]="mostrarPaginador" [nuevaClase]="'table-productos'" (datosFiltradosEvent)="handleDatosFiltrados([$event])"></app-tabla-movimientos> -->
  <app-tabla-movimientos></app-tabla-movimientos>
</div>