<div class="tab-pane movimientos active" id="movimientos-tab-pane" role="tabpanel" aria-labelledby="movimientos-tab" tabindex="0">
  
  <div class="col-12 p-4 pb-0">
    <h4>Últimos Movimientos</h4>
  </div>

  <hr class="my-4">

  <div class="px-4 pt-0">
    <app-buscador-tabla [tituloBuscador]="'Buscar movimiento'"></app-buscador-tabla>
  </div>
  <app-tabla-movimientos [id]="transaccionesCuentaCorriente" [mostrarPaginador]="mostrarPaginador" [claseTabla]="'tabla-movimientos'" [idProducto]="0"></app-tabla-movimientos>
</div>