<div class="col-12">
  <div class="px-4 pt-0">
    <mb-buscador-tabla [tituloBuscador]="'Buscar transferencia'" (datosFiltradosEvent)="handleDatosFiltrados($event)"></mb-buscador-tabla>
  </div>
  <mb-tabla-movimientos 
    [id]="transaccionesFiltradas" 
    [claseTabla]="'tabla-ultimas-transferencias'" 
    [mostrarColumnaDestinatario]="true"
    [mostrarColumnaRut]="true"
    [mostrarColumnaNombreProducto]="false"
    [mostrarColumnaMensaje]="true" 
    [mostrarColumnaDetalle]="false" 
    [mostrarColumnaAbono]="false" 
    [mostrarColumnaSaldo]="false"
    [transProducto]="'ctaCte'"
    >
  </mb-tabla-movimientos>
</div>