<!-- Muestra resumen de transacciones de visa -->
<ng-container *ngIf="movimientosVisa">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mt-3 mt-md-5">
          <h1>
            Visa
            <span>N° {{numeroProducto}}</span>
          </h1>

          <div class="card p-4 mt-4">
            <div class="d-flex justify-content-between flex-column flex-md-row">
              <div class="d-flex align-items-center">
                <p class="mb-0">
                  Último pago realizado el <br class="d-md-none"><strong>{{ fechaUltimoAbono | date:"dd / MM / yyyy" }}</strong>,<br class="d-md-none"> por un valor de  <strong>{{ ultimoMontoAbono | pesos }}</strong>.
                </p>
              </div>
              <button class="btn btn-primario mt-3 mt-md-0" (click)="mostrarPagoVisa()">Pagar Visa</button>
            </div>
          </div>

          <div class="card mt-4">
            <div class="p-4">
              <app-buscador-tabla [tituloBuscador]="'Buscar transacción'"></app-buscador-tabla>
            </div>
            <!-- Importacion de componente tables -->
            <div class="p-0 p-md-4 pt-md-0">
              <app-tables [id]="transaccionesVisa" [mostrarPaginador]="mostrarPaginador" [nuevaClase]="'table-productos'" (datosFiltradosEvent)="handleDatosFiltrados([$event])"></app-tables>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Muestra formulario pago -->
<ng-container *ngIf="formularioPagoVisa">
  <app-visa-pago></app-visa-pago>
</ng-container>

<!-- Muestra comprobante de pago -->
<ng-container *ngIf="comprobantePagoVisa">
  <app-visa-comprobante></app-visa-comprobante>
</ng-container>