<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mt-5">
          <div class="card text-center p-5">
            <h1 class="mb-5">Tu pago se realizo con exito</h1>
            <h4 class="mb-4">
              Se abono un monto de  <strong>{{ abono | pesos }}</strong> en tu tarjeta de credito Visa<br> numero <strong>{{ numeroVisa }}</strong>.
            </h4>
            <h5>Enviamos el comprobante de pago a tu email {{ datosUsuarioActual?.datosUsuario?.email }}</h5>
            <br>
            <div class="row">
              <div class="col-6 mx-auto d-flex">
                <a class="btn btn-info m-auto d-flex align-items-center p-2">
                  <span class="material-symbols-outlined">
                    picture_as_pdf
                  </span>
                  <span class="ms-2">
                    Descargo comprobante
                  </span>
                </a>
                <a class="btn btn-info m-auto d-flex align-items-center p-2" routerLink="/mibanco/">
                  <span class="material-symbols-outlined">
                    chevron_left
                  </span>
                  <span class="ms-2">
                    Volver
                  </span>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>