<ng-container *ngIf="movimientosLineaDeCredito">
  <div class="container pb-5">
    <div class="row">
      <div class="col-12 px-4 px-md-auto">

        <h1 *ngIf="productos.length > 0">
          {{ productos[1].nombre_producto }}
          <span>N° {{ productos[1].numero_producto }}</span>
        </h1>

        <div class="card p-4 mt-4">
          <div class="d-flex justify-content-between flex-column align-items-center flex-md-row">
            <div class="d-flex align-items-center">
              <small class="mb-0">
                Último pago realizado el <br class="d-md-none">
                <strong class="tinto">{{ fecha | date:"dd / MM / yyyy" }}</strong>,
                <br class="d-md-none"> por un valor de 
                <strong class="tinto">{{ abono | pesos }}</strong>.
              </small>
            </div>
            <div>
              <button class="btn btn-primario mt-3 mt-md-0" (click)="mostrarPagoLineaDeCredito()">Pagar</button>
            </div>
          </div>
        </div>

        <div class="card mt-4">
          <div class="p-4">
            <mb-buscador-tabla [tituloBuscador]="'Buscar transaccion'" (datosFiltradosEvent)="handleDatosFiltrados($event)"></mb-buscador-tabla>
          </div>

          <div *ngIf="tablaConDatos">
            <mb-tabla-movimientos 
              [id]="transaccionesLineaCre"
              [claseTabla]="'tabla-movimientos'" 
              [mostrarColumnaDestinatario]="false"
              [mostrarColumnaRut]="false"
              [mostrarColumnaNombreProducto]="false"
              [mostrarColumnaMensaje]="false" 
              [mostrarColumnaDetalle]="true" 
              [mostrarColumnaAbono]="true" 
              [mostrarColumnaSaldo]="true" 
              [mostrarPaginador]="mostrarPaginador" 
              [transProducto]="'lineaCredito'" >
            </mb-tabla-movimientos>
          </div>

          <div *ngIf="mostrarAlerta" class="ps-4 pe-4 pb-4">
            <mb-alertas [icono]="true" [tipoAlerta]="'warning'" [mensajeTitulo]="'No se encontraron resultados.'" [textoBoton]="'Ocultar'" [boton]="false" [tipoBoton]="'btn-secundario'"></mb-alertas>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>

<!-- Muestra formulario pago -->
<ng-container *ngIf="formularioPagoLineaDeCredito">
  <mb-linea-credito-pago (cancelacionConfirmada)="onCancelacionConfirmada()"></mb-linea-credito-pago>
</ng-container>

<!-- Muestra comprobante de pago -->
<ng-container *ngIf="comprobantePagoLineaDeCredito">
  <mb-linea-credito-comprobante></mb-linea-credito-comprobante>
</ng-container>