<!-- <ng-container *ngIf="movimientosLineaDeCredito"> -->
<ng-container>
  <div class="container pb-5">
    <div class="row" *ngIf="productos.length > 0">
      <div class="col-12 px-4 px-md-auto">

        <h1>
          {{ productos[1].nombre_producto }}
          <span>N° {{ productos[1].numero_producto }}</span>
        </h1>

        <div class="card p-4 mt-4">
          <div class="d-flex justify-content-between flex-column align-items-center flex-md-row">
            <div class="d-flex align-items-center" *ngIf="transaccionMasReciente">
              <small class="mb-0">
                Último pago realizado el <br class="d-md-none">
                <strong class="tinto">{{ transaccionMasReciente.fecha | date:"dd / MM / yyyy" }}</strong>,
                <br class="d-md-none"> por un valor de 
                <strong class="tinto">{{ transaccionMasReciente.abono | pesos }}</strong>.
              </small>
            </div>
            <div>
              <button class="btn btn-primario mt-3 mt-md-0" (click)="mostrarPagoLineaDeCredito()">Pagar</button>
            </div>
          </div>
        </div>

        <app-tabla-linea-credito></app-tabla-linea-credito>

      </div>
    </div>
  </div>
</ng-container>

<!-- Muestra formulario pago -->
<ng-container *ngIf="formularioPagoLineaDeCredito">
  <app-linea-credito-pago></app-linea-credito-pago>
</ng-container>

<!-- Muestra comprobante de pago -->
<ng-container *ngIf="comprobantePagoLineaDeCredito">
  <app-linea-credito-comprobante></app-linea-credito-comprobante>
</ng-container>