<form [formGroup]="editarDestinatarioForm" (ngSubmit)="guardarDestinatario()">
  <div class="offcanvas-header">
    <div class="contenido-offcanvas-header d-flex align-items-start justify-content-between">
      <div>
        <span class="titulo" id="crearDestinatarioCanvas">Editar datos de destinatario.</span>
        <span class="nota"><span class="rojo">*</span> Campos son obligatorios</span>
      </div>
      <a href="javascript:void(0);" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cancelar()">
        <span class="material-symbols-outlined">
          close
        </span>
      </a>
    </div>
  </div>


  <div class="offcanvas-body">
    <div class="col-12">
        <!-- Nombre -->
        <div class="form-floating mb-4">
          <input type="text" class="form-control" formControlName="nombreDestinatario" 
          [class.is-invalid]="editarDestinatarioForm.get('nombreDestinatario')?.invalid && editarDestinatarioForm.get('nombreDestinatario')?.touched" 
          [class.is-valid]="editarDestinatarioForm.get('nombreDestinatario')?.valid && editarDestinatarioForm.get('nombreDestinatario')?.touched" 
          (blur)="validaNombre();">
          <label for="nombreDestinatario">Nombre y Apellido <span class="obligatorio">*</span></label>
          <div *ngIf="editarDestinatarioForm.get('nombreDestinatario')?.errors?.['inputErrorVacioNombre'] && editarDestinatarioForm.get('nombreDestinatario')?.touched" class="invalid-feedback">
            <span>El campo no puede quedar vacío.</span>
          </div>
          <div *ngIf="editarDestinatarioForm.get('nombreDestinatario')?.errors?.['inputErrorApellido'] && editarDestinatarioForm.get('nombreDestinatario')?.touched" class="invalid-feedback">
            <span>Debes agregar un apellido.</span>
          </div>
          <div *ngIf="editarDestinatarioForm.get('nombreDestinatario')?.valid && editarDestinatarioForm.get('nombreDestinatario')?.touched" class="valid-feedback">
            <span>El nombre es válido.</span>
          </div>
        </div>
    
        <!-- Apodo -->
        <div class="form-floating mb-4">
          <input type="text" class="form-control" formControlName="apodoDestinatario" 
          [class.is-invalid]="editarDestinatarioForm.get('apodoDestinatario')?.invalid && editarDestinatarioForm.get('apodoDestinatario')?.touched && editarDestinatarioForm.get('apodoDestinatario')?.value" 
          [class.is-valid]="editarDestinatarioForm.get('apodoDestinatario')?.valid && editarDestinatarioForm.get('apodoDestinatario')?.touched && editarDestinatarioForm.get('apodoDestinatario')?.value" 
          (blur)="validaTelefono()" (keypress)="soloNumeros($event)">
          <label for="apodoDestinatario">Apodo</label>
        </div>
    
        <!-- rut -->
        <div class="form-floating mb-4">
          <input type="text" class="form-control" formControlName="rutDestinatario" [class.is-invalid]="editarDestinatarioForm.get('rutDestinatario')?.invalid && editarDestinatarioForm.get('rutDestinatario')?.touched" [class.is-valid]="editarDestinatarioForm.get('rutDestinatario')?.valid && editarDestinatarioForm.get('rutDestinatario')?.touched" (blur)="validaRut();" (keypress)="formatoRut($event);">
          <label for="rutDestinatario">Rut <span class="obligatorio">*</span></label>
          <div *ngIf="editarDestinatarioForm.get('rutDestinatario')?.errors?.['inputErrorVacioRut'] && editarDestinatarioForm.get('rutDestinatario')?.touched" class="invalid-feedback">
            <span>El campo no puede quedar vacío.</span>
          </div>
          <div *ngIf="editarDestinatarioForm.get('rutDestinatario')?.errors?.['inputErrorFormatoRut'] && editarDestinatarioForm.get('rutDestinatario')?.touched" class="invalid-feedback">
            <span>El rut ingresado no es válido.</span>
          </div>
          <div *ngIf="editarDestinatarioForm.get('rutDestinatario')?.valid && editarDestinatarioForm.get('rutDestinatario')?.touched" class="valid-feedback">
            <span>El rut es válido.</span>
          </div>
        </div>
    
        <!-- banco -->
        <div class="form-floating mb-4">
          <custom-select-reactivo [control]="editarDestinatarioForm.get('bancoDestinatario')" [options]="listaBancos" [selectedValue]="bancoSeleccionado" [zIndex]="6000" [submitted]="submitted" [labelSelect]="'Banco *'" [isValid]="bancoValido" [isInvalid]="bancoInvalido" (click)="editarDatos()"></custom-select-reactivo>
          <div *ngIf="bancoInvalidoMensaje" class="invalid-feedback d-block">
            Debes seleccionar un banco.
          </div>
        </div>
    
        <!-- Tipo cuenta -->
        <div class="form-floating mb-4">
          <custom-select-reactivo [control]="editarDestinatarioForm.get('cuentaDestinatario')" [options]="tiposCuenta" [selectedValue]="tipoCuentaSeleccionada" [zIndex]="5000" [submitted]="submitted" [labelSelect]="'Tipo de cuenta *'" [isValid]="cuentaValida" [isInvalid]="cuentaInvalida" (click)="editarDatos()"></custom-select-reactivo>
          <div *ngIf="cuentaInvalidaMensaje" class="invalid-feedback d-block">
            Debes seleccionar un tipo de cuenta.
          </div>
        </div>
        
    
        <!-- Numero cuenta -->
        <div class="form-floating mb-4">
          <input type="text" class="form-control" formControlName="numeroCuentaDestinatario" [class.is-invalid]="editarDestinatarioForm.get('numeroCuentaDestinatario')?.invalid && editarDestinatarioForm.get('numeroCuentaDestinatario')?.touched" [class.is-valid]="editarDestinatarioForm.get('numeroCuentaDestinatario')?.valid && editarDestinatarioForm.get('numeroCuentaDestinatario')?.touched" (blur)="validaNumeroCuenta();" (keypress)="soloNumeros($event)">
          <label for="numeroCuentaDestinatario">Número de cuenta <span class="obligatorio">*</span></label>
          <div *ngIf="editarDestinatarioForm.get('numeroCuentaDestinatario')?.errors?.['inputErrorVacioNumeroCuenta'] && editarDestinatarioForm.get('numeroCuentaDestinatario')?.touched" class="invalid-feedback">
            <span>El campo no puede quedar vacío.</span>
          </div>
          <div *ngIf="editarDestinatarioForm.get('numeroCuentaDestinatario')?.valid && editarDestinatarioForm.get('numeroCuentaDestinatario')?.touched" class="valid-feedback">
            <span>El número de cuenta es válido.</span>
          </div>
        </div>
    
        <!-- Email -->
        <div class="form-floating mb-3">
          <input type="email" class="form-control" formControlName="emailDestinatario" 
          [class.is-invalid]="editarDestinatarioForm.get('emailDestinatario')?.invalid && editarDestinatarioForm.get('emailDestinatario')?.touched" 
          [class.is-valid]="editarDestinatarioForm.get('emailDestinatario')?.valid && editarDestinatarioForm.get('emailDestinatario')?.touched" 
          (blur)="validaEmail('emailDestinatario')">
          <label for="emailDestinatario">Email<span class="obligatorio">*</span></label>
          <div *ngIf="editarDestinatarioForm.controls['emailDestinatario'].errors?.['required'] && editarDestinatarioForm.controls['emailDestinatario'].touched" class="invalid-feedback">
            El campo Email no puede quedar vacío.
          </div>
          <div *ngIf="editarDestinatarioForm.controls['emailDestinatario'].errors?.['customEmail'] && editarDestinatarioForm.controls['emailDestinatario'].touched" class="invalid-feedback">
            Debe ser un email válido.
          </div>
          <div *ngIf="inputValidoEmail" class="valid-feedback">
            El email es valido.
          </div>
        </div>
    
        <!-- Celular -->
        <div class="form-floating mb-4">
          <input type="text" class="form-control celular" formControlName="celularDestinatario" 
          [class.is-invalid]="editarDestinatarioForm.get('celularDestinatario')?.invalid && editarDestinatarioForm.get('celularDestinatario')?.touched && editarDestinatarioForm.get('celularDestinatario')?.value" 
          [class.is-valid]="editarDestinatarioForm.get('celularDestinatario')?.valid && editarDestinatarioForm.get('celularDestinatario')?.touched && editarDestinatarioForm.get('celularDestinatario')?.value" 
          (blur)="validaCelular()" (keypress)="soloNumeros($event)" maxlength="11">
          <label for="celularDestinatario">Celular</label>
          <div class="prefijo-chile"></div>
          <div *ngIf="inputErrorCelularInvalido && editarDestinatarioForm.get('celularDestinatario')?.touched" class="invalid-feedback">
            <span>El número ingresado no es válido.</span>
          </div>
        </div>
    
        <!-- Telefono -->
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="telefonoDestinatario" 
          [class.is-invalid]="editarDestinatarioForm.get('telefonoDestinatario')?.invalid && editarDestinatarioForm.get('telefonoDestinatario')?.touched && editarDestinatarioForm.get('telefonoDestinatario')?.value" 
          [class.is-valid]="editarDestinatarioForm.get('telefonoDestinatario')?.valid && editarDestinatarioForm.get('telefonoDestinatario')?.touched && editarDestinatarioForm.get('telefonoDestinatario')?.value" 
          (blur)="validaTelefono()" (keypress)="soloNumeros($event)" maxlength="11">
          <label for="telefonoDestinatario">Teléfono Fijo</label>
          <div *ngIf="inputErrorTelefonoFijoInvalido && editarDestinatarioForm.get('telefonoDestinatario')?.touched" class="invalid-feedback">
            <span>El número ingresado no es válido.</span>
          </div>
        </div>
    </div>
  </div>

  <div class="offcanvas-footer">
    <!-- Botones -->
    <div class="d-flex flex-column">
      <button type="submit" class="btn btn-primario mb-3" data-bs-dismiss="offcanvas" aria-label="Close" [class.disabled]="!botonGuardarDisabled">Guardar cambios</button>
      <button type="button" class="btn btn-secundario" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</form>
