<app-carousel></app-carousel>

<div class="container" *ngIf="datosUsuarioActual && productosUsuario && ofertasProductos ">
  <div class="row">
    <div class="col-12">
      
      
      <div class="row align-items-md-stretch">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card p-4 p-md-4 my-4">
            <h4>Cuenta Corriente</h4>
            <small><strong>N° {{ numeroCtaCte }}</strong></small>
            <p>Disponible: <strong>{{ cupoCtaCte | pesos }}</strong></p>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card p-4 p-md-4 my-4">
            <h4 class="d-flex justify-content-between">
              <span class="mb-2">Línea de Crédito</span>
              <span><button class="btn btn-xs" type="button">Pagar</button></span>
            </h4>
            <small><strong>N° {{ numeroLineaCredito }}</strong></small>
            <p>Disponible: <strong>{{ cupoLineaCredito | pesos }}</strong></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-4 p-md-4 my-4">
            <h4 class="d-flex justify-content-between">
              <span>Visa</span>
              <span><button class="btn btn-xs" type="button" routerLink="/mibanco/transacciones/visa/pago">Pagar</button></span>
            </h4>
            <small><strong>N° {{ numeroVisa }}</strong></small>
            <p>Disponible: <strong>{{ cupoVisa | pesos }}</strong></p>
          </div>
        </div>

        <div class="col-12">
          <div class="card p-4 p-md-5 mb-4 banner-principal">
            <h4>Hola {{ datosUsuarioActual.datosUsuario.primerNombre }} {{ datosUsuarioActual.datosUsuario.apellidoPaterno }}, tienes un crédito de consumo <br>pre-aprobado por un monto de: </h4>
            <h2 class="mb-4">
              <strong>{{ montoPreAprobadoCreditoConsumo | pesos }}</strong>
            </h2>
            <div>
              <button class="btn btn-primary" type="button">Solicitar crédito</button>
            </div>
          </div>
        </div>

        <!-- Banner seguro -->
        <div class="col-md-6 mb-3 mb-md-0">
          <div class="card p-4 p-md-4 mt-4">
            <h4 class="d-flex justify-content-between">Seguro Auto</h4>
            <p>Contrata Seguro Accidentes, oferta exclusiva para el presente mes.</p>
            <p>Valor mensual: <strong>UF {{ montoPreAprobadoSeguroAuto }}</strong></p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-outline-secondary" type="button">Contratar Seguro</button>
            </div>
          </div>
        </div>

        <!-- Banner visa -->
        <div class="col-md-6">
          <div class="card p-4 p-md-4 mt-4">
            <h4 class="d-flex justify-content-between">Paga con Visa este mes y</h4>
            <p>Obten un descuento en restaurantes de:</p>
            <h4><strong>{{ montoPreAprobadoDescuentoVisa | percent }}</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
